<template>
  <b-card-code no-body>
    <b-card-body>
      <b-row>
        <b-col cols="12" class="d-flex justify-content-end">
          <b-button
            variant="secondary"
            @click="$router.push('/admin/pre-order/create')"
          >
            <feather-icon icon="PlusIcon" />
            <span class="ml-25 align-middle">Add New</span>
          </b-button>
        </b-col>
        <b-col cols="12" md="3">
          <b-form-group label="Search" class="mb-1 mb-sm-0">
            <b-form-input
              id="search"
              v-model="params.search"
              type="search"
              placeholder="Type to search"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12" md="3">
          <b-form-group label="Product Name" class="mb-1 mb-sm-0">
            <b-form-input
              id="searchProduct"
              v-model="params.product"
              type="search"
              placeholder="Type to search product name"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12" md="3">
          <b-form-group label="Start Date" class="mb-0">
            <flat-pickr
              v-model="params.start_date"
              class="form-control"
              :config="config.start"
              placeholder="Start date"
              @on-change="onStartChange"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12" md="3">
          <b-form-group label="End Date" class="mb-0">
            <flat-pickr
              v-model="params.end_date"
              class="form-control"
              :config="config.end"
              placeholder="End date"
            />
          </b-form-group>
        </b-col>
      </b-row>
    </b-card-body>

    <b-table
      hover
      responsive
      :current-page="params.page"
      per-page="0"
      :items="datas"
      :fields="fields"
      :busy="loading"
      show-empty
      @sort-changed="sortChanged"
    >
      <template #table-busy>
        <div class="text-center my-2">
          <b-spinner small type="grow"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template #cell(photo_url)="data">
        <b-img-lazy
          :src="formatImage(data.value)"
          :alt="data.item.title"
          style="border-radius: 8px; object-fit: cover"
          width="100"
          height="100"
        ></b-img-lazy>
      </template>
      <template #cell(start_date)="data">
        <span>{{ data.value | formatDate }}</span>
      </template>
      <template #cell(end_date)="data">
        <span>{{ data.value | formatDate }}</span>
      </template>
      <template #cell(active)="data">
        <b-form-checkbox
          :checked="!!data.value"
          class="custom-control-success"
          name="check-button"
          switch
          @change="handleActive($event, data.item.id)"
        />
      </template>
      <template #cell(action)="data">
        <action-list :actions="actionList" :item="data"></action-list>
      </template>
    </b-table>

    <b-card-body class="d-flex justify-content-between flex-wrap pt-0">
      <!-- page length -->
      <b-form-group
        label="Per Page"
        label-cols="6"
        label-align="left"
        label-size="sm"
        label-for="sortBySelect"
        class="text-nowrap mb-md-0 mr-1"
      >
        <b-form-select
          id="perPageSelect"
          v-model="params.per_page"
          size="sm"
          inline
          :options="pageOptions"
        />
      </b-form-group>

      <!-- pagination -->
      <div>
        <b-pagination
          v-model="params.page"
          :total-rows="pagination.total"
          :per-page="params.per_page"
          first-number
          last-number
          prev-class="prev-item"
          next-class="next-item"
          class="mb-0"
          @change="handlePageChange"
        >
          <template #prev-text>
            <feather-icon icon="ChevronLeftIcon" size="18" />
          </template>
          <template #next-text>
            <feather-icon icon="ChevronRightIcon" size="18" />
          </template>
        </b-pagination>
      </div>
    </b-card-body>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import ActionList from '@core/components/ActionList.vue'
import flatPickr from 'vue-flatpickr-component'
import _ from 'lodash'
import moment from 'moment'

export default {
  components: {
    BCardCode,
    ActionList,
    flatPickr,
  },
  filters: {
    formatDate(date) {
      return moment(date).format('DD MMMM YYYY')
    },
  },
  data() {
    return {
      pageOptions: [10, 25, 100],
      fields: [
        {
          key: 'photo_url',
          label: 'Photo',
        },
        { key: 'title', label: 'Title', sortable: true },
        { key: 'product.name', label: 'Product Name', sortable: true },
        { key: 'start_date', label: 'Start Date', sortable: true },
        { key: 'end_date', label: 'End Date', sortable: true },
        { key: 'active', label: 'Active', sortable: true },
        { key: 'action', label: 'Action', sortable: false },
      ],
      items: [],
      actionList: [
        {
          title: 'Edit',
          onClick: (row) =>
            this.$router.push(`/admin/pre-order/edit/${row.item.id}`),
          icon: 'EditIcon',
        },
        {
          title: 'Delete',
          onClick: (row) => this.handleDelete(row.item),
          icon: 'Trash2Icon',
        },
      ],
      params: {
        page: 1,
        per_page: 10,
        sort: 'updated_at',
        order: 'desc',
        search: '',
        product: '',
        start_date: '',
        end_date: '',
      },
      config: {
        start: { disableMobile: 'true' },
        end: { disableMobile: 'true', minDate: null },
      },
    }
  },
  computed: {
    datas() {
      return this.$store.get('preorderAdmin/datas') || []
    },
    pagination() {
      return this.$store.get('preorderAdmin/pagination') || {}
    },
    loading() {
      return this.$store.get('preorderAdmin/loading')
    },
    show_alert() {
      return this.$store.get('preorderAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('preorderAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('preorderAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('preorderAdmin/alert_status')
    },
    filter_date() {
      return { start: this.params.start_date, end: this.params.end_date }
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('preorderAdmin/show_alert', false)
      }
    },
    'params.per_page': function () {
      this.load()
    },
    'params.page': function () {
      this.load()
    },
    // sorting() {
    //   this.load()
    // },
    'params.search': function () {
      this.handleSearch()
    },
    'params.product': function () {
      this.handleSearch()
    },
    filter_date: {
      handler(newVal) {
        if (newVal.start && newVal.end) {
          this.handleSearch()
        }

        if (!newVal.start && !newVal.end) {
          this.handleSearch()
        }
      },
      deep: true,
    },
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      await this.$store.dispatch('preorderAdmin/load', this.params)
    },
    sortChanged(e) {
      const sort = e?.sortBy
      const order = e?.sortDesc ? 'desc' : 'asc'

      this.params = { ...this.params, sort, order }
    },
    handlePageChange(value) {
      this.params.page = value
    },
    handleSearch: _.debounce(function () {
      this.load()
    }, 500),
    onStartChange(selectedDates, dateStr) {
      this.config.end.minDate = dateStr
    },
    async handleActive(checked, id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('preorderAdmin/active', {
        id,
        active: checked ? 1 : 0,
      })

      if (res) {
        this.load()
      }

      this.setLoading(false)
    },
    handleDelete(item) {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete this pre order ${item.name}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.onDelete(item.id)
        }
      })
    },
    async onDelete(id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('preorderAdmin/delete', id)

      if (res) {
        this.load()
        this.$swal({
          icon: 'success',
          title: 'Deleted!',
          text: 'The pre order has been deleted.',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
      this.setLoading(false)
    },
  },
}
</script>
