<template>
  <validation-observer ref="mutationPO">
    <b-form @submit.prevent="validationForm">
      <b-row>
        <b-col cols="12" md="8">
          <b-card-code no-body no-header>
            <b-card-body>
              <b-row>
                <b-col cols="12" sm="6">
                  <b-form-group label="Title" label-for="title">
                    <validation-provider
                      #default="{ errors }"
                      name="Title"
                      rules="required"
                      vid="title"
                    >
                      <b-form-input
                        id="title"
                        v-model="form.title"
                        :state="errors.length > 0 ? false : null"
                        placeholder="Title"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="6">
                  <b-form-group label="Product" label-for="product">
                    <validation-provider
                      #default="{ errors }"
                      name="Product"
                      rules="required"
                      vid="product_id"
                    >
                      <v-select
                        v-model="form.product"
                        label="name"
                        placeholder="Select Product"
                        :options="optionsProduct"
                        :filtering="false"
                        :class="{ 'is-invalid': !!errors.length }"
                        @search="onSearchProduct"
                      >
                      </v-select>
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="6">
                  <b-form-group label="Start Date" label-for="start_date">
                    <validation-provider
                      #default="{ errors }"
                      name="Start Date"
                      rules="required"
                      vid="start_date"
                    >
                      <flat-pickr
                        v-model="form.start_date"
                        :class="[
                          'form-control flatpickr-input',
                          { 'is-invalid': !!errors.length },
                        ]"
                        :config="config.start"
                        placeholder="Start date"
                        @on-change="onStartChange"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="6">
                  <b-form-group label="End Date" label-for="end_date">
                    <validation-provider
                      #default="{ errors }"
                      name="End Date"
                      rules="required"
                      vid="end_date"
                    >
                      <flat-pickr
                        v-model="form.end_date"
                        :class="[
                          'form-control flatpickr-input',
                          { 'is-invalid': !!errors.length },
                        ]"
                        :config="config.end"
                        placeholder="End date"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="6">
                  <b-form-group>
                    <template #label>
                      <label for="holiday_date" class="d-block">
                        Holiday Date
                        <small class="text-small">(optional)</small>
                      </label>
                    </template>
                    <validation-provider
                      #default="{ errors }"
                      name="Holiday Date"
                    >
                      <flat-pickr
                        v-model="form.holiday_date"
                        class="form-control"
                        :config="config.holiday"
                        placeholder="Holiday date"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="6">
                  <b-form-group
                    label="Delivery Support"
                    label-for="delivery_type"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="Delivery Support"
                      rules="required"
                    >
                      <b-form-checkbox-group
                        id="delivery_type"
                        v-model="form.delivery_type"
                        :options="delivery_options"
                        name="delivery_type"
                        :state="errors.length > 0 ? false : null"
                        class="demo-inline-spacing custom-control-success"
                      >
                      </b-form-checkbox-group>
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <template #label>
                      <label for="description" class="d-block">
                        Description
                        <small class="text-small">(optional)</small>
                      </label>
                    </template>
                    <rich-editor
                      :value="form.description"
                      @change:value="form.description = $event"
                    ></rich-editor>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-card-body>
          </b-card-code>
        </b-col>
        <b-col cols="12" md="4">
          <b-card-code no-body no-header>
            <b-card-body>
              <b-form-group label="Slug" label-for="slug">
                <validation-provider
                  #default="{ errors }"
                  name="Slug"
                  vid="slug"
                  rules="required"
                >
                  <b-form-input
                    id="slug"
                    v-model="form.slug"
                    :state="errors.length > 0 ? false : null"
                    placeholder="Slug"
                    :disabled="!!preOrderId"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group label="Cover Pre Order" label-for="photo">
                <b-form-checkbox
                  v-model="form.isSamePhoto"
                  class="my-1"
                  @change="handleSamePhoto"
                >
                  Use image product
                </b-form-checkbox>
                <drag-image
                  ref="photo"
                  :default-file="img"
                  :is-error="imgRules.error"
                  @change="form.photo_url = $event"
                ></drag-image>
                <small v-if="imgRules.error" class="text-danger">{{
                  imgRules.message
                }}</small>
              </b-form-group>
              <b-button variant="secondary" type="submit"> Save </b-button>
            </b-card-body>
          </b-card-code>
        </b-col>
      </b-row>
    </b-form>
  </validation-observer>
</template>
<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import vSelect from 'vue-select'
import { required } from '@validations'
import DragImage from '@core/components/DragImage.vue'
import RichEditor from '@core/components/RichEditor.vue'
import flatPickr from 'vue-flatpickr-component'
import _ from 'lodash'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BCardCode,
    RichEditor,
    DragImage,
    vSelect,
    flatPickr,
  },
  data() {
    return {
      required,
      form: {
        title: '',
        slug: '',
        product: null,
        start_date: null,
        end_date: null,
        holiday_date: null,
        delivery_type: ['pickup', 'ojek', 'delivery'],
        description: '',
        photo_url: null,
        isSamePhoto: false,
      },
      imgRules: {
        error: false,
        message: 'The Cover Pre Order field is required',
      },
      config: {
        start: { disableMobile: 'true' },
        end: { disableMobile: 'true', mminDate: null },
        holiday: {
          disableMobile: 'true',
          mode: 'multiple',
          enable: [],
        },
      },
      delivery_options: [
        { text: 'Self Pickup', value: 'pickup' },
        { text: 'Ojek Online', value: 'ojek' },
        { text: 'Delivery', value: 'delivery' },
      ],
    }
  },
  computed: {
    preOrderId() {
      return this.$route.params.id
    },
    optionsProduct() {
      return this.$store.get('productAdmin/datas')
    },
    startEndChange() {
      return { start: this.form.start_date, end: this.form.end_date }
    },
    img() {
      return typeof this.form.photo_url === 'string'
        ? this.formatImage(this.form.photo_url)
        : null
    },
    error() {
      return this.$store.get('preorderAdmin/error')
    },
    show_alert() {
      return this.$store.get('preorderAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('preorderAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('preorderAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('preorderAdmin/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        if (this.alert_status === 'success') {
          this.$swal({
            title: this.alert_title,
            text: this.alert_message,
            icon: 'success',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
            buttonsStyling: false,
          }).then((result) => {
            if (result.value) {
              this.$router.push('/admin/pre-order/list')
            }
          })
        } else {
          this.$bvToast.toast(this.alert_message, {
            title: this.alert_title,
            variant: this.alert_status,
            solid: true,
          })
        }
        this.$store.set('preorderAdmin/show_alert', false)
      }
    },
    'form.title': {
      handler(newVal) {
        if (newVal && !this.preOrderId) {
          this.form.slug = this.slugify(newVal)
        }
      },
      immedite: true,
    },
    startEndChange: {
      handler(newVal) {
        const { start, end } = newVal
        this.config.holiday.enable = [
          {
            from: start,
            to: end,
          },
        ]
      },
      immediate: true,
    },
    'form.photo_url': {
      handler(newVal) {
        if (newVal) {
          this.imgRules.error = false
        }

        if (newVal !== this.form.product?.photo_url) {
          this.form.isSamePhoto = false
        } else {
          this.form.isSamePhoto = true
        }
      },
      immedite: true,
    },
    error: {
      handler(newVal) {
        if (newVal?.slug || newVal?.title) {
          this.$refs.mutationPO.setErrors(newVal)
        }
      },
      immediate: true,
    },
  },
  mounted() {
    this.loadProduct()
    if (this.preOrderId) {
      this.getById()
    }
  },
  methods: {
    async getById() {
      this.setLoading(true)
      const res = await this.$store.dispatch(
        'preorderAdmin/loadById',
        this.preOrderId
      )

      if (res) {
        const meta = res.pre_order_metas || []
        this.form = {
          title: res?.title,
          slug: res?.slug,
          product: res.product,
          start_date: res.start_date,
          end_date: res.end_date,
          holiday_date: meta
            .filter((holiday) => holiday.meta_key === 'holiday_date')
            .map((holiday) => holiday.meta_value)
            .join(', '),
          delivery_type: meta
            .filter((delivery) => delivery.meta_key === 'delivery_type')
            .map((delivery) => delivery.meta_value),
          description: res.description,
          photo_url: res.photo_url,
          isSamePhoto: res?.product?.photo_url === res.photo_url,
        }
      }
      this.setLoading(false)
    },
    loadProduct(search = '') {
      return this.$store.dispatch('productAdmin/load', { search })
    },
    onStartChange(__, dateStr) {
      this.config.end.minDate = dateStr
    },
    onSearchProduct(search, loading) {
      loading(true)
      this.searchProduct(search, loading)
    },
    searchProduct: _.debounce(function (value, loading) {
      this.loadProduct(value).finally(() => loading(false))
    }, 500),
    handleSamePhoto(checked) {
      if (checked) {
        if (!this.form.product?.id) {
          this.$bvToast.toast('Please select product first', {
            title: 'Warning!!',
            variant: 'warning',
            solid: true,
          })
          this.form.isSamePhoto = false
          return false
        }

        this.form.photo_url = this.form.product?.photo_url
      } else {
        this.form.photo_url = null
      }

      return checked
    },
    validationForm() {
      this.$refs.mutationPO.validate().then((success) => {
        if (!this.form.photo_url) {
          this.imgRules.error = true
          return
        }

        if (success && this.form.photo_url) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      const preOrder = {
        title: this.form.title,
        slug: this.form.slug,
        photo_url: this.form.photo_url,
        product_id: this.form.product?.id,
        description: this.form.description,
        start_date: this.form.start_date,
        end_date: this.form.end_date,
      }

      const holidayDate = (this.form.holiday_date || '').split(', ') || []

      const metaPO = [
        ...this.form.delivery_type.map((type) => ({
          key: 'delivery_type',
          value: type,
        })),
        ...holidayDate.map((date) => ({ key: 'holiday_date', value: date })),
      ]

      const dataSubmit = {
        ...preOrder,
        meta: metaPO,
      }

      const formData = new FormData()

      formData.append('title', dataSubmit.title)
      formData.append('slug', dataSubmit.slug)
      formData.append('photo_url', dataSubmit.photo_url)
      formData.append('product_id', dataSubmit.product_id)
      formData.append('description', dataSubmit.description)
      formData.append('start_date', dataSubmit.start_date)
      formData.append('end_date', dataSubmit.end_date)

      dataSubmit.meta.forEach((meta) => {
        formData.append(`meta[${meta.key}][]`, meta.value)
      })

      let res = false

      if (this.preOrderId) {
        // EDIT PO
        res = await this.$store.dispatch('preorderAdmin/update', {
          id: this.preOrderId,
          data: formData,
        })
      } else {
        res = await this.$store.dispatch('preorderAdmin/create', formData)
      }

      if (res) {
        // Do something when success
      }

      this.setLoading(false)
    },
    slugify(text, ampersand = 'and') {
      const a = 'àáäâèéëêìíïîòóöôùúüûñçßÿỳýœæŕśńṕẃǵǹḿǘẍźḧ'
      const b = 'aaaaeeeeiiiioooouuuuncsyyyoarsnpwgnmuxzh'
      const p = new RegExp(a.split('').join('|'), 'g')

      return text
        .toString()
        .toLowerCase()
        .replace(/[\s_]+/g, '-')
        .replace(p, (c) => b.charAt(a.indexOf(c)))
        .replace(/&/g, `-${ampersand}-`)
        .replace(/[^\w-]+/g, '')
        .replace(/--+/g, '-')
        .replace(/^-+|-+$/g, '')
    },
  },
}
</script>