<template>
  <app-collapse-item :title="title">
    <template #header-right>
      <b-button
        class="btn-icon"
        variant="outline-danger"
        type="button"
        @click.stop="$emit('delete:variant', data)"
      >
        <feather-icon icon="Trash2Icon" />
      </b-button>
    </template>
    <b-row>
      <b-col cols="12">
        <variant-form
          v-for="(item, index) in data.items"
          :key="`${title}-${index}`"
          :data="item"
          @delete:item="$emit('delete:item', { item: $event, index })"
        ></variant-form>
      </b-col>

      <b-col
        cols="12"
        class="justify-start justify-sm-end"
        @click="$emit('add:item', data)"
      >
        <b-button variant="outline-primary">Add Item</b-button>
      </b-col>
    </b-row>
  </app-collapse-item>
</template>

<script>
import AppCollapseItem from '../app-collapse/AppCollapseItem.vue'
import FeatherIcon from '../feather-icon/FeatherIcon.vue'
import VariantForm from './VariantForm.vue'

export default {
  components: {
    AppCollapseItem,
    FeatherIcon,
    VariantForm,
  },
  props: {
    title: { type: String, default: 'Title' },
    data: { type: [Object, Array], default: () => null },
    isVisible: { type: Boolean, default: false },
  },
}
</script>

<style>
</style>