<template>
  <div>
    <b-row>
      <b-col cols="9" sm="8">
        <b-row>
          <b-col cols="12" sm="6" order="1">
            <b-form-group label="Variant Item Name" label-for="name">
              <validation-provider
                #default="{ errors }"
                name="Variant Item Name"
                rules="required"
              >
                <b-form-input
                  id="name"
                  v-model="data.variant_item_name"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Variant Item Name"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" order="2">
            <b-form-group label="Extra Price" label-for="price">
              <validation-provider
                #default="{ errors }"
                name="Extra Price"
                rules="required"
              >
                <b-input-group>
                  <b-input-group-prepend is-text> Rp </b-input-group-prepend>
                  <cleave
                    id="price"
                    v-model="data.extra_price"
                    :class="['form-control', { 'is-invalid': !!errors.length }]"
                    :raw="true"
                    :options="optionNumber"
                    placeholder="ex: 10.000"
                  />
                </b-input-group>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col cols="12" order="3">
            <b-alert variant="info" show>
              <div class="alert-body">
                <span>
                  Pilih salah satu antara gambar atau warna
                </span>
              </div>
            </b-alert>
          </b-col>
          <b-col cols="12" sm="6" order-sm="4" order="5">
            <b-form-group label="Image" label-for="photo">
              <drag-image
                ref="photo"
                style="min-width: 100px; max-width: 100%"
                :default-file="formatImg(data.image)"
                @change="data.image = $event"
              ></drag-image>
              <b-button
                v-if="data.image"
                variant="outline-danger"
                size="small"
                class="mt-2"
                @click="data.image = null"
              >
                Clear Image
              </b-button>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" order-sm="5" order="4">
            <b-form-group label="Color">
              <input v-model="data.color" type="color" />
              <label>&nbsp;{{data.color || "Not selected"}}</label>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="3" sm="4" class="mt-0 mt-sm-2">
        <b-button
          variant="flat-danger"
          class="btn-icon"
          small
          @click="$emit('delete:item', data)"
        >
          <feather-icon icon="Trash2Icon" />
        </b-button>
      </b-col>
    </b-row>
    <hr />
  </div>
</template>

<script>
import DragImage from '@core/components/DragImage.vue'
import { ValidationProvider } from 'vee-validate'
import Cleave from 'vue-cleave-component'
import FeatherIcon from '../feather-icon/FeatherIcon.vue'

export default {
  components: {
    FeatherIcon,
    DragImage,
    Cleave,
    ValidationProvider,
  },
  props: { data: { type: Object, default: null } },
  data() {
    return {
      imgRules: {
        error: false,
        message: 'The Photo Product field is required',
      },
    }
  },
  methods: {
    formatImg(img) {
      return typeof img === 'string' ? this.formatImage(img) : null
    },
  },
}
</script>

<style>
</style>