<template>
  <li
    class="nav-item"
    :class="{
      active: isActive,
    }"
  >
    <b-link :href="item.link" class="d-flex align-items-center">
      
      <span class="menu-title text-truncate">{{ t(item.title) }}</span>
      
    </b-link>
  </li>
</template>

<script>
import { useUtils as useI18nUtils } from '@core/libs/i18n'
import useVerticalNavMenuLink from './useVerticalNavMenuLink'
import mixinVerticalNavMenuLink from './mixinVerticalNavMenuLink'

export default {
  mixins: [mixinVerticalNavMenuLink],
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const { isActive, linkProps, updateIsActive } = useVerticalNavMenuLink(
      props.item
    )
    const { t } = useI18nUtils()

    return {
      isActive,
      linkProps,
      updateIsActive,

      // i18n
      t,
    }
  },
}
</script>
