<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->
      <b-link class="brand-logo" :to="{ name: 'home' }">
        <b-img
          :src="
            formatImage(logoGlobal.appLogoDark, 'config') ||
            logoGlobal.appLogoDark
          "
          alt="logo"
        />
      </b-link>
      <!-- /Brand logo-->

      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div
          class="w-100 d-lg-flex align-items-center justify-content-center px-5"
        >
          <b-img fluid :src="sideImg" alt="Login V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Login-->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5">
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <b-card-title title-tag="h2" class="font-weight-bold mb-1">
            Welcome to mooncena! 👋
          </b-card-title>
          <b-card-text class="mb-2">
            Please sign-in to your account and start order the cake!
          </b-card-text>
          <b-alert variant="danger" :show="!!messageError">
            <div class="alert-body">
              {{ messageError }}
            </div>
          </b-alert>

          <!-- form -->
          <validation-observer ref="loginUser" #default="{ invalid }">
            <b-form
              class="auth-login-form mt-2"
              @submit.prevent="validationForm"
            >
              <!-- email -->
              <b-form-group label="Email" label-for="login-email">
                <validation-provider
                  #default="{ errors }"
                  name="Email"
                  rules="required|email"
                >
                  <b-form-input
                    id="login-email"
                    v-model="userEmail"
                    :state="errors.length > 0 ? false : null"
                    name="login-email"
                    placeholder="john@example.com"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- forgot password -->
              <b-form-group>
                <template #label>
                  <div class="d-flex justify-content-between">
                    <label for="login-password">Password</label>
                    <b-link :to="{ name: 'forgot-password' }">
                      <small>Forgot Password?</small>
                    </b-link>
                  </div>
                </template>
                <validation-provider
                  #default="{ errors }"
                  name="Password"
                  rules="required|min:6|password"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="login-password"
                      v-model="password"
                      :state="errors.length > 0 ? false : null"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      name="login-password"
                      placeholder="············"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        class="cursor-pointer"
                        :icon="passwordToggleIcon"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- submit buttons -->
              <b-button
                type="submit"
                variant="primary"
                block
                :disabled="invalid || loading"
              >
                <template v-if="loading">
                  <b-spinner small type="grow"></b-spinner>
                  Loading...
                </template>
                <template v-else>Sign in</template>
              </b-button>
            </b-form>
          </validation-observer>

          <b-card-text class="text-center mt-2">
            <span>New on our platform? </span>
            <b-link :to="{ name: 'register' }">
              <span>&nbsp;Create an account</span>
            </b-link>
          </b-card-text>
        </b-col>
      </b-col>
      <!-- /Login-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from 'vee-validate'

import { required, email, password as passwordValidation } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import useJwt from '@/auth/jwt/useJwt'
import { getHomeRouteForLoggedInUser } from '@/auth/utils'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      password: '',
      userEmail: '',

      messageError: '',
      loading: false,

      sideImg: require('@/assets/images/pages/login-v2.svg'),
      // validation rulesimport store from '@/store/index'
      required,
      email,
      passwordValidation,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
  },
  methods: {
    validationForm() {
      this.$refs.loginUser.validate().then((success) => {
        if (success) {
          this.loading = true
          useJwt
            .login({
              email: this.userEmail,
              password: this.password,
            })
            .then((response) => {
              this.messageError = ''
              const { data } = response.data
              useJwt.setToken(response.data.access_token)
              this.$store.set('user/userData', data)
              const redirect = this.$route.query?.redirect
              this.$router.replace(
                redirect || getHomeRouteForLoggedInUser(data.role)
              )
            })
            .catch((error) => {
              if (error.response.data.error) {
                this.$refs.loginForm.setErrors(error.response.data.error)
              }

              if (error.response.data.message) {
                this.messageError = error.response.data.message
              }

              this.$bvToast.toast(error?.message, {
                title: 'Error',
                variant: 'danger',
                solid: true,
              })
            })
            .finally(() => {
              this.loading = false
            })
        }
      })
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-auth.scss';
</style>
