<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->
      <b-link class="brand-logo" :to="{ name: 'home' }">
        <b-img
          :src="
            formatImage(logoGlobal.appLogoDark, 'config') ||
            logoGlobal.appLogoDark
          "
          alt="logo"
        />
      </b-link>
      <!-- /Brand logo-->

      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div
          class="w-100 d-lg-flex align-items-center justify-content-center px-5"
        >
          <b-img fluid :src="sideImg" alt="Register V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Register-->
      <b-col
        lg="4"
        class="d-flex align-items-center auth-bg px-2 p-lg-5 pt-6 pt-sm-0"
      >
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <b-card-title title-tag="h2" class="font-weight-bold mb-1">
            Adventure starts here 🚀
          </b-card-title>
          <b-card-text class="mb-2">
            Time to get your favorite custom cakes!
          </b-card-text>
          <b-alert variant="danger" :show="!!messageError">
            <div class="alert-body">
              {{ messageError }}
            </div>
          </b-alert>

          <!-- form -->
          <validation-observer ref="registerForm" #default="{ invalid }">
            <b-form
              class="auth-register-form mt-2"
              @submit.prevent="validationForm"
            >
              <!-- username -->
              <b-form-group label="First Name" label-for="register-first_name">
                <validation-provider
                  #default="{ errors }"
                  name="First Name"
                  rules="required"
                  vid="first_name"
                >
                  <b-form-input
                    id="register-first_name"
                    v-model="first_name"
                    name="register-first_name"
                    :state="errors.length > 0 ? false : null"
                    placeholder="John"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- username -->
              <b-form-group label="Last Name" label-for="register-last_name">
                <template #label>
                  <label>Last Name <small>(optional)</small></label>
                </template>
                <validation-provider
                  #default="{ errors }"
                  name="Last Name"
                  rules="max:100"
                >
                  <b-form-input
                    id="register-last_name"
                    v-model="last_name"
                    name="register-last_name"
                    :state="errors.length > 0 ? false : null"
                    placeholder="Doe"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- email -->
              <b-form-group label="Email" label-for="register-email">
                <validation-provider
                  #default="{ errors }"
                  name="Email"
                  rules="required|email"
                  vid="email"
                >
                  <b-form-input
                    id="register-email"
                    v-model="userEmail"
                    name="register-email"
                    :state="errors.length > 0 ? false : null"
                    placeholder="john@example.com"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- password -->
              <b-form-group label-for="register-password" label="Password">
                <validation-provider
                  #default="{ errors }"
                  name="Password"
                  rules="required|min:6|password"
                  vid="password"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="register-password"
                      v-model="password"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      :state="errors.length > 0 ? false : null"
                      name="register-password"
                      placeholder="············"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        :icon="passwordToggleIcon"
                        class="cursor-pointer"
                        @click="togglePassword"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group
                label-for="register-confirm_password"
                label="Confirm Password"
                vid="confirm_password"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Confirm Password"
                  rules="required|min:6|password|confirmed:password"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="register-confirm_password"
                      v-model="confirm_password"
                      class="form-control-merge"
                      :type="passwordConfirmFieldType"
                      :state="errors.length > 0 ? false : null"
                      name="register-confirm_password"
                      placeholder="············"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        :icon="passwordConfirmToggleIcon"
                        class="cursor-pointer"
                        @click="togglePasswordConfirm"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <b-form-group label-for="phone" label="Phone">
                <template #label>
                  <label>Phone <small>(optional)</small></label>
                </template>
                <cleave
                  id="phone"
                  v-model="phone"
                  class="form-control"
                  :options="optionPhone"
                  placeholder="0896 xxx xxx xxxx"
                />
              </b-form-group>

              <b-button
                variant="primary"
                block
                type="submit"
                :disabled="invalid || loading"
              >
                <template v-if="loading">
                  <b-spinner small type="grow"></b-spinner>
                  Loading...
                </template>
                <template v-else>Sign up</template>
              </b-button>
            </b-form>
          </validation-observer>

          <p class="text-center mt-2">
            <span>Already have an account?</span>
            <b-link :to="routeToLogin">
              <span>&nbsp;Sign in instead</span>
            </b-link>
          </p>
        </b-col>
      </b-col>
      <!-- /Register-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import {
  required,
  email,
  password as passwordValidation,
  max,
} from '@validations'
import Cleave from 'vue-cleave-component'
import 'cleave.js/dist/addons/cleave-phone.id'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    // validations
    ValidationProvider,
    ValidationObserver,
    Cleave,
  },
  data() {
    return {
      first_name: '',
      last_name: '',
      userEmail: '',
      password: '',
      phone: '',
      confirm_password: '',
      sideImg: require('@/assets/images/pages/register-v2.svg'),
      // validation
      required,
      email,
      passwordValidation,
      max,

      passwordFieldType: 'password',
      passwordConfirmFieldType: 'password',
      optionPhone: {
        phone: true,
        phoneRegionCode: 'id',
      },

      messageError: '',
      loading: false,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldTypeOld === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    passwordConfirmToggleIcon() {
      return this.passwordFieldTypeNew === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    routeToLogin() {
      const redirect = this.$route.query?.redirect

      if (!redirect) {
        return { name: 'login' }
      }
      return { name: 'login', query: { redirect } }
    },
  },
  methods: {
    validationForm() {
      this.$refs.registerForm.validate().then((success) => {
        if (success) {
          this.loading = true
          useJwt
            .register({
              email: this.userEmail,
              password: this.password,
              confirm: this.password,
              first_name: this.first_name,
              last_name: this.last_name,
              phone: this.phone,
            })
            .then(() => {
              this.messageError = ''
              this.$swal({
                title: 'Success',
                text: 'Register Successfully',
                icon: 'success',
                confirmButtonText: 'Login',
                customClass: {
                  confirmButton: 'btn btn-primary',
                },
                buttonsStyling: false,
              }).then((result) => {
                if (result.value) {
                  this.$router.replace(this.routeToLogin)
                }
              })
            })
            .catch((error) => {
              if (error.response.data.error) {
                this.$refs.registerForm.setErrors(error.response.data.error)
              }

              if (error.response.data.message) {
                this.messageError = error.response.data.message
              }
              this.$bvToast.toast(error?.message, {
                title: 'Error',
                variant: 'danger',
                solid: true,
              })
            })
            .finally(() => {
              this.loading = false
            })
        }
      })
    },

    togglePassword() {
      this.passwordFieldType =
        this.passwordFieldType === 'password' ? 'text' : 'password'
    },
    togglePasswordConfirm() {
      this.passwordConfirmFieldType =
        this.passwordConfirmFieldType === 'password' ? 'text' : 'password'
    },
  },
}
/* eslint-disable global-require */
</script>

<style lang="scss">
@import '~@core/scss/vue/pages/page-auth.scss';
</style>

<style lang="scss" scoped>
.pt-6 {
  padding-top: 6rem;
}
</style>