<template>
  <b-dropdown no-caret variant="link" class="action-list">
    <template #button-content>
      <b-button variant="flat-primary" class="btn-icon">
        <feather-icon icon="MoreVerticalIcon" />
      </b-button>
    </template>
    <b-dropdown-item
      v-for="(action, index) in actions"
      :key="`action-${index}`"
      :disabled="action.disabled"
      @click="
        typeof action.onClick === 'function' ? action.onClick(item) : null
      "
    >
      <feather-icon v-if="!!action.icon" :icon="action.icon" class="mr-50" />
      <span>{{ action.title }}</span>
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
export default {
  props: {
    actions: { type: Array, default: () => [], required: true },
    item: { type: [Object, String, Number], default: () => ({}) },
  },
}
</script>

<style >
.action-list .dropdown-toggle {
  padding: 0
}
</style>