<template>
  <b-card :key="cartItem.id" class="ecommerce-card" no-body>
    <div class="d-flex justify-content-center mt-50 ml-50">
      <b-link
        :to="{
          name: 'pre-order',
          params: { slug: pre_order.slug },
        }"
      >
        <b-img
          :src="formatImage(pre_order.photo_url)"
          style="
            object-fit: cover;
            width: 200px;
            height: 200px;
            border-radius: 10px;
          "
        />
      </b-link>
    </div>
    <b-card-body class="justify-content-between">
      <div>
        <b-link
          :to="{
            name: 'pre-order',
            params: { slug: pre_order.slug },
          }"
        >
          <small>{{ pre_order.product.name }}</small>
          <h4>{{ pre_order.title }}</h4>
        </b-link>
        <div>
          <span class="text-muted">Quantity:</span>
          {{ qty }}
        </div>
        <b-skeleton-wrapper :loading="loading">
          <template #loading>
            <b-skeleton width="20%"></b-skeleton>
            <b-skeleton width="35%"></b-skeleton>
          </template>

          <div v-for="item in variant_item" :key="`variant-item-${item.id}`">
            <span class="text-muted">{{ item.product_variant.name }}:</span>
            {{ item.name }}
          </div>
        </b-skeleton-wrapper>
      </div>

      <div class="d-flex custom-photo mt-1">
        <b-img
          v-for="(img, index) in images"
          :key="`custom-${index}`"
          :src="formatImage(img, 'carts')"
          fluid
          class="rounded mr-1"
          style="object-fit: cover; height: 60px"
          width="60"
          height="60"
        ></b-img>
      </div>
      <b-button
        v-b-toggle
        variant="outline-primary"
        size="sm"
        @click="visible = !visible"
      >
        View Note
      </b-button>
      <b-collapse id="collapse-4" v-model="visible" class="mt-2">
        <template>
          <div>
            <span class="text-muted">Lettering on cake:</span>
            <p>{{ lettering_on_cake }}</p>
          </div>
          <div class="mt-1">
            <span class="text-muted">Lettering on cake board:</span>
            <p>{{ lettering_on_cake_board }}</p>
          </div>
          <div class="mt-1">
            <span class="text-muted">Greeting card:</span>
            <p>{{ greeting_card }}</p>
          </div>
          <div class="mt-1">
            <span class="text-muted">Describe your request cake:</span>
            <p>{{ describe }}</p>
          </div>
          <div class="mt-1">
            <span class="text-muted">NB:</span>
            <p>{{ note }}</p>
          </div>
        </template>
      </b-collapse>
    </b-card-body>
    <div class="item-options text-center d-flex flex-column">
      <div
        class="item-wrapper d-flex justify-content-center align-items-center"
        style="flex: 1"
      >
        <div class="item-cost">
          <h4 class="item-price">{{ formatRupiah(totalPrice) }}</h4>
        </div>
      </div>
      <b-button
        variant="light"
        class="mt-1 remove-wishlist"
        @click="handleDelete"
      >
        <feather-icon icon="XIcon" class="mr-50" />
        <span>Remove</span>
      </b-button>
    </div>
  </b-card>
</template>

<script>
export default {
  props: {
    cartItem: { type: Object, default: () => ({}), required: true },
  },
  data() {
    return {
      visible: false,
      loading: false,
      variant_item: [],
    }
  },
  computed: {
    pre_order() {
      return this.cartItem?.pre_order
    },
    lettering_on_cake() {
      return (this.cartItem?.cart_metas || []).find(
        (meta) => meta.meta_key === 'lettering_on_cake'
      )?.meta_value
    },
    lettering_on_cake_board() {
      return (this.cartItem?.cart_metas || []).find(
        (meta) => meta.meta_key === 'lettering_on_cake_board'
      )?.meta_value
    },
    greeting_card() {
      return (this.cartItem?.cart_metas || []).find(
        (meta) => meta.meta_key === 'greeting_card'
      )?.meta_value
    },
    describe() {
      return (this.cartItem?.cart_metas || []).find(
        (meta) => meta.meta_key === 'describe'
      )?.meta_value
    },
    note() {
      return (this.cartItem?.cart_metas || []).find(
        (meta) => meta.meta_key === 'note'
      )?.meta_value
    },
    qty() {
      return (
        (this.cartItem?.cart_metas || []).find(
          (meta) => meta.meta_key === 'qty'
        )?.meta_value || 1
      )
    },
    images() {
      return (this.cartItem?.cart_metas || [])
        .filter((meta) => meta.meta_key === 'custom_photo')
        .map((item) => item.meta_value)
    },
    variants() {
      return (this.cartItem?.cart_metas || [])
        .filter((meta) => meta.meta_key === 'variant_item')
        .map((item) => item.meta_value)
    },
    totalPrice() {
      const variantPrice = (this.variant_item || []).reduce(
        (result, current) => (result += +current.extra_price),
        0
      )
      const productPrice = +this.cartItem?.pre_order?.product?.price || 0

      const totalPrice = (productPrice + variantPrice) * this.qty
      this.$emit('change:price', this.cartItem.id, totalPrice)
      return totalPrice
    },
  },
  watch: {
    variants: {
      handler(newVal) {
        if (newVal && newVal.length) {
          this.loadVariants()
        }
      },
      immediate: true,
    },
    // totalPrice: {
    //   handler(newVal) {
    //     console.log('PANGGIL WATCH')
    //     this.$emit('change:price', this.cartItem.id, newVal)
    //   },
    //   immediate: true,
    // },
  },
  methods: {
    async loadVariants() {
      this.loading = true
      const res = await this.$store.dispatch('cartCustomer/getVariantItems', {
        variant_item_id: this.variants,
      })
      if (res && res.length) {
        this.variant_item = res
      }
      this.loading = false
    },
    handleDelete() {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete this pre order ${this.pre_order?.title}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.onDelete(this.cartItem.id)
        }
      })
    },
    async onDelete(id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('cartCustomer/delete', id)

      if (res) {
        this.$emit('delete:success')
      }
      this.setLoading(false)
    },
  },
}
</script>

<style lang="scss" scoped>
.custom-photo {
  overflow-x: scroll;
  padding-bottom: 1rem;
}
</style>