<template>
  <div class="d-flex flex-column flex-sm-row">
    <div class="d-flex" style="flex: 1">
      <b-img-lazy
        :src="formatImage(pre_order.product.photo_url)"
        height="80"
        width="80"
        class="rounded"
        style="object-fit: cover"
      ></b-img-lazy>
      <div class="pl-1">
        <small class="mb-0">{{ pre_order.product.name }}</small>
        <h6 class="font-weight-bold mb-0">{{ pre_order.title }}</h6>
        <b-skeleton-wrapper :loading="loading">
          <template #loading>
            <b-skeleton width="20%"></b-skeleton>
            <b-skeleton width="35%"></b-skeleton>
          </template>

          <span
            v-for="variant in variant_item"
            :key="`variant-item-${variant.id}`"
            class="d-block text-muted"
          >
            {{ variant.name }}
          </span>
          <span>{{ qty }} pcs</span>
        </b-skeleton-wrapper>
      </div>
    </div>
    <div
      class="
        d-flex
        flex-column
        justify-content-end
        align-items-end align-items-sm-start
      "
    >
      <span class="d-block text-muted">Total Price</span>
      <span class="d-block font-weight-bold">{{
        formatRupiah(totalPrice)
      }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: { item: { type: Object, default: () => ({}) } },
  data() {
    return {
      loading: false,
      variant_item: [],
    }
  },
  computed: {
    pre_order() {
      return this.item?.pre_order || {}
    },
    qty() {
      return (
        (this.item?.cart_metas || []).find((meta) => meta.meta_key === 'qty')
          ?.meta_value || 0
      )
    },
    variants() {
      return (this.item?.cart_metas || [])
        .filter((meta) => meta.meta_key === 'variant_item')
        .map((item) => item.meta_value)
    },
    totalPrice() {
      const variantPrice = (this.variant_item || []).reduce(
        (result, current) => (result += +current.extra_price),
        0
      )
      const productPrice = +this.item?.pre_order?.product?.price || 0

      const totalPrice = (productPrice + variantPrice) * this.qty

      this.$emit('change:price', this.item.id, totalPrice)

      return totalPrice
    },
  },
  watch: {
    variants: {
      handler(newVal) {
        if (newVal && newVal.length) {
          this.loadVariants()
        }
      },
      immediate: true,
    },
  },
  methods: {
    async loadVariants() {
      this.loading = true
      const res = await this.$store.dispatch(
        'checkoutCustomer/getVariantItems',
        {
          variant_item_id: this.variants,
        }
      )
      if (res && res.length) {
        this.variant_item = res
      }
      this.loading = false
    },
  },
}
</script>

<style>
</style>