<template>
  <div>
    <template v-if="files.length">
      <b-row>
        <b-col
          v-for="(img, index) in files"
          :key="`img-preview-${index}`"
          cols="4"
          class="py-50 position-relative"
        >
          <b-img :src="img.url || img" class="img-uploaded"></b-img>
          <b-button
            variant="danger"
            size="sm"
            class="btn-icon position-absolute"
            style="right: 5px; top: 5px"
            @click="handleRemove(img, index)"
          >
            <feather-icon icon="TrashIcon" />
          </b-button>
        </b-col>
      </b-row>
    </template>
    <div
      :class="[
        'd-flex flex-column upload--wrapper',
        { 'on-drag': dragover, 'on-error': isError, 'on-hover': hover },
      ]"
      dense
      align="center"
      justify="center"
      @drop.prevent="onDrop"
      @dragover.prevent="dragover = true"
      @dragenter.prevent="dragover = true"
      @dragleave.prevent="dragover = false"
      @mouseover.prevent="hover = true"
      @mouseenter.prevent="hover = true"
      @mouseleave.prevent="hover = false"
    >
      <template>
        <p>Drag image here</p>
        <p>or</p>
        <b-button
          variant="primary"
          :onclick="`document.getElementById('${idInput}').click()`"
        >
          Choose file from computer
        </b-button>
      </template>
      <input
        :id="idInput"
        :ref="idInput"
        type="file"
        accept="image/*"
        class="d-none"
        multiple
        @input="onChooseFile"
      />
    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'

export default {
  props: {
    isError: { type: Boolean, default: false },
    defaultFile: { type: Array, default: () => [] },
    maxFileSize: {
      type: [String, Number],
      default: 10240000,
    },
  },
  data() {
    return {
      idInput: '',
      dragover: false,
      hover: false,
      file: [],
    }
  },
  computed: {
    files() {
      return this.file.length ? this.file : this.defaultFile
    },
  },
  watch: {
    file: {
      handler(newVal) {
        this.$emit('change', newVal)
      },
      immediate: true,
    },
  },
  created() {
    this.idInput = uuidv4()
  },
  methods: {
    getValue() {
      return new Promise((resolve) => {
        resolve(this.file.map((file) => file.img))
      })
    },
    onDrop(event) {
      this.dragover = false

      if (!event.dataTransfer.files[0]) {
        this.$bvToast.toast(`Please upload at lease one image`, {
          title: 'Error',
          variant: 'danger',
          solid: true,
        })
      } else {
        const { files } = event.dataTransfer
        this.handleFile(files)
      }
      return false
    },
    onChooseFile(event) {
      const files = event?.target?.files
      this.handleFile(files)
    },
    handleFile(files) {
      const fileKeys = Object.keys(files)

      if (fileKeys.length) {
        if (fileKeys.length + this.file.length > 6) {
          return this.$bvToast.toast(`Only can upload 6 images`, {
            title: 'Error',
            variant: 'danger',
            solid: true,
          })
        }
        const imagesKeys = fileKeys.filter((key) => this.isImage(files[key]))

        if (!imagesKeys.length) {
          return this.$bvToast.toast(`Only accept jpg, jpeg, and png`, {
            title: 'Error',
            variant: 'danger',
            solid: true,
          })
        }

        imagesKeys.forEach((key) => {
          this.setImage(files[key])
        })
        return true
      }

      return false
    },
    setImage(file) {
      const imageUrl = URL.createObjectURL(file)
      const img = new Image()
      img.onload = () => {
        const { maxFileSize } = this

        if (file.size > maxFileSize) {
          this.$bvToast.toast(
            `Image size is ${this.formatBytes(
              file.size
            )} but max file size is ${this.formatBytes(maxFileSize)}`,
            {
              title: 'Error',
              variant: 'danger',
              solid: true,
            }
          )

          return
        }

        this.file.push({
          img: file,
          url: imageUrl,
        })
      }
      img.src = imageUrl
    },
    isImage(file) {
      const imageType = /.(jpg|jpeg|png)$/i
      return file && file.type.match(imageType)
    },
    handleRemove(img, index) {
      this.file.splice(index, 1)
      this.$emit('remove', { img, index })
    },
    formatBytes(number) {
      const units = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
      let l = 0
      let n = parseInt(number, 10) || 0

      while (n >= 1024 && ++l) {
        n /= 1024
      }

      return `${n.toFixed(n < 10 && l > 0 ? 1 : 0)} ${units[l]}`
    },
  },
}
</script>

<style lang="scss" scoped>
@import 'bootstrap/scss/functions';
@import '~@core/scss/base/bootstrap-extended/variables';
@import 'bootstrap/scss/variables';
@import '../../assets/scss/variables/_variables.scss';

.upload--wrapper {
  border: 2px dashed $primary;
  border-radius: 8px;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
}
.overlay-change {
  position: absolute;
  inset: 0;
  background-color: rgba($color: $primary, $alpha: 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.on-drag {
  border-color: $success;
  border-width: 4px;
}
.on-hover {
  border-color: $secondary;
}
.on-error {
  border-color: $danger;
  border-width: 4px;
}
.img-uploaded {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  max-height: 135px;
  object-fit: cover;
}
</style>