<template>
  <div
    :class="[
      'd-flex flex-column upload--wrapper',
      { 'on-drag': dragover, 'on-error': isError, 'on-hover': hover },
    ]"
    dense
    align="center"
    justify="center"
    @drop.prevent="onDrop"
    @dragover.prevent="dragover = true"
    @dragenter.prevent="dragover = true"
    @dragleave.prevent="dragover = false"
    @mouseover.prevent="hover = true"
    @mouseenter.prevent="hover = true"
    @mouseleave.prevent="hover = false"
  >
    <template v-if="file.url || defaultFile">
      <div
        v-if="hover"
        class="overlay-change"
        :onclick="`document.getElementById('${idInput}').click()`"
      >
        <h3>Change Image</h3>
      </div>
      <b-img-lazy
        :src="file.url || defaultFile"
        class="img-uploaded"
      ></b-img-lazy>
    </template>
    <template v-else>
      <p>Drag image here</p>
      <p>or</p>
      <b-button
        variant="primary"
        :onclick="`document.getElementById('${idInput}').click()`"
      >
        Choose file from computer
      </b-button>
    </template>
    <input
      :id="idInput"
      :ref="idInput"
      type="file"
      accept="image/*"
      class="d-none"
      :multiple="false"
      @input="onChooseFile"
    />
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'

export default {
  props: {
    isError: { type: Boolean, default: false },
    defaultFile: { type: String, default: '' },
    maxFileSize: {
      type: [String, Number],
      default: 10240000,
    },
  },
  data() {
    return {
      idInput: '',
      dragover: false,
      hover: false,
      file: {
        img: null,
        url: '',
      },
    }
  },
  created() {
    this.idInput = uuidv4()
  },
  methods: {
    getValue(callback) {
      this.$emit('get:value', this.file.img)
      if (callback) {
        callback(this.file.img)
      }
    },
    onDrop(event) {
      this.dragover = false

      if (event.dataTransfer.files.length > 1) {
        this.$bvToast.toast(`Dont upload multiple image`, {
          title: 'Error',
          variant: 'danger',
          solid: true,
        })
      } else if (!event.dataTransfer.files[0]) {
        this.$bvToast.toast(`Please upload at lease one image`, {
          title: 'Error',
          variant: 'danger',
          solid: true,
        })
      } else {
        const file = event.dataTransfer.files[0]
        if (file) {
          if (this.isImage(file)) {
            this.setImage(file)
          } else {
            this.$bvToast.toast(`Only accept jpg, jpeg, and png`, {
              title: 'Error',
              variant: 'danger',
              solid: true,
            })
          }
        }
      }
    },
    onChooseFile(event) {
      const file = event?.target?.files[0]

      if (file) {
        if (this.isImage(file)) {
          this.setImage(file)
        } else {
          this.$bvToast.toast(`Only accept jpg, jpeg, and png`, {
            title: 'Error',
            variant: 'danger',
            solid: true,
          })
        }
      }
    },
    setImage(file) {
      const imageUrl = URL.createObjectURL(file)
      const img = new Image()
      img.onload = () => {
        const { maxFileSize } = this

        if (file.size > maxFileSize) {
          this.$bvToast.toast(
            `Image size is ${this.formatBytes(
              file.size
            )} but max file size is ${this.formatBytes(maxFileSize)}`,
            {
              title: 'Error',
              variant: 'danger',
              solid: true,
            }
          )

          return
        }

        this.file = {
          img: file,
          url: imageUrl,
        }

        this.$emit('change', file)
      }
      img.src = imageUrl
    },
    isImage(file) {
      const imageType = /.(jpg|jpeg|png)$/i
      return file && file.type.match(imageType)
    },
    handleRemove() {
      this.file = null
      this.$emit('remove')
    },
    formatBytes(number) {
      const units = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
      let l = 0
      let n = parseInt(number, 10) || 0

      while (n >= 1024 && ++l) {
        n /= 1024
      }

      return `${n.toFixed(n < 10 && l > 0 ? 1 : 0)} ${units[l]}`
    },
  },
}
</script>

<style lang="scss" scoped>
@import 'bootstrap/scss/functions';
@import '~@core/scss/base/bootstrap-extended/variables';
@import 'bootstrap/scss/variables';
@import '../../assets/scss/variables/_variables.scss';

.upload--wrapper {
  border: 2px dashed $primary;
  border-radius: 8px;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
}
.overlay-change {
  position: absolute;
  inset: 0;
  background-color: rgba($color: $primary, $alpha: 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.on-drag {
  border-color: $success;
  border-width: 4px;
}
.on-hover {
  border-color: $secondary;
}
.on-error {
  border-color: $danger;
  border-width: 4px;
}
.img-uploaded {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
</style>