<template>
  <div id="mapSelection" style="height: 600px"></div>
</template>

<script>
export default {
  name: 'GoogleMapSelection',
  data() {
    return {
      map: null,
      mapCenter: { lat: 0, lng: 0 },
    }
  },
  mounted() {
    this.initMap()
    this.setMarker(this.mapCenter, 'TEST LABEL')
  },
  methods: {
    initMap() {
      this.map = new google.maps.Map(document.getElementById('mapSelection'), {
        center: this.mapCenter,
        zoom: 8,
      })
    },
    setMarker(points, label) {
      // eslint-disable-next-line no-new
      new google.maps.Marker({
        position: points,
        map: this.map,
        label: {
          text: label,
          color: '#fff',
        },
      })
    },
  },
}
</script>

<style>
</style>