<template>
  <div class="invoice-preview-wrapper">
    <div class="invoice-preview">
      <b-card no-body class="invoice-preview-card">
        <!-- Header -->
        <b-card-body class="invoice-padding pb-0">
          <div
            class="d-flex justify-content-between flex-md-row flex-column mt-0"
          >
            <!-- Header: Left Content -->
            <div>
              <div class="invoice-title">
                <h4 class="text-left font-weight-normal">Order Number</h4>
                <h4 class="invoice-number text-left">
                  {{ detail.order_number }}
                </h4>
              </div>
              <b-badge
                :variant="detail.status | getColorStatus"
                class="mb-1 text-capitalize"
              >
                {{ detail.status | formatStatus }}
              </b-badge>
            </div>

            <!-- Header: Right Content -->
            <div class="mt-md-0 mt-2">
              <div class="invoice-date-wrapper">
                <p class="invoice-date-title">Created:</p>
                <p class="invoice-date">
                  {{ detail.created_at | formatDate }}
                </p>
              </div>
              <div class="invoice-date-wrapper">
                <p class="invoice-date-title">Order for:</p>
                <p class="invoice-date">
                  {{ detail.order_date | formatDateTime }}
                </p>
              </div>
            </div>
          </div>
        </b-card-body>

        <!-- Spacer -->
        <hr class="invoice-spacing" />

        <!-- Invoice Client & Payment Details -->
        <b-card-body class="invoice-padding pt-0">
          <b-row class="invoice-spacing">
            <!-- Col: Invoice To -->
            <b-col cols="12" xl="6" class="p-0">
              <template v-if="detail.delivery_type === 'delivery'">
                <h6 class="mb-2">Deliver To:</h6>
                <h6 class="mb-25">{{ address.address_name }}</h6>
                <p class="card-text mb-25">{{ address.address_label }}</p>
                <p class="card-text mb-25">{{ address.address_phone }}</p>
                <p class="card-text mb-25">{{ address.address_address }}</p>
                <p class="card-text mb-0 text-muted">
                  {{ address.address_note }}
                </p>
              </template>
              <b-badge variant="primary" class="mb-1">
                {{ detail.delivery_type | formatDelivery }}
              </b-badge>
            </b-col>

            <!-- Col: Payment Details -->
            <b-col
              xl="6"
              cols="12"
              class="p-0 mt-xl-0 mt-2 d-flex justify-content-xl-end"
            >
              <div>
                <h6 class="mb-2">Payment Details:</h6>
                <table>
                  <tbody>
                    <tr>
                      <td class="pr-1">Total Due:</td>
                      <td>
                        <span class="font-weight-bold">{{
                          formatRupiah(detail.total_price)
                        }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="pr-1">A/N:</td>
                      <td>{{ payment_method.atas_nama }}</td>
                    </tr>
                    <tr>
                      <td class="pr-1">Bank name:</td>
                      <td>{{ payment_method.bank_name }}</td>
                    </tr>
                    <tr>
                      <td class="pr-1">Bank Number:</td>
                      <td>{{ payment_method.bank_no }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </b-col>
          </b-row>
        </b-card-body>
        <b-table :items="products" striped :fields="fields" responsive>
          <template #cell(po_title)="row">
            <b-card-text class="font-weight-bold mb-25">
              {{ row.value }}
            </b-card-text>
            <b-card-text class="text-nowrap">
              {{ row.item.product_name }}

              <p
                v-if="(row.item.order_item_variants || []).length"
                class="font-weight-bold mt-50 mb-0 text-muted"
              >
                <small>Variant</small>
              </p>
              <p
                v-for="variant in row.item.order_item_variants"
                :key="`variant-${variant.id}`"
                class="mb-0"
              >
                <small>
                  {{ variant.variant_name }}:
                  <span class="font-weight-bold">
                    {{ variant.variant_item_name }}
                  </span>
                </small>
              </p>
            </b-card-text>
            <b-button
              size="sm"
              variant="outline-primary"
              class="mr-2"
              @click="row.toggleDetails"
            >
              {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
            </b-button>
          </template>
          <template #cell(total_price)="row">
            {{ formatRupiah(row.value) }}
          </template>

          <template #row-details="row">
            <b-card bg-variant="transparent" no-body>
              <b-card-text class="text-nowrap">
                <span class="d-block text-muted">Lettering on cake:</span>
                {{ getLetteringCake(row.item.order_item_meta) || '-' }}
              </b-card-text>
              <b-card-text class="text-nowrap">
                <span class="d-block text-muted">Lettering on cake board:</span>
                {{ getLetteringCakeBoard(row.item.order_item_meta) || '-' }}
              </b-card-text>
              <b-card-text class="text-nowrap">
                <span class="d-block text-muted">Greeting Card:</span>
                {{ getGreetingCard(row.item.order_item_meta) || '-' }}
              </b-card-text>
              <b-card-text class="text-nowrap">
                <span class="d-block text-muted">
                  Describe your request cake:
                </span>
                {{ getDescribe(row.item.order_item_meta) || '-' }}
              </b-card-text>

              <b-card-text class="text-nowrap">
                <span class="d-block text-muted">NB:</span>
                {{ getNote(row.item.order_item_meta) || '-' }}
              </b-card-text>

              <small
                v-if="getIsImageDeleted(row.item.order_item_meta)"
                class="font-italic font-weight-bolder text-muted"
                >— Gambar/Photo sudah dihapus oleh admin</small
              >

              <div v-else class="d-flex">
                <div
                  v-for="(img, index) in getPhotos(row.item.order_item_meta)"
                  :key="`custom-lazy-${index}`"
                  class="mr-1 cursor-pointer"
                  @click="
                    handleShowImage(
                      formatImage(
                        img.meta_value,
                        `orders/${detail.order_number.replace(
                          '#',
                          ''
                        )}/${row.item.product_name.split(' ').join('-')}_${
                          row.item.id
                        }`
                      )
                    )
                  "
                >
                  <b-img-lazy
                    :src="
                      formatImage(
                        img.meta_value,
                        `orders/${detail.order_number.replace(
                          '#',
                          ''
                        )}/${row.item.product_name.split(' ').join('-')}_${
                          row.item.id
                        }`
                      )
                    "
                    class="rounded"
                    style="object-fit: cover; height: 60px"
                    width="60"
                    height="60"
                  ></b-img-lazy>
                </div>
              </div>
            </b-card>
          </template>
        </b-table>

        <!-- Invoice Description: Total -->
        <b-card-body class="invoice-padding">
          <b-row>
            <!-- Col: Total -->
            <b-col
              cols="12"
              md="6"
              class="mt-md-6 d-flex justify-content-end"
              offset="1"
              offset-md="6"
            >
              <div class="invoice-total-wrapper">
                <div class="invoice-total-item">
                  <p class="invoice-total-title">Subtotal:</p>
                  <p class="invoice-total-amount">
                    {{ formatRupiah(totalPriceProduct) }}
                  </p>
                </div>
                <div
                  v-if="detail.delivery_type === 'delivery'"
                  class="invoice-total-item"
                >
                  <p class="invoice-total-title">Delivery Fee:</p>
                  <p class="invoice-total-amount">
                    {{ formatRupiah(deliveryFee) }}
                  </p>
                </div>
                <hr class="my-50" />
                <div class="invoice-total-item">
                  <p class="invoice-total-title">Total:</p>
                  <p class="invoice-total-amount">
                    {{ formatRupiah(totalPriceProduct + deliveryFee) }}
                  </p>
                </div>
              </div>
            </b-col>
          </b-row>
        </b-card-body>
      </b-card>
      <b-modal v-model="imageShow" size="lg" class="text-center" hide-footer>
        <b-img :src="imageSelected" style="width: 100%"></b-img>
      </b-modal>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  filters: {
    formatStatus(status = '') {
      return (status || '').replaceAll('_', ' ')
    },
    getColorStatus(status) {
      switch (status) {
        case 'waiting_payment':
          return 'light-warning'
        case 'waiting_confirmation':
          return 'warning'
        case 'process':
          return 'light-info'
        case 'ready_pickup':
          return 'info'
        case 'delivery':
          return 'info'
        case 'done':
          return 'success'
        case 'reject':
          return 'danger'

        default:
          return 'primary'
      }
    },
    formatDelivery(type = '') {
      switch (type) {
        case 'pickup':
          return 'Self Pickup'
        case 'ojek':
          return 'Ojek Online'

        default:
          return 'Delivery'
      }
    },
    formatDate(date) {
      return moment(date).format('DD MMMM YYYY')
    },
    formatDateTime(date) {
      return moment(date).format('DD MMMM YYYY HH:mm')
    },
  },
  props: {
    detail: { type: Object, default: () => ({}) },
  },
  data() {
    return {
      fields: [
        {
          key: 'po_title',
          label: 'Product Detail',
          sortable: false,
        },
        {
          key: 'qty',
          label: 'Quantity',
          sortable: false,
        },
        {
          key: 'total_price',
          label: 'Total',
          sortable: false,
        },
      ],
      imageSelected: null,
      imageShow: false,
    }
  },
  computed: {
    address() {
      const addressMeta = this.detail?.order_meta?.filter((meta) =>
        meta.meta_key.includes('address_')
      )

      return (addressMeta || []).reduce((result, current) => {
        result[current.meta_key] = current.meta_value
        return result
      }, {})
    },
    payment_method() {
      return this.detail?.payment_method || {}
    },
    products() {
      return this.detail?.order_item || []
    },
    totalPriceProduct() {
      return (
        +(this.detail?.order_meta || []).find(
          (item) => item.meta_key === 'total_price_product'
        )?.meta_value || 0
      )
    },
    deliveryFee() {
      return (
        +(this.detail?.order_meta || []).find(
          (item) => item.meta_key === 'delivery_price'
        )?.meta_value || 0
      )
    },
  },
  methods: {
    getIsImageDeleted(metas) {
      return !!(
        +(metas || []).find((meta) => meta.meta_key === 'is_image_deleted')
          ?.meta_value || false
      )
    },
    getPhotos(metas) {
      return (metas || []).filter((meta) => meta.meta_key === 'custom_photo')
    },
    getNote(metas) {
      return (metas || []).find((meta) => meta.meta_key === 'note')?.meta_value
    },
    getLetteringCake(metas) {
      return (metas || []).find((meta) => meta.meta_key === 'lettering_on_cake')
        ?.meta_value
    },
    getLetteringCakeBoard(metas) {
      return (metas || []).find(
        (meta) => meta.meta_key === 'lettering_on_cake_board'
      )?.meta_value
    },
    getGreetingCard(metas) {
      return (metas || []).find((meta) => meta.meta_key === 'greeting_card')
        ?.meta_value
    },
    getDescribe(metas) {
      return (metas || []).find((meta) => meta.meta_key === 'describe')
        ?.meta_value
    },
    handleShowImage(image) {
      this.imageSelected = image
      this.imageShow = true
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~@core/scss/base/pages/app-invoice.scss';
</style>
