<template>
  <div>
    <div style="min-height: 600px">
      <google-map-loader
        :map-config="{ ...mapConfig, center }"
        @click="onChangeMarker"
      >
        <template slot-scope="{ google, map }">
          <google-map-marker
            :marker="{ position: getLatLong() }"
            :google="google"
            :map="map"
          />
          <div class="text-right map-btn-wrapper">
            <b-button class="mr-1" @click="handleGetMyLocation">
              Gunakan Lokasi Saat Ini
            </b-button>
            <b-button @click="$emit('choose:again')">
              Cari Ulang Alamat
            </b-button>
          </div>
        </template>
      </google-map-loader>
    </div>
    <b-overlay :show="loading" rounded="md">
      <div class="mt-1 shadow rounded p-1">
        <h6>{{ userDragData.formatted_address }}</h6>
      </div>
    </b-overlay>
    <b-alert variant="danger" :show="isMoreThanDistance">
      <div class="alert-body">
        <span>
          Alamatmu diluar jangkauan dari toko, jarak maksimal adalah
          {{ maxDistance }}km dari toko. Mohon untuk mengganti alamat yang
          didalam jangkauan pengiriman.
        </span>
      </div>
    </b-alert>
    <div class="d-flex justify-content-between align-items-center my-1">
      <div>
        <span class="text-muted">Jarak dengan toko</span> {{ distance }}KM
      </div>
      <div class="text-right">
        <b-button
          variant="outline-secondary"
          class="mr-1"
          @click="handleGetMyLocation"
        >
          Gunakan Lokasi Saat Ini
        </b-button>
        <b-button variant="outline-secondary" @click="$emit('choose:again')">
          Cari Ulang Alamat
        </b-button>
      </div>
    </div>
    <b-alert variant="primary" show>
      <h4 class="alert-heading">Nama lokasi tidak sesuai alamatmu?</h4>
      <div class="alert-body">
        <span>
          Tenang, kamu akan isi alamat nanti. Pastikan pinpoint/titik lokasi map
          sudah sesuai dulu
        </span>
      </div>
    </b-alert>
    <div class="d-flex justify-content-end">
      <b-button
        v-if="isEdit"
        variant="outline-danger"
        class="mr-1"
        @click="$emit('cancel:edit')"
      >
        Cancel Edit
      </b-button>
      <b-button
        variant="success"
        :disabled="isMoreThanDistance"
        @click="$emit('select', userDragData)"
      >
        Pilih Lokasi & Lanjut Isi Alamat
      </b-button>
    </div>
  </div>
</template>

<script>
import { latLng } from 'leaflet'
import 'leaflet/dist/leaflet.css'
import haversine from 'haversine'

import _ from 'lodash'
import GoogleMapLoader from './google-map/GoogleMapLoader.vue'
import GoogleMapMarker from './google-map/GoogleMapMarker.vue'

export default {
  components: {
    GoogleMapLoader,
    GoogleMapMarker,
  },
  props: {
    isEdit: { type: Boolean, default: false },
    lat: { type: Number, default: 0.0, required: true },
    long: { type: Number, default: 0.0, required: true },
    data: { type: Object, default: () => ({}) },
  },
  data() {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      center: latLng(this.lat, this.long),
      userDragData: { ...JSON.parse(JSON.stringify(this.data)) },
      loading: false,
    }
  },
  computed: {
    maxDistance() {
      return +this.$store.get('addressCustomer/max_distance')?.meta_value
    },
    shopLat() {
      return +this.$store.get('addressCustomer/shop_lat')?.meta_value
    },
    shopLong() {
      return +this.$store.get('addressCustomer/shop_long')?.meta_value
    },
    distance() {
      const shopCoord = {
        latitude: this.shopLat,
        longitude: this.shopLong,
      }
      const addressCoord = {
        latitude: this.userDragData?.geometry?.location?.lat,
        longitude: this.userDragData?.geometry?.location?.lng,
      }

      if (_.isEmpty(shopCoord) && _.isEmpty(addressCoord)) {
        return 0
      }

      return +Math.round(+haversine(shopCoord, addressCoord) * 100) / 100
    },
    isMoreThanDistance() {
      return +this.distance > +this.maxDistance
    },
    mapConfig() {
      return {
        zoom: 18,
        clickableIcons: false,
        streetViewControl: false,
        mapTypeControl: false,
      }
    },
  },
  methods: {
    async onChangeMarker(latLong) {
      // const latLong = event?.latlng
      this.loading = true
      this.center = latLng(latLong.lat, latLong.lng)
      const myLocation = await this.$store.dispatch('addressCustomer/reverse', {
        lat: latLong.lat,
        long: latLong.lng,
      })

      if (myLocation) {
        this.userDragData = myLocation
      }

      this.loading = false
    },
    handleGetMyLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(async (position) => {
          this.loading = true
          const lat = position.coords.latitude
          const long = position.coords.longitude

          const myLocation = await this.$store.dispatch(
            'addressCustomer/reverse',
            { lat, long }
          )

          if (myLocation) {
            this.userDragData = myLocation
            this.center = latLng(lat, long)
          }
          this.loading = false
        })
      }
    },

    getLatLong() {
      return this.userDragData?.geometry?.location || { lat: 0, lng: 0 }
    },
  },
}
</script>
<style lang="scss" scoped>
.marker-centered {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 20;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  transition: all 0.4s ease;
}
.map-btn-wrapper {
  position: absolute;
  top: 12px;
  right: 70px;
}
</style>

<style lang="scss">
@import '~@core/scss/vue/libs/map-leaflet.scss';

.vue2leaflet-map {
  &.leaflet-container {
    height: 350px;
  }
}
</style>