<template>
  <validation-observer ref="mutationMenu">
    <b-form @submit.stop.prevent="validationForm">
      <b-form-group label="Title Menu" label-for="title">
        <validation-provider
          #default="{ errors }"
          vid="title"
          name="Title Menu"
          rules="required"
        >
          <b-form-input
            id="title"
            v-model="form.title"
            :state="errors.length > 0 ? false : null"
            placeholder="Title Menu"
          />
          <small class="text-danger">{{ errors[0] }}</small>
        </validation-provider>
      </b-form-group>
      <b-form-group label="Target Url" label-for="target_url">
        <validation-provider
          #default="{ errors }"
          vid="target_url"
          name="Target Url"
          rules="required"
        >
          <b-form-input
            id="target_url"
            v-model="form.target_url"
            :state="errors.length > 0 ? false : null"
            placeholder="Target Url"
          />
          <small class="text-danger">{{ errors[0] }}</small>
        </validation-provider>
      </b-form-group>
      <b-form-group label="Active" label-for="active">
        <b-form-checkbox
          v-model="form.active"
          class="custom-control-success"
          name="check-button"
          switch
        />
      </b-form-group>

      <div class="d-flex justify-content-end justify-content-sm-start">
        <b-button variant="secondary" type="submit"> Save </b-button>
      </div>
    </b-form>
  </validation-observer>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  props: { defaultForm: { type: Object, default: null } },
  data() {
    return {
      required,
      form: {
        title: '',
        target_url: '',
        active: false,
      },
    }
  },
  watch: {
    defaultForm: {
      handler(newVal) {
        if (newVal) {
          this.form = {
            title: newVal?.data?.title,
            target_url: newVal?.data?.link,
            active: !!+newVal?.data?.active,
          }
        }
      },
      immediate: true,
    },
  },
  methods: {
    validationForm() {
      this.$refs.mutationMenu.validate().then((success) => {
        if (success) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      const dataSubmit = {
        meta_data: [
          {
            meta_key: `${this.defaultForm?.key}_title`,
            meta_value: this.form.title,
          },
          {
            meta_key: `${this.defaultForm?.key}_link`,
            meta_value: this.form.target_url,
          },
          {
            meta_key: `${this.defaultForm?.key}_active`,
            meta_value: this.form.active ? 1 : 0,
          },
        ],
      }

      const res = await this.$store.dispatch(
        'configAdmin/updateBulk',
        dataSubmit
      )

      if(res) {
          this.$emit('submit:success')
      }
      this.setLoading(false)
    },
  },
}
</script>

<style>
</style>