<template>
  <b-card>
    <b-card-title>
      <div class="d-flex align-items-center">
        <b-button variant="outline-primary" class="mr-1" @click="handleBack">
          <feather-icon icon="ArrowLeftIcon" />
        </b-button>
        <span>{{ mode === 'add' ? 'Add' : 'Edit' }} Address</span>
      </div>
    </b-card-title>
    <div>
      <div v-if="form_section">
        <div id="formMutationAddress" ref="formMutationAddress">
          <validation-observer ref="mutationAddress" #default="{ invalid }">
            <b-form @submit.prevent="validationForm">
              <h4>Lengkapi Detail Alamat</h4>
              <b-card bg-variant="light-secondary">
                <b-row>
                  <b-col
                    class="
                      d-flex
                      justify-content-start justify-content-sm-center
                      mb-1 mb-sm-0
                    "
                  >
                    <feather-icon icon="MapPinIcon" size="24" />
                  </b-col>
                  <b-col cols="11">
                    <p>
                      {{ addressName }}
                    </p>
                    <b-button
                      size="sm"
                      variant="outline-primary"
                      @click="handleChangeLocation"
                    >
                      Change Location
                    </b-button>
                  </b-col>
                </b-row>
              </b-card>
              <b-form-group label="Label" label-for="label">
                <validation-provider
                  #default="{ errors }"
                  name="Label"
                  rules="required"
                  vid="label"
                >
                  <b-form-input
                    id="label"
                    v-model="form.label"
                    :state="errors.length > 0 ? false : null"
                    placeholder="contoh: Rumah"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group label="Alamat Lengkap" label-for="address">
                <validation-provider
                  #default="{ errors }"
                  name="Alamat Lengkap"
                  rules="required"
                  vid="address"
                >
                  <b-form-textarea
                    id="address"
                    v-model="form.address"
                    :state="errors.length > 0 ? false : null"
                    placeholder="contoh: Jl. Wates KM..."
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group>
                <template #label>
                  <label for="note">
                    Catatan Tambahan <small>(optional)</small>
                  </label>
                </template>
                <validation-provider
                  #default="{ errors }"
                  name="Catatan Tambahan"
                  rules="max:255"
                  vid="note"
                >
                  <b-form-textarea
                    id="note"
                    v-model="form.note"
                    :state="errors.length > 0 ? false : null"
                    placeholder="contoh: cat rumah warna ungu"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group label="Nama Penerima" label-for="name">
                <validation-provider
                  #default="{ errors }"
                  name="Nama Penerima"
                  rules="required"
                  vid="name"
                >
                  <b-form-input
                    id="name"
                    v-model="form.name"
                    :state="errors.length > 0 ? false : null"
                    placeholder="contoh: John Doe"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group label-for="phone" label="Phone">
                <validation-provider
                  #default="{ errors }"
                  name="Phone"
                  rules="required"
                  vid="phone"
                >
                  <cleave
                    id="phone"
                    v-model="form.phone"
                    :class="['form-control', { 'is-invalid': !!errors.length }]"
                    :options="optionPhone"
                    placeholder="0896 xxx xxx xxxx"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <hr />
              <div class="d-flex justify-content-end">
                <b-button type="submit" :disabled="invalid">Save</b-button>
              </div>
            </b-form>
          </validation-observer>
        </div>
      </div>
      <div v-else>
        <h5>Lokasi</h5>
        <p class="text-muted">
          Cari lokasi pengantaran yang terdekat dari tempatmu
        </p>
        <search-location
          :is-edit="isEditLocation"
          :data-edit="location"
          @select="selectLocation"
          @cancel:edit="handleCancelEdit"
        ></search-location>
      </div>
    </div>
  </b-card>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'
import Cleave from 'vue-cleave-component'
import 'cleave.js/dist/addons/cleave-phone.id'
import _ from 'lodash'
import SearchLocation from './SearchLocation.vue'

export default {
  components: {
    SearchLocation,
    ValidationProvider,
    ValidationObserver,
    Cleave,
  },
  props: {
    mode: {
      type: String,
      default: 'add',
      required: true,
      validator: (prop) => ['add', 'edit'].includes(prop),
    },
  },
  data() {
    return {
      optionPhone: {
        phone: true,
        phoneRegionCode: 'id',
      },
      required,
      isEditLocation: false,
      form_section: false,
      location: null,
      form: {
        label: '',
        name: '',
        phone: null,
        address: '',
        note: '',
      },
    }
  },
  computed: {
    addressName() {
      return this.location?.formatted_address || '-'
    },
    error() {
      return this.$store.get('addressCustomer/error')
    },
    show_alert() {
      return this.$store.get('addressCustomer/show_alert')
    },
    alert_message() {
      return this.$store.get('addressCustomer/alert_message')
    },
    alert_title() {
      return this.$store.get('addressCustomer/alert_title')
    },
    alert_status() {
      return this.$store.get('addressCustomer/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })

        this.$store.set('addressCustomer/show_alert', false)
      }
    },
    error: {
      handler(newVal) {
        if (!_.isEmpty(newVal)) {
          this.$refs.mutationAddress.setErrors(newVal)
        }
      },
      immediate: true,
    },
  },
  methods: {
    selectLocation(dataLocation) {
      this.location = dataLocation
      this.form_section = true
    },
    validationForm() {
      this.$refs.mutationAddress.validate().then((success) => {
        if (success) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      const dataSubmit = {
        ...this.form,
        lat: this.location?.geometry?.location?.lat,
        long: this.location?.geometry?.location?.lng,
        formatted_address: this.location.formatted_address,
      }
      console.log(this.location, 'LOCATION')
      let res = false
      if (this.mode === 'add') {
        res = await this.$store.dispatch('addressCustomer/create', dataSubmit)
      } else if (this.mode === 'edit') {
        res = await this.$store.dispatch('addressCustomer/update', dataSubmit)
      }

      if (res) {
        this.$emit('submit:success', dataSubmit)
      }
      this.setLoading(false)
    },
    setEditForm(item) {
      this.form_section = true
      this.setLoading(true)

      this.form = {
        id: item.id,
        label: item.label,
        name: item.name,
        phone: item.phone,
        address: item.address,
        note: item.note,
      }
      this.location = {
        formatted_address: item?.formatted_address,
        geometry: { location: { lat: item.lat, lng: item.long } },
      }

      this.setLoading(false)
    },
    handleBack() {
      this.location = null
      this.form_section = false
      this.form = {
        label: '',
        name: '',
        phone: null,
        address: '',
        note: '',
      }
      this.$emit('back')
    },
    handleChangeLocation() {
      this.isEditLocation = true
      this.form_section = false
    },
    handleCancelEdit() {
      this.isEditLocation = false
      this.form_section = true
    },
  },
}
</script>

<style>
</style>