<template>
  <b-row>
    <b-modal
      v-model="updateStatus.modal"
      :title="updateStatus.message"
      :ok-variant="updateStatus.variant"
      ok-title="Submit"
      cancel-title="Tidak"
      cancel-variant="flat-secondary"
      centered
      @ok="validationStatus"
    >
      <validation-observer ref="mutationStatus">
        <b-form @submit.stop.prevent="validationStatus">
          <b-form-group
            v-if="updateStatus.variant === 'danger'"
            label="Alasan Pembatalan"
            label-for="note"
          >
            <validation-provider
              #default="{ errors }"
              vid="note"
              name="Alasan Pembatalan"
              rules="required"
            >
              <b-form-textarea
                id="note"
                v-model="noteUpdateStatus"
                :state="errors.length > 0 ? false : null"
                placeholder="contoh: Uang tidak masuk"
              />
              <small class="text-danger">{{ errors[0] }}</small>
            </validation-provider>
          </b-form-group>
          <b-form-group
            v-else
            label="Tambahkan catatan (optional)"
            label-for="note"
          >
            <b-form-textarea v-model="noteUpdateStatus"> </b-form-textarea>
          </b-form-group>
        </b-form>
      </validation-observer>
    </b-modal>
    <b-col cols="12" sm="8">
      <invoice-detail :detail="detail"></invoice-detail>
    </b-col>
    <b-col cols="12" sm="4">
      <b-button
        v-if="canApprove"
        variant="success"
        block
        class="mb-1"
        @click="handleUpdateStatus(statusApprove)"
      >
        {{
          detail.status === 'process' ? 'Order Sudah Selesai Dibuat' : 'Selesai'
        }}
      </b-button>
      <b-card
        v-if="!isAdminPage && detail.status === 'waiting_payment'"
        title="Bukti Transfer"
      >
        <b-form-group label="Upload bukti transfer">
          <drag-image
            :is-error="imgRules.error"
            @change="form.photo = $event"
          ></drag-image>
          <small v-if="imgRules.error" class="text-danger">{{
            imgRules.message
          }}</small>
        </b-form-group>
        <b-form-group label="Catatan Customer (optional)">
          <b-form-textarea v-model="form.note"></b-form-textarea>
        </b-form-group>
        <b-button block @click="validationForm"> Update Payment </b-button>
      </b-card>
      <b-card v-else title="Bukti Transfer">
        <b-modal
          v-model="imageShow"
          size="lg"
          class="text-center"
          :title="`Bukti Transfer Order ${detail.order_number}`"
          hide-footer
        >
          <b-img :src="imageSelected" style="width: 100%"></b-img>
        </b-modal>
        <b-form-group label="Photo Bukti Transfer">
          <b-img
            v-if="!!buktiTransferPhoto"
            :src="buktiTransferPhoto"
            style="width: 100%"
            class="rounded cursor-pointer"
            @click="handleShowImage"
          ></b-img>
          <div
            v-else
            class="
              rounded
              border
              d-flex
              align-items-center
              justify-content-center
            "
            style="height: 200px"
          >
            <span class="text-muted">Belum Dibayar</span>
          </div>
        </b-form-group>
        <b-form-group label="Catatan">
          <b-form-textarea
            :value="buktiTransferNote"
            disabled
          ></b-form-textarea>
        </b-form-group>
        <template
          v-if="
            !!buktiTransferPhoto &&
            detail.status === 'waiting_confirmation' &&
            isAdminPage
          "
        >
          <b-button
            variant="success"
            block
            @click="handleUpdateStatus('process')"
          >
            Konfirmasi Pembayaran
          </b-button>
          <b-button
            variant="outline-danger"
            block
            @click="handleUpdateStatus('waiting_payment')"
          >
            Tolak Pembayaran
          </b-button>
        </template>
      </b-card>
      <template v-if="isAdminPage">
        <b-button variant="warning" block @click="handleDownloadImage">
          Download All Images
        </b-button>
        <b-button variant="outline-danger" block @click="handleDeleteImage">
          Delete All Images
        </b-button>
      </template>
      <b-button
        v-if="canCancel"
        variant="flat-danger"
        block
        @click="handleUpdateStatus('reject')"
      >
        Batalkan Pemesanan
      </b-button>
    </b-col>
    <b-col cols="12" sm="8">
      <b-card title="Order History">
        <app-timeline>
          <app-timeline-item
            v-for="history in histories"
            :key="`history-${history.id}`"
            :variant="history.custom_color"
          >
            <div
              class="
                d-flex
                flex-sm-row flex-column flex-wrap
                justify-content-between
                mb-1 mb-sm-0
              "
            >
              <h6 class="mb-0">{{ history.activity }}</h6>
              <small class="text-muted">{{
                history.created_at | formatDate
              }}</small>
            </div>
            <p class="mt-50">{{ history.description }}</p>
            <b-media
              v-if="!!getUserDetail(history).role"
              vertical-align="center"
            >
              <template #aside>
                <b-avatar
                  :src="
                    formatImage(
                      getUserDetail(history).profile_photo_url,
                      'avatars'
                    )
                  "
                />
              </template>
              <h6 class="mb-0">
                {{ getUserDetail(history).first_name }}
                {{ getUserDetail(history).last_name }}
              </h6>
              <p class="mb-0 text-muted">
                {{
                  getUserDetail(history).role === 'user' ? 'Customer' : 'Admin'
                }}
              </p>
            </b-media>
            <p v-else class="text-muted font-italic">
              &#8212; Updated by system
            </p>
          </app-timeline-item>
        </app-timeline>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
import InvoiceDetail from '@core/components/InvoiceDetail.vue'
import DragImage from '@core/components/DragImage.vue'
import AppTimeline from '@core/components/app-timeline/AppTimeline.vue'
import AppTimelineItem from '@core/components/app-timeline/AppTimelineItem.vue'
import moment from 'moment'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'

export default {
  components: {
    InvoiceDetail,
    DragImage,
    AppTimeline,
    AppTimelineItem,
    ValidationProvider,
    ValidationObserver,
  },
  filters: {
    formatDate(date) {
      return moment(date).format('DD MMMM YYYY')
    },
  },
  data() {
    return {
      form: {
        photo: null,
        note: '',
      },
      imageShow: false,
      imageSelected: null,
      imgRules: {
        error: false,
        message: 'The Photo Bukti Transfer field is required',
      },
      updateStatus: {
        modal: false,
        status: '',
        message: '',
        variant: 'success',
      },
      noteUpdateStatus: '',
      required,
    }
  },
  computed: {
    orderNumber() {
      return this.$route.params?.orderNumber
    },
    detail() {
      if (this.isAdminPage) {
        return this.$store.get('orderAdmin/detail')
      }
      return this.$store.get('orderCustomer/detail')
    },
    canApprove() {
      return (
        this.isAdminPage &&
        ['process', 'ready_pickup', 'delivery'].includes(this.detail?.status)
      )
    },
    statusApprove() {
      if (
        this.detail?.status === 'process' &&
        this.detail.delivery_type === 'delivery'
      ) {
        return 'delivery'
      }

      if (
        this.detail?.status === 'process' &&
        this.detail.delivery_type === 'pickup'
      ) {
        return 'ready_pickup'
      }

      if (this.detail?.status !== 'process') {
        return 'done'
      }
      return ''
    },
    canCancel() {
      if (this.isAdminPage) {
        return ['waiting_payment', 'waiting_confirmation', 'process'].includes(
          this.detail?.status
        )
      }
      return ['waiting_payment', 'waiting_confirmation'].includes(
        this.detail?.status
      )
    },
    histories() {
      return this.detail?.history || []
    },
    buktiTransferPhoto() {
      const pathImg = (this.detail?.order_meta || []).find(
        (item) => item.meta_key === 'bukti_transfer_photo'
      )?.meta_value
      return this.formatImage(pathImg, `orders/${this.detail.id}`)
    },
    buktiTransferNote() {
      const note = (this.detail?.order_meta || []).find(
        (item) => item.meta_key === 'bukti_transfer_note'
      )?.meta_value
      return note
    },
    show_alert() {
      return this.$store.get('orderCustomer/show_alert')
    },
    alert_message() {
      return this.$store.get('orderCustomer/alert_message')
    },
    alert_title() {
      return this.$store.get('orderCustomer/alert_title')
    },
    alert_status() {
      return this.$store.get('orderCustomer/alert_status')
    },
    show_alert_admin() {
      return this.$store.get('orderAdmin/show_alert')
    },
    alert_message_admin() {
      return this.$store.get('orderAdmin/alert_message')
    },
    alert_title_admin() {
      return this.$store.get('orderAdmin/alert_title')
    },
    alert_status_admin() {
      return this.$store.get('orderAdmin/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })

        this.$store.set('orderCustomer/show_alert', false)
      }
    },
    show_alert_admin(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message_admin, {
          title: this.alert_title_admin,
          variant: this.alert_status_admin,
          solid: true,
        })

        this.$store.set('orderAdmin/show_alert', false)
      }
    },
    'form.photo': {
      handler(newVal) {
        if (newVal) {
          this.imgRules.error = false
        }
      },
      immedite: true,
    },
  },
  created() {
    this.load()
  },
  methods: {
    async load() {
      this.setLoading(true)
      const res = await this.$store.dispatch(
        this.isAdminPage ? 'orderAdmin/loadById' : 'orderCustomer/loadById',
        this.orderNumber
      )

      if (!res) {
        this.$router.back()
      }
      this.setLoading(false)
    },
    handleShowImage() {
      this.imageSelected = this.buktiTransferPhoto
      this.imageShow = true
    },
    validationForm() {
      if (!this.form.photo) {
        this.imgRules.error = true
        return
      }

      if (this.form.photo) {
        this.onSubmitBuktiTransfer()
      }
    },
    async onSubmitBuktiTransfer() {
      this.setLoading(true)
      const formData = new FormData()
      formData.append('bukti_transfer_photo', this.form.photo)
      formData.append('bukti_transfer_note', this.form.note)
      const res = await this.$store.dispatch('orderCustomer/updatePayment', {
        id: this.detail.id,
        data: formData,
      })

      if (res) {
        this.load()
      }
      this.setLoading(false)
    },
    getUserDetail(history) {
      return history?.user_detail || {}
    },
    handleUpdateStatus(status) {
      switch (status) {
        case 'process':
          this.updateStatus = {
            modal: true,
            message: 'Anda yakin mengkonfirmasi pembayaran?',
            variant: 'success',
            status,
          }
          break
        case 'ready_pickup':
          this.updateStatus = {
            modal: true,
            message:
              'Anda yakin order ini sudah siap untuk diambil oleh customer?',
            variant: 'success',
            status,
          }
          break
        case 'delivery':
          this.updateStatus = {
            modal: true,
            message: 'Anda yakin order ini sudah siap untuk dikirim?',
            variant: 'success',
            status,
          }
          break
        case 'done':
          this.updateStatus = {
            modal: true,
            message: 'Anda yakin untuk menyelesaikan order ini?',
            variant: 'success',
            status,
          }
          break
        case 'reject':
          this.updateStatus = {
            modal: true,
            message: 'Anda yakin untuk membatalkan order ini?',
            variant: 'danger',
            status,
          }
          break
        case 'waiting_payment':
          this.updateStatus = {
            modal: true,
            message: 'Anda yakin untuk menolak pembayaran ini?',
            variant: 'danger',
            status,
          }
          break

        default:
          break
      }
    },
    validationStatus(event) {
      event.preventDefault()
      if (this.updateStatus.variant === 'danger') {
        this.$refs.mutationStatus.validate().then((success) => {
          if (success) {
            this.onSubmitStatus()
          }
        })
      } else {
        this.onSubmitStatus()
      }
    },
    async onSubmitStatus() {
      this.setLoading(true)
      let res = false

      if (this.isAdminPage) {
        res = await this.$store.dispatch('orderAdmin/updateStatus', {
          id: this.detail.id,
          status: this.updateStatus.status,
          note: this.noteUpdateStatus,
        })
      } else {
        res = await this.$store.dispatch('orderCustomer/reject', {
          id: this.detail.id,
          note: this.noteUpdateStatus,
        })
      }

      if (res) {
        this.updateStatus.modal = false
        this.load()
      }
      this.setLoading(false)
    },
    async handleDownloadImage() {
      this.setLoading(true)
      await this.$store.dispatch('orderAdmin/downloadImage', this.detail.id)
      this.setLoading(false)
    },
    handleDeleteImage() {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete all images on ${this.detail?.order_number}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then(async (result) => {
        if (result.value) {
          this.setLoading(true)
          const res = await this.$store.dispatch(
            'orderAdmin/deleteImage',
            this.detail.id
          )
          if (res) {
            this.load()
          }
          this.setLoading(false)
        }
      })
    },
  },
}
</script>

<style>
</style>