<template>
  <div>
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <b-card>
          <b-skeleton width="85%"></b-skeleton>
          <b-skeleton width="55%"></b-skeleton>
          <b-skeleton width="70%"></b-skeleton>
        </b-card>
      </template>

      <b-card
        v-for="order in datas"
        :key="order.id"
        class="cursor-pointer pointer"
        @click="
          $router.push({
            name: 'order-history.detail',
            params: { orderNumber: order.order_number },
          })
        "
      >
        <div class="d-flex flex-column flex-sm-row">
          <div style="flex: 1">
            <b-badge
              :variant="order.status | getColorStatus"
              class="mb-1 text-capitalize"
            >
              {{ order.status | formatStatus }}
            </b-badge>
            <h3>{{ order.order_number }}</h3>
            <div>
              <span class="text-muted">Order Created:</span>
              {{ order.created_at | formatDate }}
            </div>
            <div>
              <span class="text-muted">Order for Date:</span>
              {{ order.order_date | formatDateTime }}
            </div>
          </div>

          <b-row class="pt-1">
            <b-col cols="12" class="d-block d-sm-none">
              <hr />
            </b-col>
            <b-col cols="6" sm="12">
              <div>
                <span class="d-block text-muted">Total Price</span>
                <span class="d-block font-weight-bold">{{
                  formatRupiah(order.total_price)
                }}</span>
              </div>
            </b-col>
            <b-col cols="6" sm="12" class="d-flex justify-content-end">
              <div class="d-flex justify-content-end align-items-end">
                <b-button
                  v-if="order.status === 'waiting_payment'"
                  size="sm"
                  variant="success"
                  @click.stop="
                    $router.push({
                      name: 'order-history.detail',
                      params: { orderNumber: order.order_number },
                    })
                  "
                >
                  Payment
                </b-button>
                <b-button
                  v-else
                  size="sm"
                  variant="outline-primary"
                  @click.stop="
                    $router.push({
                      name: 'order-history.detail',
                      params: { orderNumber: order.order_number },
                    })
                  "
                  >Detail</b-button
                >
              </div>
            </b-col>
          </b-row>
        </div>
      </b-card>
    </b-skeleton-wrapper>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  filters: {
    formatStatus(status = '') {
      return (status || '').replaceAll('_', ' ')
    },
    getColorStatus(status) {
      switch (status) {
        case 'waiting_payment':
          return 'light-warning'
        case 'waiting_confirmation':
          return 'warning'
        case 'process':
          return 'light-info'
        case 'ready_pickup':
          return 'info'
        case 'delivery':
          return 'info'
        case 'done':
          return 'success'
        case 'reject':
          return 'danger'
          
        default:
          return 'primary'
      }
    },
    formatDate(date) {
      return moment(date).format('DD MMM YYYY')
    },
    formatDateTime(date) {
      return moment(date).format('DD MMM YYYY HH:mm')
    },
  },
  props: {
    status: {
      type: String,
      default: 'all',
      required: true,
    },
  },
  data() {
    return {
      loading: true,
      datas: [],
    }
  },

  created() {
    this.load()
  },
  methods: {
    async load() {
      this.loading = true
      const res = await this.$store.dispatch('orderCustomer/load', {
        status: this.status === 'all' ? '' : this.status,
      })

      if (res) {
        this.datas = res
      }
      this.loading = false
    },
  },
}
</script>

<style>
</style>