<template>
  <quill-editor
    v-model="content"
    :options="editorOption"
    class="custom-quill"
  />
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'

export default {
  components: {
    quillEditor,
  },
  props: {
    value: { type: String, default: '', required: true },
  },
  data() {
    return {
      editorOption: {
        modules: {
          toolbar: [
            [{ header: [1, 2, false] }],
            ['bold', 'italic', 'underline'],
            [
              { align: '' },
              { align: 'center' },
              { align: 'right' },
              { align: 'justify' },
            ],
            [{ list: 'bullet' }, { list: 'ordered' }],
          ],
        },
        theme: 'snow',
      },
    }
  },
  computed: {
    content: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('change:value', val)
      },
    },
  },
}
</script>

<style lang="scss">
.custom-quill .ql-editor {
  min-height: 200px;
}
</style>