<template>
  <div>
    <b-row v-if="map_section">
      <b-col cols="12">
        <map-selection
          :lat="+getLatLong().lat"
          :long="+getLatLong().lng"
          :data="selected_location"
          :is-edit="isEdit"
          @select="handleSubmitLocation"
          @choose:again="map_section = false"
          @cancel:edit="handleCancelEdit"
        ></map-selection>
      </b-col>
    </b-row>
    <div v-else>
      <b-row>
        <b-col cols="12" md="8">
          <b-form-group>
            <b-input-group class="input-group-merge">
              <b-form-input
                id="search_places"
                v-model="query"
                class="form-control-merge"
                type="text"
                name="search_places"
                placeholder="Tulis nama jalan/gedung/lokasi terdekat"
                autofocus
              />
              <b-input-group-append is-text>
                <feather-icon icon="SearchIcon" />
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="12" md="4">
          <b-button
            block
            variant="outline-primary"
            @click="handleGetMyLocation"
          >
            <feather-icon icon="MapPinIcon" /> Get my location
          </b-button>
        </b-col>
      </b-row>
      <hr />
      <div
        v-if="loading"
        class="d-flex align-items-center justify-content-center"
      >
        <b-spinner variant="primary"></b-spinner>
        <span class="text-primary ml-1">Sedang mencari lokasi...</span>
      </div>
      <div v-else>
        <b-card
          v-for="places in search_datas"
          :key="places.place_id"
          border-variant="secondary"
          class="cursor-pointer mb-1"
          @click="handleSelectLocationItem(places)"
        >
          <span>{{ places.description }}</span>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import MapSelection from './MapSelection.vue'

export default {
  components: { MapSelection },
  props: {
    isEdit: { type: Boolean, default: false },
    dataEdit: { type: Object, default: null },
  },
  data() {
    return {
      query: '',
      selected_location: null,
      loading: false,
      map_section: false,
      position: { lat: 0, lng: 0 },
    }
  },
  computed: {
    search_datas() {
      return this.$store.get('addressCustomer/search_location')
    },
  },
  watch: {
    query(searchVal) {
      this.searchPlaces(searchVal)
    },
    isEdit: {
      handler(newVal) {
        if (newVal) {
          this.map_section = true
          this.selected_location = JSON.parse(JSON.stringify(this.dataEdit))
        }
      },
      immediate: true,
    },
  },
  methods: {
    // eslint-disable-next-line func-names
    searchPlaces: _.debounce(async function (value) {
      this.loading = true
      await this.$store.dispatch('addressCustomer/searchPlaces', {
        search: value,
      })
      this.loading = false
    }, 500),
    async handleSelectLocationItem(item) {
      this.setLoading(true)
      const myLocation = await this.$store.dispatch('addressCustomer/reverse', {
        place_id: item.place_id,
      })
      this.selected_location = {
        ...myLocation,
        formatted_address: item.description,
      }
      this.map_section = true
      this.setLoading(false)
    },
    handleGetMyLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          async (position) => {
            this.loading = true
            const lat = position.coords.latitude
            const long = position.coords.longitude

            const myLocation = await this.$store.dispatch(
              'addressCustomer/reverse',
              { lat, long }
            )

            if (myLocation) {
              this.selected_location = myLocation
              this.map_section = true
            }
            this.loading = false
          },
          () => {
            this.$bvToast.toast(`Your device or browser not support`, {
              title: 'Error',
              variant: 'danger',
              solid: true,
            })
          }
        )
      }
    },
    getLatLong() {
      return this.selected_location?.geometry?.location || {}
    },
    handleSubmitLocation(location) {
      this.selected_location = location
      this.$emit('select', location)
    },
    handleCancelEdit() {
      this.map_section = false
      this.selected_location = {}
      this.$emit('cancel:edit')
    },
  },
}
</script>

<style>
</style>