 <template>
  <validation-observer ref="mutationPage" #default="{ invalid }">
    <b-form @submit.prevent="validationForm">
      <b-row>
        <b-col cols="12" md="8">
          <b-card-code no-body no-header>
            <b-card-body>
              <b-row>
                <b-col cols="12" sm="6">
                  <b-form-group label="Title" label-for="title">
                    <validation-provider
                      #default="{ errors }"
                      name="Title"
                      rules="required"
                      vid="title"
                    >
                      <b-form-input
                        id="title"
                        v-model="form.title"
                        :state="errors.length > 0 ? false : null"
                        placeholder="Title"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="6">
                  <b-form-group label="Slug" label-for="slug">
                    <validation-provider
                      #default="{ errors }"
                      name="Slug"
                      rules="required"
                      vid="slug"
                    >
                      <b-form-input
                        id="slug"
                        v-model="form.slug"
                        :state="errors.length > 0 ? false : null"
                        placeholder="Slug"
                        :disabled="!!pageId"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col cols="12">
                  <b-form-group label="Content" label-for="content">
                    <rich-editor
                      :value="form.content"
                      @change:value="form.content = $event"
                    ></rich-editor>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-card-body>
          </b-card-code>
        </b-col>
        <b-col cols="12" md="4">
          <b-card-code no-body no-header>
            <b-card-body>
              <b-form-group label="Header Image" label-for="photo">
                <drag-image
                  ref="photo"
                  :default-file="img"
                  @change="form.photo_url = $event"
                ></drag-image>
              </b-form-group>
              <b-button variant="secondary" type="submit" :disabled="invalid"> Save </b-button>
            </b-card-body>
          </b-card-code>
        </b-col>
      </b-row>
    </b-form>
  </validation-observer>
</template>
<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'
import DragImage from '@core/components/DragImage.vue'
import RichEditor from '@core/components/RichEditor.vue'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BCardCode,
    RichEditor,
    DragImage,
  },
  data() {
    return {
      required,
      form: {
        title: '',
        slug: '',
        content: '',
        photo_url: null,
      },
    }
  },
  computed: {
    pageId() {
      return this.$route.params.id
    },
    img() {
      return this.formatImage(this.form.photo_url, 'page')
    },
    error() {
      return this.$store.get('pageAdmin/error')
    },
    show_alert() {
      return this.$store.get('pageAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('pageAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('pageAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('pageAdmin/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        if (this.alert_status === 'success') {
          this.$swal({
            title: this.alert_title,
            text: this.alert_message,
            icon: 'success',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
            buttonsStyling: false,
          }).then((result) => {
            if (result.value) {
              this.$router.push('/admin/page/list')
            }
          })
        } else {
          this.$bvToast.toast(this.alert_message, {
            title: this.alert_title,
            variant: this.alert_status,
            solid: true,
          })
        }
        this.$store.set('pageAdmin/show_alert', false)
      }
    },
    'form.title': {
      handler(newVal) {
        if (newVal && !this.pageId) {
          this.form.slug = this.slugify(newVal)
        }
      },
      immedite: true,
    },
    error: {
      handler(newVal) {
        if (newVal?.title || newVal?.slug) {
          this.$refs.mutationPage.setErrors(newVal)
        }
      },
      immediate: true,
    },
  },
  created() {
    if (this.pageId) {
      this.getById()
    }
  },
  methods: {
    async getById() {
      this.setLoading(true)
      const res = await this.$store.dispatch('pageAdmin/loadById', this.pageId)

      if (res) {
        this.form = {
          title: res?.title,
          content: res.content,
          slug: res.slug,
          photo_url: res.photo_url,
        }
      }
      this.setLoading(false)
    },
    validationForm() {
      this.$refs.mutationPage.validate().then((success) => {
        if (success) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)

      const formData = new FormData()

      formData.append('title', this.form.title)
      formData.append('slug', this.form.slug)
      formData.append('content', this.form.content)

      if (this.form.photo_url && typeof this.form.photo_url === 'object') {
        formData.append('photo_url', this.form.photo_url)
      }

      let res = false

      if (this.pageId) {
        // EDIT PO
        res = await this.$store.dispatch('pageAdmin/update', {
          id: this.pageId,
          data: formData,
        })
      } else {
        res = await this.$store.dispatch('pageAdmin/create', formData)
      }

      if (res) {
        // Do something when success
      }

      this.setLoading(false)
    },
    slugify(text, ampersand = 'and') {
      const a = 'àáäâèéëêìíïîòóöôùúüûñçßÿỳýœæŕśńṕẃǵǹḿǘẍźḧ'
      const b = 'aaaaeeeeiiiioooouuuuncsyyyoarsnpwgnmuxzh'
      const p = new RegExp(a.split('').join('|'), 'g')

      return text
        .toString()
        .toLowerCase()
        .replace(/[\s_]+/g, '-')
        .replace(p, (c) => b.charAt(a.indexOf(c)))
        .replace(/&/g, `-${ampersand}-`)
        .replace(/[^\w-]+/g, '')
        .replace(/--+/g, '-')
        .replace(/^-+|-+$/g, '')
    },
  },
}
</script>

<style>
</style>