<template>
  <div
    class="
      d-flex
      align-items-center
      justify-content-center
      flex-column
      fill-height
    "
  >
    <h3>Welcome to</h3>
    <b-img
      width="300"
      :src="
        formatImage(logoGlobal.appLogoDark, 'config') || logoGlobal.appLogoDark
      "
    ></b-img>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.fill-height {
  min-height: calc(100vh - 300px);
}
</style>
