<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <b-link class="brand-logo" :to="{ name: 'home' }">
        <b-img
          :src="
            formatImage(logoGlobal.appLogoDark, 'config') ||
            logoGlobal.appLogoDark
          "
          alt="logo"
        />
      </b-link>
      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div
          class="w-100 d-lg-flex align-items-center justify-content-center px-5"
        >
          <b-img fluid :src="sideImg" alt="Forgot password V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Forgot password-->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5">
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <b-card-title class="mb-1"> Forgot Password? 🔒 </b-card-title>
          <b-card-text v-if="mode === 'send-code'" class="mb-2">
            Masukan email yang anda gunakan untuk login, kami akan mengirimkan
            kode OTP untuk mereset password anda
          </b-card-text>
          <b-alert
            v-if="mode === 'submit-code'"
            variant="warning"
            show
            class="mb-2"
          >
            <div class="alert-body">
              Kami sudah mengirimkan kode OTP ke email
              <strong>{{ sensorEmail }}</strong
              >, jika tidak ada di folder inbox pastikan untuk mengecek pada
              folder spam
            </div>
          </b-alert>
          <b-card-text v-if="mode === 'reset-password'" class="mb-2">
            Silakan masukan password baru yang ingin anda gunakan untuk login
          </b-card-text>

          <!-- form -->
          <template v-if="mode === 'send-code'">
            <validation-observer key="send-code" ref="sendCodeForm">
              <b-form
                class="auth-forgot-password-form mt-2"
                @submit.prevent="sendCodeValidate"
              >
                <b-form-group label="Email" label-for="forgot-password-email">
                  <validation-provider
                    #default="{ errors }"
                    name="Email"
                    rules="required|email"
                  >
                    <b-form-input
                      id="forgot-password-email"
                      v-model="userEmail"
                      :state="errors.length > 0 ? false : null"
                      name="forgot-password-email"
                      placeholder="john@example.com"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

                <b-button type="submit" block> Send reset code </b-button>
              </b-form>
            </validation-observer>
          </template>
          <template v-else-if="mode === 'submit-code'">
            <validation-observer key="submit-code" ref="submitCodeForm">
              <b-form
                class="auth-forgot-password-form mt-2"
                @submit.prevent="submitCodeValidate"
              >
                <b-form-group
                  label="Masukan Kode"
                  label-for="forgot-password-code"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Masukan Kode"
                    rules="required|numeric|length:6"
                    vid="otp"
                  >
                    <b-form-input
                      id="forgot-password-code"
                      v-model="otp"
                      :state="errors.length > 0 ? false : null"
                      name="forgot-password-code"
                      autofocus
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>
                <small class="my-1">
                  Belum menerima kode otp?
                  <span v-if="!!countDown">
                    Anda bisa request ulang dalam
                    <strong>{{ countDown }} detik</strong>
                  </span>
                  <b-button
                    v-else
                    variant="link"
                    class="px-0"
                    size="sm"
                    @click="onSendCode"
                  >
                    request ulang
                  </b-button>
                </small>
                <b-button type="submit" class="mt-1" block> Submit </b-button>
              </b-form>
            </validation-observer>
          </template>
          <template v-else-if="mode === 'reset-password'">
            <validation-observer key="reset-password" ref="resetPasswordForm">
              <b-form
                class="auth-reset-password-form mt-2"
                @submit.prevent="resetPasswordValidate"
              >
                <b-form-group
                  label="New Password"
                  label-for="reset-password-new"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Password"
                    vid="password"
                    rules="required|password"
                  >
                    <b-input-group
                      class="input-group-merge"
                      :class="errors.length > 0 ? 'is-invalid' : null"
                    >
                      <b-form-input
                        id="reset-password-new"
                        v-model="password"
                        :type="password1FieldType"
                        :state="errors.length > 0 ? false : null"
                        class="form-control-merge"
                        name="reset-password-new"
                        placeholder="············"
                        autofocus
                      />
                      <b-input-group-append is-text>
                        <feather-icon
                          class="cursor-pointer"
                          :icon="password1ToggleIcon"
                          @click="togglePassword1Visibility"
                        />
                      </b-input-group-append>
                    </b-input-group>
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

                <b-form-group
                  label-for="reset-password-confirm"
                  label="Confirm Password"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Confirm Password"
                    vid="confirm_password"
                    rules="required|confirmed:password"
                  >
                    <b-input-group
                      class="input-group-merge"
                      :class="errors.length > 0 ? 'is-invalid' : null"
                    >
                      <b-form-input
                        id="reset-password-confirm"
                        v-model="cPassword"
                        :type="password2FieldType"
                        class="form-control-merge"
                        :state="errors.length > 0 ? false : null"
                        name="reset-password-confirm"
                        placeholder="············"
                      />
                      <b-input-group-append is-text>
                        <feather-icon
                          class="cursor-pointer"
                          :icon="password2ToggleIcon"
                          @click="togglePassword2Visibility"
                        />
                      </b-input-group-append>
                    </b-input-group>
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

                <b-button block type="submit"> Set New Password </b-button>
              </b-form>
            </validation-observer>
          </template>

          <p class="text-center mt-2">
            <b-link :to="{ name: 'login' }">
              <feather-icon icon="ChevronLeftIcon" /> Back to login
            </b-link>
          </p>
        </b-col>
      </b-col>
      <!-- /Forgot password-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, email } from '@validations'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      userEmail: '',
      otp: '',
      cPassword: '',
      password: '',
      sideImg: require('@/assets/images/pages/forgot-password-v2.svg'),
      // validation
      required,
      email,
      mode: 'send-code', // send-code, submit-code, reset-password
      // Toggle Password
      password1FieldType: 'password',
      password2FieldType: 'password',
      countDown: 61,
    }
  },
  computed: {
    show_alert() {
      return this.$store.get('passwordCustomer/show_alert')
    },
    alert_message() {
      return this.$store.get('passwordCustomer/alert_message')
    },
    alert_title() {
      return this.$store.get('passwordCustomer/alert_title')
    },
    alert_status() {
      return this.$store.get('passwordCustomer/alert_status')
    },
    password1ToggleIcon() {
      return this.password1FieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    password2ToggleIcon() {
      return this.password2FieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    sensorEmail() {
      const mail = this.userEmail || ''
      const first = mail.split('@')[0]
      const last = (mail.split('@')[1] || '')
        .split('')
        .reduce((result) => (result += '*'), '')

      const firstShow =
        first.length >= 2 ? `${first[0]}${first[1]}${first[2] || ''}` : ''
      const firstHidden = first
        .replace(firstShow, '')
        .split('')
        .reduce((result) => (result += '*'), '')
      return `${firstShow}${firstHidden}@${last}`
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })

        this.$store.set('passwordCustomer/show_alert', false)
      }
    },
  },
  methods: {
    togglePassword1Visibility() {
      this.password1FieldType =
        this.password1FieldType === 'password' ? 'text' : 'password'
    },
    togglePassword2Visibility() {
      this.password2FieldType =
        this.password2FieldType === 'password' ? 'text' : 'password'
    },
    sendCodeValidate() {
      this.$refs.sendCodeForm.validate().then((success) => {
        if (success) {
          this.onSendCode()
        }
      })
    },
    async onSendCode() {
      this.setLoading(true)
      const res = await this.$store.dispatch('passwordCustomer/requestForgot', {
        email: this.userEmail,
      })
      if (res) {
        this.mode = 'submit-code'
        this.countDown = 61
        this.countDownTimer()
      }
      this.setLoading(false)
    },
    submitCodeValidate() {
      this.$refs.submitCodeForm.validate().then((success) => {
        if (success) {
          this.onSubmitCode()
        }
      })
    },
    async onSubmitCode() {
      this.setLoading(true)
      const res = await this.$store.dispatch(
        'passwordCustomer/verifyOtpForgot',
        {
          email: this.userEmail,
          otp: this.otp,
        }
      )
      if (res) {
        this.mode = 'reset-password'
      }
      this.setLoading(false)
    },
    countDownTimer() {
      let timer
      if (this.countDown > 0) {
        timer = setTimeout(() => {
          this.countDown -= 1
          this.countDownTimer()
        }, 1000)
      } else {
        clearTimeout(timer)
      }
    },
    resetPasswordValidate() {
      this.$refs.resetPasswordForm.validate().then((success) => {
        if (success) {
          this.onReset()
        }
      })
    },
    async onReset() {
      this.setLoading(true)
      const res = await this.$store.dispatch('passwordCustomer/resetPassword', {
        email: this.userEmail,
        otp: this.otp,
        new_password: this.password,
        confirm_password: this.cPassword,
      })
      if (res) {
        this.$swal({
          title: 'Success',
          text: 'Reset Password Berhasil',
          icon: 'success',
          confirmButtonText: 'Login',
          customClass: {
            confirmButton: 'btn btn-primary',
          },
          buttonsStyling: false,
        }).then((result) => {
          this.$router.replace({ name: 'login' })
        })
      }
      this.setLoading(false)
    },
  },
}
</script>

<style lang="scss">
@import '~@core/scss/vue/pages/page-auth.scss';
</style>
