<template>
  <div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
      <!-- Login v1 -->
      <b-card class="mb-0">
        <b-link class="brand-logo" :to="{ name: 'home' }">
          <b-img
            :src="
              formatImage(logoGlobal.appLogoDark, 'config') ||
              logoGlobal.appLogoDark
            "
            alt="logo"
          />
        </b-link>

        <b-card-title class="mb-1"> Welcome to mooncena! 👋 </b-card-title>
        <b-card-text class="mb-2">
          Please sign-in to your account and start to manage your business
        </b-card-text>

        <b-alert variant="danger" :show="!!messageError">
          <div class="alert-body">
            {{ messageError }}
          </div>
        </b-alert>

        <!-- form -->
        <validation-observer ref="loginForm" #default="{ invalid }">
          <b-form class="auth-login-form mt-2" @submit.prevent="login">
            <!-- email -->
            <b-form-group label-for="email" label="Email">
              <validation-provider
                #default="{ errors }"
                name="Email"
                rules="required|email"
              >
                <b-form-input
                  id="email"
                  v-model="userEmail"
                  name="login-email"
                  :state="errors.length > 0 ? false : null"
                  placeholder="john@example.com"
                  autofocus
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <!-- password -->
            <b-form-group>
              <template #label>
                <div class="d-flex justify-content-between">
                  <label for="password">Password</label>
                  <b-link :to="{ name: 'forgot-password' }">
                    <small>Forgot Password?</small>
                  </b-link>
                </div>
              </template>
              <validation-provider
                #default="{ errors }"
                name="Password"
                rules="required|min:6|password"
              >
                <b-input-group
                  class="input-group-merge"
                  :class="errors.length > 0 ? 'is-invalid' : null"
                >
                  <b-form-input
                    id="password"
                    v-model="password"
                    :type="passwordFieldType"
                    class="form-control-merge"
                    :state="errors.length > 0 ? false : null"
                    name="login-password"
                    placeholder="············"
                  />

                  <b-input-group-append is-text>
                    <feather-icon
                      class="cursor-pointer"
                      :icon="passwordToggleIcon"
                      @click="togglePasswordVisibility"
                    />
                  </b-input-group-append>
                </b-input-group>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <!-- submit button -->
            <b-button
              variant="primary"
              type="submit"
              block
              :disabled="invalid || loading"
            >
              <template v-if="loading">
                <b-spinner small type="grow"></b-spinner>
                Loading...
              </template>
              <template v-else>Sign in</template>
            </b-button>
          </b-form>
        </validation-observer>
      </b-card>
      <!-- /Login v1 -->
    </div>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, email, password as passwordValidation } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import { $themeConfig } from '@themeConfig'
import useJwt from '@/auth/jwt/useJwt'
import { getHomeRouteForLoggedInUser } from '@/auth/utils'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      userEmail: '',
      password: '',
      messageError: '',
      loading: false,
      // validation rules
      required,
      email,
      passwordValidation,
    }
  },
  setup() {
    // App Name
    const { appName, appLogoImageDark } = $themeConfig.app
    return {
      appName,
      logo: appLogoImageDark,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
  },
  methods: {
    login() {
      this.$refs.loginForm.validate().then((success) => {
        if (success) {
          this.loading = true
          useJwt
            .loginAdmin({
              email: this.userEmail,
              password: this.password,
            })
            .then((response) => {
              this.messageError = ''
              const { data } = response.data
              useJwt.setToken(response.data.access_token)
              this.$store.set('user/userData', data)
              const redirect = this.$route.query?.redirect
              this.$router.replace(
                redirect || getHomeRouteForLoggedInUser(data.role)
              )
            })
            .catch((error) => {
              if (error.response.data.error) {
                this.$refs.loginForm.setErrors(error.response.data.error)
              }

              if (error.response.data.message) {
                this.messageError = error.response.data.message
              }

              this.$bvToast.toast(error?.message, {
                title: 'Error',
                variant: 'danger',
                solid: true,
              })
            })
            .finally(() => {
              this.loading = false
            })
        }
      })
    },
  },
}
</script>

<style lang="scss">
@import '~@core/scss/vue/pages/page-auth.scss';
</style>
 