<template>
  <div>
    <div
      v-if="loading"
      style="height: 600px"
      class="
        bg-light-secondary
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <b-spinner variant="primary"></b-spinner>
    </div>

    <b-carousel
      v-else
      id="carousel-example-generic"
      controls
      indicators
      img-height="500"
    >
      <b-carousel-slide
        v-for="banner in data"
        :key="`bannerId-${banner.id}`"
        :img-src="formatImage(banner.photo_url, 'banner')"
      >
        <template #img>
          <b-link :href="banner.target_url">
            <img
              class="d-block img-fluid w-100"
              width="1480"
              height="660"
              :src="formatImage(banner.photo_url, 'banner')"
              :alt="banner.photo_url"
            />
          </b-link>
        </template>
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
    }
  },
  computed: {
    data() {
      return this.$store.get('appConfig/banner')
    },
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      this.loading = true
      await this.$store.dispatch('appConfig/loadBanner')
      this.loading = false
    },
  },
}
</script>

<style>
</style>