<template>
  <b-row>
    <b-col cols="12">
      <slot name="header"></slot>
    </b-col>
    <b-col v-for="po in preOrderList" :key="po.id" md="6">
      <b-card tag="article" no-body>
        <b-link :to="{ name: 'pre-order', params: { slug: po.slug } }">
          <b-img
            :src="formatImage(po.photo_url)"
            :alt="po.title"
            class="card-img-top"
            style="height: 300px; object-fit: cover"
          />
        </b-link>
        <b-card-body>
          <b-card-title>
            <b-link
              :to="{ name: 'pre-order', params: { slug: po.slug } }"
              class="product-title-truncate text-body-heading"
            >
              {{ po.title }}
            </b-link>
          </b-card-title>
          <b-card-text>
            <div>
              <small class="text-muted">From</small>
              <h5>{{ formatRupiah(+po.product.price) }}</h5>
            </div>
          </b-card-text>
          <hr />
          <div class="d-flex justify-content-between align-items-center">
            <b-link
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              :to="{ name: 'pre-order', params: { slug: po.slug } }"
              class="btn btn-primary"
            >
              Order Here
            </b-link>
          </div>
        </b-card-body>
      </b-card>
    </b-col>
    <b-col cols="12">
      <slot name="footer"></slot>
    </b-col>
  </b-row>
</template>

<script>
import Ripple from 'vue-ripple-directive'

export default {
  directives: {
    Ripple,
  },
  computed: {
    preOrderList() {
      return this.$store.get('preorderCustomer/datas')
    },
    searchQuery() {
      return this.$route.query?.search || ''
    },
  },
  watch: {
    searchQuery() {
      this.load()
    },
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      this.setLoading(true)
      await this.$store.dispatch('preorderCustomer/load', {
        search: this.searchQuery,
      })
      this.setLoading(false)
    },
  },
}
</script>

<style>
</style>