<template>
  <b-container class="py-2 list-view" style="max-width: 1140px">
    <h3 class="mb-1">My Cart</h3>
    <b-row>
      <b-col cols="12" md="8">
        <div class="checkout-items mb-1">
          <template v-if="datas.length">
            <cart-item
              v-for="cartItem in datas"
              :key="cartItem.id"
              :cart-item="cartItem"
              @change:price="changePrice"
              @delete:success="onDeleteSuccess"
            ></cart-item>
          </template>
          <h4 v-else class="text-muted text-center text-md-left">Cart Empty</h4>
        </div>
      </b-col>
      <b-col v-if="datas.length" cols="12" md="4">
        <div class="checkout-options">
          <b-card>
            <label class="section-label mb-1">Checkout Detail</label>
            <b-form-group label="Order Date">
              <flat-pickr
                v-model="orderDate"
                class="form-control"
                :config="configDate"
                :disabled="!datas.length"
              />
            </b-form-group>
            <b-card-text>
              <div>
                <h6 class="price-title">Pre Order Detail</h6>
                <ul class="list-unstyled">
                  <li
                    v-for="detail in product_detail"
                    :key="`product-detail-${detail.id}`"
                    class="price-detail"
                  >
                    <b-row style="flex: 1">
                      <b-col
                        v-b-tooltip
                        :title="detail.name"
                        cols="9"
                        class="text-truncate"
                      >
                        {{ detail.name }}
                      </b-col>
                      <b-col cols="3" class="text-right">
                        {{ detail.qty }}
                      </b-col>
                    </b-row>
                  </li>
                </ul>
                <hr />
                <ul class="list-unstyled">
                  <li class="price-detail">
                    <div class="detail-title detail-total">Total</div>
                    <div class="detail-amt font-weight-bolder">
                      {{ formatRupiah(totalPrice) }}
                    </div>
                  </li>
                </ul>
                <b-button
                  block
                  :disabled="!orderDate"
                  @click="handlePlaceOrder"
                >
                  Place Order
                </b-button>
              </div>
            </b-card-text>
          </b-card>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import CartItem from '@core/components/CartItem.vue'
import flatPickr from 'vue-flatpickr-component'
import moment from 'moment'

export default {
  components: { flatPickr, CartItem },
  data() {
    return {
      orderDate: '',
      configDate: {
        disableMobile: 'true',
      },
      dataPrice: [],
    }
  },
  computed: {
    datas() {
      return this.$store.get('cartCustomer/datas') || []
    },
    totalPrice() {
      return this.dataPrice.reduce(
        (result, current) => (result += current?.price),
        0
      )
    },
    product_detail() {
      if (this.datas.length) {
        return (this.datas || []).reduce((result, current) => {
          const defaultQty =
            +current.cart_metas.find((meta) => meta.meta_key === 'qty')
              ?.meta_value || 1
          const indexPo = result.findIndex(
            (item) => item.id === current.pre_order_id
          )

          if (indexPo > -1) {
            result[indexPo].qty += defaultQty
          } else {
            result.push({
              id: current.pre_order_id,
              name: current.pre_order.title,
              qty: defaultQty,
            })
          }
          return result
        }, [])
      }
      return []
    },
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      this.setLoading(true)

      const res = await this.$store.dispatch('cartCustomer/load')

      if (res.length) {
        const holidayDate = res.reduce((result, current) => {
          result.push(
            ...(current?.pre_order?.pre_order_metas || []).map(
              (date) => date.meta_value
            )
          )
          return result
        }, [])
        const start_date = res.map((item) => item.pre_order.start_date).sort()
        const end_date = res.map((item) => item.pre_order.end_date).sort()

        const isGreaterStart = moment().isAfter(moment(start_date[0]))

        this.configDate = {
          ...this.configDate,
          disable: [...new Set(holidayDate)],
          minDate: isGreaterStart
            ? moment().add(2, 'days').format('YYYY-MM-DD')
            : start_date[0],
          maxDate: end_date[0],
        }
        this.dataPrice = []
      }
      this.setLoading(false)
    },
    onDeleteSuccess() {
      this.load()

      if (this.datas.length === 1) {
        localStorage.removeItem('mooncena:order-date')
      }
    },
    handlePlaceOrder() {
      localStorage.setItem('mooncena:order-date', this.orderDate)
      this.$router.push({ name: 'checkout' })
    },
    changePrice(id, price) {
      const indexProduct = this.dataPrice.findIndex((item) => item.id === id)

      if (indexProduct > -1) {
        this.dataPrice[indexProduct].price = price
      } else {
        this.dataPrice.push({
          id,
          price,
        })
      }
    },
  },
}
</script>

<style lang="scss">
@import '~@core/scss/base/pages/app-ecommerce.scss';
</style>