<template>
  <b-container style="max-width: 1140px" class="py-2">
    <validation-observer ref="checkoutForm">
      <b-form @submit.prevent="validationForm">
        <b-row>
          <b-col cols="12" sm="7">
            <b-card>
              <b-card-title>Checkout</b-card-title>
              <hr />
              <p><span class="text-muted">Order Date:</span> {{ orderDate }}</p>
              <b-alert
                variant="warning"
                :show="!!itemDeliveryNotSupport.length"
                dismissible
                fade
              >
                <div class="alert-body">
                  <p>Found Pre Order Product not support Delivery</p>
                  <ul class="pl-2 mb-0">
                    <li
                      v-for="(item, index) in itemDeliveryNotSupport"
                      :key="`ojek-not-${index}`"
                    >
                      <span>
                        <strong>{{ item.title }}</strong>
                      </span>
                    </li>
                  </ul>
                </div>
              </b-alert>
              <b-alert
                variant="warning"
                :show="!!itemPickupNotSupport.length"
                dismissible
                fade
              >
                <div class="alert-body">
                  <p>Found Pre Order Product not support Self Pickup</p>
                  <ul class="pl-2 mb-0">
                    <li
                      v-for="(item, index) in itemPickupNotSupport"
                      :key="`ojek-not-${index}`"
                    >
                      <span>
                        <strong>{{ item.title }}</strong>
                      </span>
                    </li>
                  </ul>
                </div>
              </b-alert>
              <b-alert
                variant="warning"
                :show="!!itemOjekNotSupport.length"
                dismissible
                fade
              >
                <div class="alert-body">
                  <p>Found Pre Order Product not support Ojek Online</p>
                  <ul class="pl-2 mb-0">
                    <li
                      v-for="(item, index) in itemOjekNotSupport"
                      :key="`ojek-not-${index}`"
                    >
                      <span>
                        <strong>{{ item.title }}</strong>
                      </span>
                    </li>
                  </ul>
                </div>
              </b-alert>

              <b-form-group label="Shipping Type">
                <validation-provider
                  #default="{ errors }"
                  name="Shipping Type"
                  rules="required"
                  vid="delivery_type"
                >
                  <b-form-radio-group
                    v-model="delivery_type"
                    class="demo-inline-spacing"
                    :state="errors.length > 0 ? false : null"
                  >
                    <b-form-radio
                      v-for="option in deliveryOptions"
                      :key="`delivery-${option.value}`"
                      :value="option.value"
                      :state="errors.length > 0 ? false : null"
                      :disabled="isDisabledDelivery(option.value)"
                    >
                      {{ option.text }}
                    </b-form-radio>
                  </b-form-radio-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-alert variant="primary" show>
                <div class="alert-body">
                  <p>Fee Delivery {{ formatRupiah(deliveryFeePerKilo) }}/KM</p>
                  <p>Ketentuan Jam Pengantaran/Pengambilan</p>
                  <ul class="pl-2 mb-0">
                    <li>
                      <span>
                        Delivery
                        <strong>
                          {{ deliveryMaxTime.start | formatTime }} -
                          {{ deliveryMaxTime.end | formatTime }}
                        </strong>
                      </span>
                    </li>
                    <li>
                      <span>
                        Self Pickup/Ojek Online
                        <strong>
                          {{ pickupMaxTime.start | formatTime }} -
                          {{ pickupMaxTime.end | formatTime }}
                        </strong>
                      </span>
                    </li>
                  </ul>
                </div>
              </b-alert>
              <b-form-group :label="`${titleTime} Time`">
                <validation-provider
                  #default="{ errors }"
                  :name="`${titleTime} Time`"
                  :rules="`required|time_between:${maxTime.start},${maxTime.end}`"
                  vid="deliveryTime"
                >
                  <b-form-timepicker
                    v-model="deliveryTime"
                    locale="id-ID"
                    placeholder="10:00"
                    :state="errors.length > 0 ? false : null"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <hr />
              <b-skeleton-wrapper :loading="loadingAddress">
                <template #loading>
                  <b-skeleton width="85%"></b-skeleton>
                  <b-skeleton width="55%"></b-skeleton>
                  <b-skeleton width="70%"></b-skeleton>
                </template>

                <template>
                  <div v-if="delivery_type === 'delivery'">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <h6>Shipping Address</h6>
                      <b-button
                        v-b-tooltip
                        title="Refresh address"
                        variant="flat-secondary"
                        class="btn-icon"
                        size="sm"
                        @click="loadAddress"
                      >
                        <feather-icon icon="RotateCcwIcon" />
                      </b-button>
                    </div>
                    <b-card border-variant="primary" class="mt-2 mb-1">
                      <template v-if="!!addressSelected.id">
                        <p class="font-weight-bold">
                          {{ addressSelected.name }}
                          <span class="font-weight-light">
                            ({{ addressSelected.label }})
                          </span>
                        </p>
                        <p class="mb-0">{{ addressSelected.phone }}</p>
                        <p class="mb-0">{{ addressSelected.address }}</p>
                        <p class="text-muted mb-0">
                          {{ addressSelected.note }}
                        </p>
                      </template>
                      <template v-else>
                        <h5 class="text-muted text-center">
                          No Address Selected, You can add new address
                        </h5>
                      </template>
                    </b-card>
                    <b-button
                      variant="outline-secondary"
                      class="mb-1 mb-md-0"
                      @click="chooseAddress = true"
                    >
                      Choose Other Address
                    </b-button>
                    <b-link
                      :to="{ name: 'profile', query: { tab: 2 } }"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <b-button
                        v-b-tooltip
                        title="Open new tab"
                        variant="outline-secondary"
                      >
                        Add Other Address
                      </b-button>
                    </b-link>

                    <b-modal
                      v-model="chooseAddress"
                      title="Choose Other Address"
                      centered
                    >
                      <b-container>
                        <b-card
                          v-for="address in addresses"
                          :key="`address-list-${address.id}`"
                          :border-variant="
                            addressSelected.id === address.id
                              ? 'success'
                              : 'secondary'
                          "
                          :bg-variant="
                            addressSelected.id === address.id
                              ? 'light-success'
                              : 'white'
                          "
                          class="mt-2 mb-1 cursor-pointer"
                          @click="handleSelectAddress(address)"
                        >
                          <p class="font-weight-bold">
                            {{ address.name }}
                            <span class="font-weight-light">
                              ({{ address.label }})
                            </span>
                          </p>
                          <p class="mb-0">{{ address.phone }}</p>
                          <p class="mb-0">{{ address.address }}</p>
                          <p class="text-muted mb-0">
                            {{ address.note }}
                          </p>
                        </b-card>
                      </b-container>
                      <template #modal-footer> <div></div> </template>
                    </b-modal>
                  </div>
                </template>
              </b-skeleton-wrapper>
            </b-card>
            <b-card>
              <b-card-title>Order Detail</b-card-title>
              <div>
                <template v-for="(product, index) in products">
                  <checkout-item
                    :key="`product-detail-${product.id}`"
                    :item="product"
                    @change:price="changePrice"
                  ></checkout-item>
                  <hr
                    v-if="index < products.length - 1"
                    :key="`divider-product-${product.id}`"
                  />
                </template>
              </div>
            </b-card>
          </b-col>
          <b-col cols="12" sm="5">
            <div class="checkout-options">
              <b-card>
                <label class="section-label mb-1">Payment Methods</label>
                <template v-if="methods.length">
                  <validation-provider
                    #default="{ errors }"
                    name="Payment Methods"
                    rules="required"
                    vid="payment_methods"
                  >
                    <b-form-radio-group
                      v-model="payment_type"
                      :state="errors.length > 0 ? false : null"
                    >
                      <b-form-radio
                        v-for="method in methods"
                        :key="`payment-methods-${method.id}`"
                        :value="method.id"
                        :state="errors.length > 0 ? false : null"
                        class="
                          custom-control-primary
                          d-flex
                          align-items-center
                          mb-1
                        "
                      >
                        <b-img-lazy
                          :src="formatImage(method.photo_url, 'payment')"
                          height="30"
                          width="60"
                          class="rounded mx-50"
                          style="object-fit: contain"
                        ></b-img-lazy>
                        <span> {{ method.bank_name }} </span>
                      </b-form-radio>
                    </b-form-radio-group>
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </template>
                <h6 v-else class="text-muted">No payment methods available</h6>
              </b-card>
            </div>
            <div class="checkout-options">
              <b-card>
                <label class="section-label mb-1">Checkout Summary</label>
                <b-card-text>
                  <div class="price-details">
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title">Total Product</div>
                        <div class="detail-amt discount-amt">
                          {{ formatRupiah(totalPrice) }}
                        </div>
                      </li>
                      <li
                        v-if="delivery_type === 'delivery'"
                        class="price-detail"
                      >
                        <div class="detail-title">Delivery Fee</div>
                        <div class="detail-amt discount-amt">
                          {{ formatRupiah(deliveryFee) }}
                        </div>
                      </li>
                    </ul>
                    <hr />
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title detail-total">Grand Total</div>
                        <div class="detail-amt font-weight-bolder">
                          {{ formatRupiah(totalPrice + deliveryFee) }}
                        </div>
                      </li>
                    </ul>
                    <b-button block type="submit"> Checkout </b-button>
                  </div>
                </b-card-text>
              </b-card>
            </div>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-container>
</template>

<script>
import moment from 'moment'
import CheckoutItem from '@core/components/CheckoutItem.vue'
import { timeBetween } from '@validations'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import _ from 'lodash'
import haversine from 'haversine'

export default {
  components: { CheckoutItem, ValidationProvider, ValidationObserver },
  filters: {
    formatTime(time = '') {
      const timeArray = (time || '').split(':')

      if (timeArray && timeArray.length >= 1) {
        return `${timeArray[0]}:${timeArray[1]}`
      }
      return ''
    },
  },
  data() {
    return {
      timeBetween,
      deliveryTime: null,
      delivery_type: null,
      payment_type: null,
      deliveryFee: 0,
      dataPrice: [],
      loadingAddress: false,
      addressSelected: {},
      chooseAddress: false,
    }
  },
  computed: {
    products() {
      return this.$store.get('checkoutCustomer/datas') || []
    },
    addresses() {
      return this.$store.get('addressCustomer/datas') || []
    },
    totalPrice() {
      return this.dataPrice.reduce(
        (result, current) => (result += current?.price),
        0
      )
    },
    configs() {
      // [
      //   'config_delivery_fee_kilometer',
      //   'config_delivery_max_distance',
      //   'config_latitude_shop',
      //   'config_longitude_shop',
      //   'config_pickup_max_time_start',
      //   'config_pickup_max_time_end',
      //   'config_delivery_max_time_start',
      //   'config_delivery_max_time_end',
      // ]
      return this.$store.get('checkoutCustomer/configs') || []
    },
    maxTime() {
      if (this.delivery_type === 'ojek' || this.delivery_type === 'pickup') {
        return this.pickupMaxTime
      }
      return this.deliveryMaxTime
    },
    deliveryMaxTime() {
      return {
        start: this.configs.find(
          (item) => item.meta_key === 'config_delivery_max_time_start'
        )?.meta_value,
        end: this.configs.find(
          (item) => item.meta_key === 'config_delivery_max_time_end'
        )?.meta_value,
      }
    },
    deliveryFeePerKilo() {
      return +(
        this.configs.find(
          (item) => item.meta_key === 'config_delivery_fee_kilometer'
        )?.meta_value || 0
      )
    },
    shopCoord() {
      return {
        latitude: +(
          this.configs.find((item) => item.meta_key === 'config_latitude_shop')
            ?.meta_value || 0
        ),
        longitude: +(
          this.configs.find((item) => item.meta_key === 'config_longitude_shop')
            ?.meta_value || 0
        ),
      }
    },
    pickupMaxTime() {
      return {
        start: this.configs.find(
          (item) => item.meta_key === 'config_pickup_max_time_start'
        )?.meta_value,
        end: this.configs.find(
          (item) => item.meta_key === 'config_pickup_max_time_end'
        )?.meta_value,
      }
    },
    methods() {
      return this.$store.get('checkoutCustomer/methods') || []
    },
    orderDate() {
      const date = localStorage.getItem('mooncena:order-date')
      return moment(date).format('DD MMMM YYYY')
    },
    itemDeliveryNotSupport() {
      return this.itemShippingType.filter((item) => !item.delivery)
    },
    itemOjekNotSupport() {
      return this.itemShippingType.filter((item) => !item.ojek)
    },
    itemPickupNotSupport() {
      return this.itemShippingType.filter((item) => !item.pickup)
    },
    itemShippingType() {
      const item = this.products.map((item) => {
        const deliverySupport = item.pre_order.pre_order_metas
          .filter((meta) => meta.meta_key === 'delivery_type')
          .map((meta) => meta.meta_value)

        const isOjekSupport = deliverySupport.includes('ojek')
        const isPickupSupport = deliverySupport.includes('pickup')
        const isDeliverySupport = deliverySupport.includes('delivery')

        return {
          title: item.pre_order.title,
          ojek: isOjekSupport,
          delivery: isDeliverySupport,
          pickup: isPickupSupport,
        }
      })

      return item
    },
    deliveryOptions() {
      return [
        {
          text: 'Delivery',
          value: 'delivery',
        },
        {
          text: 'Self Pickup',
          value: 'pickup',
        },
        {
          text: 'Ojek Online',
          value: 'ojek',
        },
      ]
    },

    titleTime() {
      switch (this.delivery_type) {
        case 'pickup':
          return 'Pickup'
        case 'ojek':
          return 'Pickup'

        default:
          return 'Delivery'
      }
    },
    deliveryConfig() {
      if (!_.isEmpty(this.addressSelected)) {
        const addressCoord = {
          latitude: this.addressSelected.lat,
          longitude: this.addressSelected.long,
        }
        const distance =
          +Math.round(+haversine(this.shopCoord, addressCoord) * 100) / 100
        return {
          fee: this.deliveryFeePerKilo,
          addressSelected: this.addressSelected,
          distance,
          delivery_type: this.delivery_type,
        }
      }

      return {
        fee: 0,
        addressSelected: {},
        distance: 0,
        delivery_type: this.delivery_type,
      }
    },
    show_alert() {
      return this.$store.get('orderCustomer/show_alert')
    },
    alert_message() {
      return this.$store.get('orderCustomer/alert_message')
    },
    alert_title() {
      return this.$store.get('orderCustomer/alert_title')
    },
    alert_status() {
      return this.$store.get('orderCustomer/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })

        this.$store.set('orderCustomer/show_alert', false)
      }
    },
    deliveryConfig: {
      handler(newVal) {
        if (!_.isEmpty(newVal) && newVal?.delivery_type === 'delivery') {
          this.deliveryFee =
            newVal.distance > 1 ? newVal.distance * newVal.fee : newVal.fee
        } else {
          this.deliveryFee = 0
        }
      },
      immediate: true,
    },
    delivery_type: {
      handler(newVal) {
        if (newVal === 'ojek' || newVal === 'pickup') {
          this.deliveryFee = 0
        }
      },
      immediate: true,
    },
  },
  mounted() {
    const date = localStorage.getItem('mooncena:order-date')
    if (!date) {
      this.$router.replace({ name: 'cart' })
    }

    this.load()
    this.loadAddress()
  },
  methods: {
    async load() {
      this.setLoading(true)
      await this.$store.dispatch('checkoutCustomer/load')
      this.dataPrice = []
      await this.$store.dispatch('checkoutCustomer/loadMethods')
      await this.$store.dispatch('checkoutCustomer/loadConfig')
      this.setLoading(false)
    },
    async loadAddress() {
      this.loadingAddress = true
      const res = await this.$store.dispatch('addressCustomer/load')

      if (res && res.length) {
        this.addressSelected = res.find((item) => !!item.default)
      }
      setTimeout(() => {
        this.loadingAddress = false
      }, 500)
    },
    isDisabledDelivery(type = 'delivery') {
      switch (type) {
        case 'delivery':
          return !!this.itemDeliveryNotSupport.length
        case 'pickup':
          return !!this.itemPickupNotSupport.length

        case 'ojek':
          return !!this.itemOjekNotSupport.length

        default:
          return false
      }
    },
    changePrice(id, price) {
      const indexProduct = this.dataPrice.findIndex((item) => item.id === id)

      if (indexProduct > -1) {
        this.dataPrice[indexProduct].price = price
      } else {
        this.dataPrice.push({
          id,
          price,
        })
      }
    },
    handleSelectAddress(address) {
      this.addressSelected = JSON.parse(JSON.stringify(address))
      this.chooseAddress = false
    },
    validationForm() {
      this.$refs.checkoutForm.validate().then((success) => {
        if (success) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      const dataSubmit = {
        order_date: `${this.orderDate} ${this.deliveryTime}`, // date and time
        delivery_type: this.delivery_type,
        address: {
          name: this.addressSelected.name,
          label: this.addressSelected.label,
          phone: this.addressSelected.phone,
          address: this.addressSelected.address,
          note: this.addressSelected.note,
        },
        payment_methods_id: this.payment_type,
        price: {
          grand_total: this.totalPrice + this.deliveryFee,
          total_product: this.totalPrice,
          delivery: this.deliveryFee,
        },
        detail: this.products.map((item) => {
          const preOrder = item.pre_order
          const cartMetas = item.cart_metas

          const customPhoto = cartMetas
            .filter((item) => item.meta_key === 'custom_photo')
            .map((item) => item.meta_value)

          const variantItemIds = cartMetas
            .filter((item) => item.meta_key === 'variant_item')
            .map((item) => +item.meta_value)

          return {
            title: preOrder.title,
            product_name: preOrder.product.name,
            price_product: +preOrder.product.price,
            qty: +cartMetas.find((item) => item.meta_key === 'qty')?.meta_value,
            note: cartMetas.find((item) => item.meta_key === 'note')
              ?.meta_value,
            lettering_on_cake: cartMetas.find(
              (item) => item.meta_key === 'lettering_on_cake'
            )?.meta_value,
            lettering_on_cake_board: cartMetas.find(
              (item) => item.meta_key === 'lettering_on_cake_board'
            )?.meta_value,
            greeting_card: cartMetas.find(
              (item) => item.meta_key === 'greeting_card'
            )?.meta_value,
            describe: cartMetas.find((item) => item.meta_key === 'describe')
              ?.meta_value,
            custom_photo: customPhoto,
            variant_item: variantItemIds,
          }
        }),
      }

      const res = await this.$store.dispatch('orderCustomer/create', dataSubmit)

      if (res) {
        localStorage.removeItem('mooncena:order-date')
        const orderNumber = res.order_number.replace('#', '%23')
        setTimeout(() => {
          window.location.href = `order-history/detail/${orderNumber}`
        }, 500)
      }
      this.setLoading(false)
    },
  },
}
</script>

<style lang="scss">
@import '~@core/scss/base/pages/app-ecommerce.scss';
</style>