<template>
  <div>
    <carousel></carousel>
    <b-container class="my-4" style="max-width: 960px">
      <pre-order-list>
        <template #header>
          <h2 class="text-center my-2">Book A Slot!</h2>
        </template>
      </pre-order-list>
    </b-container>
  </div>
</template>

<script>
import Carousel from '@core/components/home/Carousel.vue'
import PreOrderList from '@core/components/home/PreOrderList.vue'

export default {
  name: 'HomeLanding',
  components: { Carousel, PreOrderList },
  data() {
    return {}
  },
  methods: {},
}
</script>
