<template>
  <b-container class="py-2" style="max-width: 1140px">
    <div class="d-flex align-items-center mb-1">
      <b-button
        variant="outline-primary"
        class="btn-icon mr-1"
        @click="$router.push({ name: 'order-history' })"
      >
        <feather-icon icon="ArrowLeftIcon" />
      </b-button>
      <h3>Order Detail</h3>
    </div>
    <order-detail-component></order-detail-component>
  </b-container>
</template>

<script>
import OrderDetailComponent from '@core/components/OrderDetailComponent.vue'

export default {
  components: { OrderDetailComponent },
}
</script>

<style>
</style>
