<template>
  <b-container style="max-width: 960px" class="my-2">
    <b-tabs v-model="tab" class="order-history" pills>
      <!-- Tab: Account -->
      <b-tab>
        <template #title>
          <span class="d-inline">All</span>
        </template>
        <order-list status="all"></order-list>
      </b-tab>

      <!-- Tab: Information -->
      <b-tab>
        <template #title>
          <span class="d-inline">Waiting Payment</span>
        </template>
        <order-list status="waiting_payment"></order-list>
      </b-tab>

      <!-- Tab: Social -->
      <b-tab>
        <template #title>
          <span class="d-inline">Waiting Confirmation</span>
        </template>
        <order-list status="waiting_confirmation"></order-list>
      </b-tab>
      <b-tab>
        <template #title>
          <span class="d-inline">Process</span>
        </template>
        <order-list status="process"></order-list>
      </b-tab>
      <b-tab>
        <template #title>
          <span class="d-inline">Ready Pickup</span>
        </template>
        <order-list status="ready_pickup"></order-list>
      </b-tab>
      <b-tab>
        <template #title>
          <span class="d-inline">Delivery</span>
        </template>
        <order-list status="delivery"></order-list>
      </b-tab>
      <b-tab>
        <template #title>
          <span class="d-inline">Done</span>
        </template>
        <order-list status="done"></order-list>
      </b-tab>
    </b-tabs>
  </b-container>
</template>

<script>
import OrderList from '@core/components/OrderList.vue'

export default {
  components: { OrderList },
  data() {
    return {
      tab: +this.$route.query?.tab || 0,
      params: {
        search: '',
        status: '',
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.order-history::v-deep .nav-pills {
  flex-wrap: nowrap;
  white-space: nowrap;
  padding-bottom: 1rem;
  padding-left: 4px;
  overflow-x: auto;
  overflow-y: hidden;
}
</style>