<template>
  <div>
    <b-img v-if="img" :src="img" fluid></b-img>
    <b-container style="max-width: 960px" class="pt-2 pt-md-4">
      <h2>{{ detail.title }}</h2>
      <p class="text-muted">Publish date {{ detail.update_at | formatDate }}</p>
      <b-card>
        <div v-html="detail.content"></div>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  filters: {
    formatDate(date) {
      return moment(date).format('DD MMM YYYY HH:mm')
    },
  },
  computed: {
    pageSlug() {
      return this.$route.params.slug
    },
    detail() {
      return this.$store.get('pageCustomer/detail')
    },
    img() {
      return this.formatImage(this.detail.photo_url, 'page')
    },
  },
  created() {
    this.load()
  },
  methods: {
    async load() {
      this.setLoading(true)
      const res = await this.$store.dispatch(
        'pageCustomer/getPageDetail',
        this.$route.params?.slug
      )

      if (res?.status === 404) {
        this.$router.replace({ name: 'error-404' })
      }

      this.setLoading(false)
    },
  },
}
</script>

<style>
</style>