<template>
  <section class="app-ecommerce-details">
    <b-container class="py-5" style="max-width: 1140px">
      <b-row v-if="isDetailNotEmpty">
        <b-col cols="12" md="5">
          <b-img-lazy :src="formatImage(detail.photo_url)" fluid></b-img-lazy>
        </b-col>
        <b-col cols="12" md="7" class="mt-1 mt-md-0">
          <h2>{{ detail.title }}</h2>
          <h3 class="text-primary">{{ formatRupiah(allPrice) }}</h3>
          <b-card-text class="my-2">
            <div v-html="detail.product.description"></div>
          </b-card-text>
          <hr />
          <div v-if="!!deliverySupport.length">
            <h5 class="mb-0">Delivery Support:</h5>
            <ul class="product-features list-unstyled mt-1">
              <li
                v-for="(support, index) in deliverySupport"
                :key="`delivery-${index}`"
              >
                <feather-icon :icon="support.icon" />
                <span>{{ support.title }}</span>
              </li>
            </ul>
          </div>
          <hr />
          <div
            v-for="variant in variants"
            :key="variant.product_variant_id"
            class="product-color-options"
          >
            <h6>{{ variant.name }}</h6>
            <ul class="list-unstyled mb-0">
              <li
                v-for="item in variant.items"
                :id="`variant-${item.id}`"
                :key="item.id"
                :title="
                  item.extra_price
                    ? `<strong>+${formatRupiah(item.extra_price)}</strong>`
                    : '<strong>Free</strong>'
                "
                class="d-inline-block"
                :class="{
                  selected: isSelected(variant.product_variant_id, item.id),
                }"
                @click="
                  handleSelectVariant({
                    item,
                    variant: {
                      id: variant.product_variant_id,
                      name: variant.name,
                    },
                  })
                "
              >
                <b-tooltip :target="`variant-${item.id}`">
                  <div>{{ item.name }}</div>
                  <strong>{{
                    item.extra_price
                      ? `+${formatRupiah(item.extra_price)}`
                      : 'Free'
                  }}</strong>
                </b-tooltip>
                <div v-if="item.image" class="color-option b-primary">
                  <div
                    class="filloption variant-img"
                    :style="{
                      'background-image': `url('${formatImage(item.image)}')`,
                    }"
                  />
                </div>

                <div v-else class="color-option b-primary">
                  <div
                    class="filloption"
                    :style="{ 'background-color': item.color }"
                    style="width: 60px; height: 60px"
                  />
                </div>
              </li>
            </ul>
          </div>
          <hr v-if="variants.length" />
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="secondary"
            size="lg"
            block
            @click="handleAddToCart"
          >
            <feather-icon icon="ShoppingCartIcon" class="mr-50" />
            <span>Add to cart</span>
          </b-button>
          <b-card-text class="my-2">
            <div v-html="detail.description"></div>
          </b-card-text>

          <b-modal
            id="modal-pre-order"
            v-model="order"
            scrollable
            title="Book a slot!"
            no-close-on-backdrop
            cancel-variant="flat-danger"
            ok-variant="secondary"
            ok-title="Add to cart"
            cancel-title="Cancel"
            @ok="handleSubmit"
          >
            <b-card-text>
              <validation-observer ref="mutationPo">
                <b-form @submit="handleSubmit">
                  <div class="border-primary rounded p-1">
                    <h6>{{ detail.title }}</h6>
                    <b-badge>
                      {{ formatRupiah(allPrice) }}
                    </b-badge>
                    <div
                      v-for="selected in selectedVariants"
                      :key="selected.selected"
                    >
                      <span class="text-muted">{{ selected.name }}:</span>
                      &nbsp;{{ selected.item_name }}
                    </div>
                  </div>
                  <div class="mt-1">
                    <b-form-group label="Quantity">
                      <b-form-spinbutton
                        id="qty"
                        v-model="qty"
                        min="1"
                        max="10"
                      />
                    </b-form-group>
                    <b-form-group label="Lettering on cake:">
                      <b-form-textarea
                        v-model="lettering_on_cake"
                      ></b-form-textarea>
                    </b-form-group>

                    <b-form-group label="Lettering on cake board:">
                      <b-form-textarea
                        v-model="lettering_on_cake_board"
                      ></b-form-textarea>
                    </b-form-group>
                    <b-form-group label="Greeting card:">
                      <validation-provider
                        #default="{ errors }"
                        vid="greeting_card"
                        name="Greeting Card"
                        :rules="`max:${maxNote}`"
                      >
                        <b-form-textarea
                          v-model="greeting_card"
                          :state="errors.length > 0 ? false : null"
                        ></b-form-textarea>
                        <small class="text-danger">{{ errors[0] }}</small>
                        <div class="d-flex justify-content-end">
                          <small :class="{ 'text-danger': errors.length > 0 }">
                            {{ greeting_card.length }}/{{ maxNote }}
                          </small>
                        </div>
                      </validation-provider>
                    </b-form-group>
                    <b-form-group label="Describe your request cake:">
                      <b-form-textarea v-model="describe"></b-form-textarea>
                    </b-form-group>
                    <b-form-group label="NB:">
                      <b-form-textarea v-model="note"></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                      label="Photo"
                      description="Custom photo for custom cakes"
                    >
                      <drag-multiple-image
                        ref="customImage"
                      ></drag-multiple-image>
                    </b-form-group>
                  </div>
                </b-form>
              </validation-observer>
            </b-card-text>
          </b-modal>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import DragMultipleImage from '@core/components/DragMultipleImage.vue'
import Ripple from 'vue-ripple-directive'
import { max } from '@validations'
import _ from 'lodash'

export default {
  directives: {
    Ripple,
  },
  components: { DragMultipleImage, ValidationProvider, ValidationObserver },

  data() {
    return {
      order: false,
      selectedVariants: [],
      note: '',
      lettering_on_cake: '',
      lettering_on_cake_board: '',
      greeting_card: '',
      describe: '',
      qty: 1,
      customImage: [],
      orderDate: '',
      configDate: {},
      maxNote: 100,

      max,
    }
  },
  computed: {
    poSlug() {
      return this.$route.params.slug
    },
    detail() {
      return this.$store.get('preorderCustomer/detail')
    },
    isDetailNotEmpty() {
      return !_.isEmpty(this.detail)
    },
    deliverySupport() {
      if (this.isDetailNotEmpty) {
        const delivery = (this.detail?.pre_order_metas || [])
          .filter((meta) => meta.meta_key === 'delivery_type')
          .map((delivery) => {
            let icon = ''
            let title = ''

            switch (delivery.meta_value) {
              case 'pickup':
                icon = 'PackageIcon'
                title = 'Self Pickup'
                break
              case 'delivery':
                icon = 'TruckIcon'
                title = 'Delivery Courier'
                break
              case 'ojek':
                icon = 'MapPinIcon'
                title = 'Ojek Online'
                break

              default:
                break
            }
            return {
              icon,
              title,
            }
          })

        return delivery
      }
      return []
    },
    variants() {
      if (this.isDetailNotEmpty) {
        const variantItems = this.detail.product.variant_items
        const variants = variantItems.reduce((result, current) => {
          const indexVariant = result.findIndex(
            (item) => item.product_variant_id === current.product_variant_id
          )
          if (indexVariant > -1) {
            result[indexVariant].items.push({
              id: current.id,
              name: current.name,
              extra_price: +current.extra_price,
              image: current.photo_url,
              color: current.color,
            })
          } else {
            result.push({
              product_variant_id: current.product_variant_id,
              name: current.product_variant.name,
              items: [
                {
                  id: current.id,
                  name: current.name,
                  extra_price: +current.extra_price,
                  image: current.photo_url,
                  color: current.color,
                },
              ],
            })
          }
          return result
        }, [])

        return variants
      }

      return []
    },
    allPrice() {
      const variantPrice = (this.selectedVariants || []).reduce(
        (result, current) => (result += current.extra_price),
        0
      )
      const productPrice = +this.detail?.product?.price || 0
      return (productPrice + variantPrice) * this.qty
    },
  },
  created() {
    this.load()
  },
  methods: {
    async load() {
      this.setLoading(true)
      await this.$store.dispatch('preorderCustomer/getDetail', this.poSlug)
      this.setLoading(false)
    },
    async handleSubmit(event) {
      event.preventDefault()
      this.$refs.mutationPo.validate().then(async (success) => {
        if (success) {
          const images = await this.$refs.customImage.getValue()

          const formData = new FormData()
          formData.append('pre_order_id', this.detail.id)
          formData.append('qty', this.qty)
          if (this.note) {
            formData.append('note', this.note)
          }

          if (this.lettering_on_cake) {
            formData.append('lettering_on_cake', this.lettering_on_cake)
          }
          if (this.lettering_on_cake_board) {
            formData.append(
              'lettering_on_cake_board',
              this.lettering_on_cake_board
            )
          }
          if (this.greeting_card) {
            formData.append('greeting_card', this.greeting_card)
          }

          if (this.describe) {
            formData.append('describe', this.describe)
          }

          this.selectedVariants.forEach((variant) => {
            formData.append('variants[]', variant.selected)
          })

          images.forEach((img) => {
            formData.append('photos[]', img)
          })
          this.onSubmit(formData)
        }
      })
    },
    async onSubmit(data) {
      this.setLoading(true)
      const res = await this.$store.dispatch('cartCustomer/create', data)

      if (res) {
        this.$router.push({ name: 'cart' })
      }
      this.setLoading(false)
    },
    handleSelectVariant({ item, variant }) {
      const indexVariant = this.selectedVariants.findIndex(
        (variantSelected) => variantSelected.product_variant_id === variant.id
      )

      if (indexVariant > -1) {
        // change
        this.selectedVariants[indexVariant].selected = item.id
        this.selectedVariants[indexVariant].item_name = item.name
        this.selectedVariants[indexVariant].extra_price = item.extra_price
      } else {
        this.selectedVariants.push({
          product_variant_id: variant.id,
          name: variant.name,
          selected: item.id,
          extra_price: item.extra_price,
          item_name: item.name,
        })
      }
    },
    isSelected(variantId, variantItemId) {
      return (
        this.selectedVariants.find(
          (item) => item.product_variant_id === variantId
        )?.selected === variantItemId
      )
    },
    handleAddToCart() {
      if (this.isLoggedIn) {
        this.order = true
      } else {
        this.$router.push({
          name: 'register',
          query: { redirect: this.$route.fullPath },
        })
      }
    },
  },
}
</script>
<style lang="scss">
@import '~@core/scss/base/pages/app-ecommerce-details.scss';
</style>

<style lang="scss" scoped>
.variant-img {
  width: 60px !important;
  height: 60px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
</style>