<template>
  <b-card-code no-body>
    <b-card-body>
      <b-row>
        <b-col cols="12" md="6" order="2" order-sm="1">
          <b-form-group
            label="Search"
            label-align-sm="left"
            label-cols-sm="2"
            class="mb-0"
          >
            <b-form-input
              id="searchAdmin"
              v-model="params.search"
              type="search"
              placeholder="Type to Search"
            />
          </b-form-group>
        </b-col>
        <b-col
          cols="12"
          md="6"
          order="1"
          order-sm="2"
          class="d-flex justify-content-end"
        >
          <b-button variant="secondary" @click="handleAdd">
            <feather-icon icon="PlusIcon" />
            <span class="ml-25 align-middle">Add New</span>
          </b-button>
        </b-col>
      </b-row>
    </b-card-body>

    <b-table
      hover
      responsive
      :current-page="params.page"
      per-page="0"
      :items="datas"
      :fields="fields"
      :busy="loading"
      show-empty
      @sort-changed="sortChanged"
    >
      <template #table-busy>
        <div class="text-center my-2">
          <b-spinner small type="grow"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template #cell(first_name)="data">
        <div class="d-flex align-items-center">
          <b-avatar
            variant="light-secondary"
            size="lg"
            :src="data.item.photo_url"
            class="mr-1"
          />
          <span>{{ data.value }} {{ data.item.last_name }}</span>
        </div>
      </template>
      <template #cell(action)="data">
        <action-list :actions="actionList" :item="data"></action-list>
      </template>
    </b-table>

    <b-card-body class="d-flex justify-content-between flex-wrap pt-0">
      <!-- page length -->
      <b-form-group
        label="Per Page"
        label-cols="6"
        label-align="left"
        label-size="sm"
        label-for="sortBySelect"
        class="text-nowrap mb-md-0 mr-1"
      >
        <b-form-select
          id="perPageSelect"
          v-model="params.per_page"
          size="sm"
          inline
          :options="pageOptions"
        />
      </b-form-group>

      <!-- pagination -->
      <div>
        <b-pagination
          v-model="params.page"
          :total-rows="pagination.total"
          :per-page="params.per_page"
          first-number
          last-number
          prev-class="prev-item"
          next-class="next-item"
          class="mb-0"
          @change="handlePageChange"
        >
          <template #prev-text>
            <feather-icon icon="ChevronLeftIcon" size="18" />
          </template>
          <template #next-text>
            <feather-icon icon="ChevronRightIcon" size="18" />
          </template>
        </b-pagination>
      </div>
    </b-card-body>

    <b-modal
      id="mutasi-variant"
      v-model="mutasi.status"
      centered
      :title="`${mutasi.mode === 'add' ? 'Create' : 'Edit'} Admin`"
      no-close-on-backdrop
      cancel-variant="flat-danger"
      ok-variant="secondary"
      ok-title="Submit"
      cancel-title="Cancel"
      @ok="validationForm"
    >
      <b-card-text>
        <validation-observer ref="mutationAdmin">
          <b-form @submit.stop.prevent="validationForm">
            <b-form-group label="First Name" label-for="firstname">
              <validation-provider
                #default="{ errors }"
                name="First Name"
                rules="required"
              >
                <b-form-input
                  id="firstname"
                  v-model="form.first_name"
                  :state="errors.length > 0 ? false : null"
                  placeholder="First Name"
                  autofocus
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
            <b-form-group label="Last Name" label-for="lastname">
              <template #label>
                <label>Last Name <small>(optional)</small></label>
              </template>
              <b-form-input
                id="lastname"
                v-model="form.last_name"
                placeholder="Last Name"
              />
            </b-form-group>
            <b-form-group label-for="email" label="Email">
              <validation-provider
                #default="{ errors }"
                name="Email"
                rules="required|email"
              >
                <b-form-input
                  id="email"
                  v-model="form.email"
                  name="admin-email"
                  :state="errors.length > 0 ? false : null"
                  placeholder="john@example.com"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
            <b-form-group v-if="mutasi.mode === 'add'" label-for="password" label="Password">
              <validation-provider
                #default="{ errors }"
                name="Password"
                rules="required|min:6|password"
              >
                <b-input-group
                  class="input-group-merge"
                  :class="errors.length > 0 ? 'is-invalid' : null"
                >
                  <b-form-input
                    id="password"
                    v-model="form.password"
                    :type="passwordFieldType"
                    class="form-control-merge"
                    :state="errors.length > 0 ? false : null"
                    name="admin-password"
                    placeholder="Password"
                  />

                  <b-input-group-append is-text>
                    <feather-icon
                      class="cursor-pointer"
                      :icon="passwordToggleIcon"
                      @click="togglePasswordVisibility"
                    />
                  </b-input-group-append>
                </b-input-group>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
            <b-form-group label-for="phone" label="Phone">
              <template #label>
                <label>Phone <small>(optional)</small></label>
              </template>
              <cleave
                id="phone"
                v-model="form.phone"
                class="form-control"
                :options="optionPhone"
                placeholder="0896 xxx xxx xxxx"
              />
            </b-form-group>
          </b-form>
        </validation-observer>
      </b-card-text>
    </b-modal>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import _ from 'lodash'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required,password } from '@validations'
import ActionList from '@core/components/ActionList.vue'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import Cleave from 'vue-cleave-component'
import 'cleave.js/dist/addons/cleave-phone.id'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BCardCode,
    ActionList,
    Cleave,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      optionPhone: {
        phone: true,
        phoneRegionCode: 'id',
      },
      password,
      required,
      pageOptions: [10, 25, 100],
      form: {
        id: null,
        first_name: '',
        last_name: '',
        email: '',
        phone: '',
        password: '',
      },
      fields: [
        { key: 'first_name', label: 'Full Name', sortable: true },
        { key: 'email', label: 'Email', sortable: true },
        { key: 'phone', label: 'Phone', sortable: true },
        { key: 'action', label: 'Action', sortable: false },
      ],
      mutasi: {
        status: false,
        mode: 'add',
      },
      actionList: [
        {
          title: 'Edit',
          onClick: (row) => this.handleEdit(row.item),
          icon: 'EditIcon',
        },
        {
          title: 'Delete',
          onClick: (row) => this.handleDelete(row.item),
          icon: 'Trash2Icon',
        },
      ],
      params: {
        page: 1,
        per_page: 10,
        sort: 'updated_at',
        order: 'desc',
        role: 'admin',
        search: '',
      },
    }
  },
  computed: {
    datas() {
      return this.$store.get('userAdmin/datas') || []
    },
    pagination() {
      return this.$store.get('userAdmin/pagination') || {}
    },
    loading() {
      return this.$store.get('userAdmin/loading')
    },
    show_alert() {
      return this.$store.get('userAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('userAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('userAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('userAdmin/alert_status')
    },
    sorting() {
      return { sort: this.params.sort, order: this.params.order }
    },
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('userAdmin/show_alert', false)
      }
    },
    'params.per_page': function () {
      this.load()
    },
    'params.page': function () {
      this.load()
    },
    sorting() {
      this.load()
    },
    'params.search': function () {
      this.handleSearch()
    },
  },
  mounted() {
    this.load()
  },

  methods: {
    async load() {
      await this.$store.dispatch('userAdmin/load', this.params)
    },
    sortChanged(e) {
      const sort = e?.sortBy
      const order = e?.sortDesc ? 'desc' : 'asc'

      this.params = { ...this.params, sort, order }
    },
    handlePageChange(value) {
      this.params.page = value
    },
    handleSearch: _.debounce(function () {
      this.load()
    }, 500),
    handleAdd() {
      this.mutasi.status = true
      this.mutasi.mode = 'add'
      this.form = {
        first_name: '',
        last_name: '',
        email: '',
        phone: '',
        password: '',
      }
    },
    handleEdit(item) {
      this.mutasi.status = true
      this.mutasi.mode = 'edit'
      this.form = JSON.parse(JSON.stringify(item))
    },
    validationForm(event) {
      event.preventDefault()
      this.$refs.mutationAdmin.validate().then((success) => {
        if (success) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      let res = false

      if (this.mutasi.mode === 'edit') {
        // EDIT Admin
        res = await this.$store.dispatch('userAdmin/update', this.form)
      } else {
        res = await this.$store.dispatch('userAdmin/create', this.form)
      }

      if (res) {
        // Do something when success
        this.mutasi.status = false
        this.load()
        this.$swal({
          title: 'Success',
          text:
            this.mutasi.mode === 'edit'
              ? 'Admin successfully updated'
              : 'Admin successfully created',
          icon: 'success',
          customClass: {
            confirmButton: 'btn btn-primary',
          },
          buttonsStyling: false,
        })
      }

      this.setLoading(false)
    },
    handleDelete(item) {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete this admin ${item.first_name} ${item.last_name}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.onDelete(item.id)
        }
      })
    },
    async onDelete(id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('userAdmin/delete', id)

      if (res) {
        this.load()
        this.$swal({
          icon: 'success',
          title: 'Deleted!',
          text: 'The admin has been deleted.',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
      this.setLoading(false)
    },
  },
}
</script>