<template>
  <b-card-code no-body>
    <b-card-body>
      <b-row>
        <b-col cols="12" md="6" order="2" order-sm="1">
          <b-form-group
            label="Search"
            label-align-sm="left"
            label-cols-sm="2"
            class="mb-0"
          >
            <b-form-input
              id="searchVariant"
              v-model="params.search"
              type="search"
              placeholder="Type to Search"
            />
          </b-form-group>
        </b-col>
      </b-row>
    </b-card-body>

    <b-table
      hover
      responsive
      :current-page="params.page"
      per-page="0"
      :items="datas"
      :fields="fields"
      :busy="loading"
      show-empty
      @sort-changed="sortChanged"
    >
      <template #table-busy>
        <div class="text-center my-2">
          <b-spinner small type="grow"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template #cell(first_name)="data">
        <div class="d-flex align-items-center">
          <b-avatar
            variant="light-secondary"
            size="lg"
            :src="data.item.photo_url"
            class="mr-1"
          />
          <span>{{ data.value }} {{ data.item.last_name }}</span>
        </div>
      </template>
      <!-- <template #cell(action)="data">
        <b-button
          class="btn-icon"
          variant="outline-primary"
          @click="$router.push(`/admin/user/customer/${data.item.id}`)"
        >
          <feather-icon icon="EyeIcon" />
        </b-button>
      </template> -->
    </b-table>

    <b-card-body class="d-flex justify-content-between flex-wrap pt-0">
      <!-- page length -->
      <b-form-group
        label="Per Page"
        label-cols="6"
        label-align="left"
        label-size="sm"
        label-for="sortBySelect"
        class="text-nowrap mb-md-0 mr-1"
      >
        <b-form-select
          id="perPageSelect"
          v-model="params.per_page"
          size="sm"
          inline
          :options="pageOptions"
        />
      </b-form-group>

      <!-- pagination -->
      <div>
        <b-pagination
          v-model="params.page"
          :total-rows="pagination.total"
          :per-page="params.per_page"
          first-number
          last-number
          prev-class="prev-item"
          next-class="next-item"
          class="mb-0"
          @change="handlePageChange"
        >
          <template #prev-text>
            <feather-icon icon="ChevronLeftIcon" size="18" />
          </template>
          <template #next-text>
            <feather-icon icon="ChevronRightIcon" size="18" />
          </template>
        </b-pagination>
      </div>
    </b-card-body>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import _ from 'lodash'

export default {
  components: {
    BCardCode,
  },
  data() {
    return {
      pageOptions: [10, 25, 100],
      fields: [
        { key: 'first_name', label: 'Full Name', sortable: true },
        { key: 'email', label: 'Email', sortable: true },
        { key: 'phone', label: 'Phone', sortable: true },
        // { key: 'action', label: 'Action', sortable: false },
      ],
      params: {
        page: 1,
        per_page: 10,
        sort: 'updated_at',
        order: 'desc',
        role: 'user',
        search: '',
      },
    }
  },
  computed: {
    datas() {
      return this.$store.get('userAdmin/datas') || []
    },
    pagination() {
      return this.$store.get('userAdmin/pagination') || {}
    },
    loading() {
      return this.$store.get('userAdmin/loading')
    },
    show_alert() {
      return this.$store.get('userAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('userAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('userAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('userAdmin/alert_status')
    },
    sorting() {
      return { sort: this.params.sort, order: this.params.order }
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('productAdmin/show_alert', false)
      }
    },
    'params.per_page': function () {
      this.load()
    },
    'params.page': function () {
      this.load()
    },
    sorting() {
      this.load()
    },
    'params.search': function () {
      this.handleSearch()
    },
  },
  mounted() {
    this.load()
  },

  methods: {
    async load() {
      await this.$store.dispatch('userAdmin/load', this.params)
    },
    sortChanged(e) {
      const sort = e?.sortBy
      const order = e?.sortDesc ? 'desc' : 'asc'

      this.params = { ...this.params, sort, order }
    },
    handlePageChange(value) {
      this.params.page = value
    },
    handleSearch: _.debounce(function () {
      this.load()
    }, 500),
  },
}
</script>