<template>
  <b-card-code no-body>
    <b-card-body>
      <b-row>
        <b-col cols="12" md="6" order="2" order-sm="1">
          <b-form-group
            label="Search"
            label-align-sm="left"
            label-cols-sm="2"
            class="mb-0"
          >
            <b-form-input
              id="searchVariant"
              v-model="params.search"
              type="search"
              placeholder="Type to Search"
            />
          </b-form-group>
        </b-col>
        <b-col
          cols="12"
          md="6"
          order="1"
          order-sm="2"
          class="d-flex justify-content-end"
        >
          <b-button variant="secondary" @click="handleAdd">
            <feather-icon icon="PlusIcon" />
            <span class="ml-25 align-middle">Add New</span>
          </b-button>
        </b-col>
      </b-row>
    </b-card-body>

    <b-table
      hover
      responsive
      :current-page="params.page"
      per-page="0"
      :items="datas"
      :fields="fields"
      :busy="loading"
      show-empty
      @sort-changed="sortChanged"
    >
      <template #table-busy>
        <div class="text-center my-2">
          <b-spinner small type="grow"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template #cell(description)="data">
        {{data.value || "-"}}
      </template>
      <template #cell(action)="data">
        <action-list :actions="actionList" :item="data"></action-list>
      </template>
    </b-table>

    <b-card-body class="d-flex justify-content-between flex-wrap pt-0">
      <!-- page length -->
      <b-form-group
        label="Per Page"
        label-cols="6"
        label-align="left"
        label-size="sm"
        label-for="sortBySelect"
        class="text-nowrap mb-md-0 mr-1"
      >
        <b-form-select
          id="perPageSelect"
          v-model="params.per_page"
          size="sm"
          inline
          :options="pageOptions"
        />
      </b-form-group>

      <!-- pagination -->
      <div>
        <b-pagination
          v-model="params.page"
          :total-rows="pagination.total"
          :per-page="params.per_page"
          first-number
          last-number
          prev-class="prev-item"
          next-class="next-item"
          class="mb-0"
          @change="handlePageChange"
        >
          <template #prev-text>
            <feather-icon icon="ChevronLeftIcon" size="18" />
          </template>
          <template #next-text>
            <feather-icon icon="ChevronRightIcon" size="18" />
          </template>
        </b-pagination>
      </div>
    </b-card-body>

    <b-modal
      id="mutasi-variant"
      v-model="mutasi.status"
      centered
      :title="`${mutasi.mode === 'add' ? 'Create' : 'Edit'} Variant`"
      no-close-on-backdrop
      cancel-variant="flat-danger"
      ok-variant="secondary"
      ok-title="Submit"
      cancel-title="Cancel"
      @ok="validationForm"
    >
      <b-card-text>
        <validation-observer ref="mutationVariant">
          <b-form @submit.stop.prevent="validationForm">
            <b-form-group label="Variant Name" label-for="name">
              <validation-provider
                #default="{ errors }"
                name="Variant Name"
                rules="required"
                vid="name"
              >
                <b-form-input
                  id="name"
                  v-model="form.name"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Variant Name"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
            <b-form-group label="Description" label-for="description">
              <validation-provider
                #default="{ errors }"
                name="Description"
                vid="description"
              >
                <b-form-textarea
                  id="description"
                  v-model="form.description"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Description"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-form>
        </validation-observer>
      </b-card-text>
    </b-modal>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import ActionList from '@core/components/ActionList.vue'
import _ from 'lodash'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BCardCode,
    ActionList,
  },
  data() {
    return {
      required,
      pageOptions: [10, 25, 100],
      form: {
        id: null,
        name: '',
        description: '',
      },
      fields: [
        { key: 'name', label: 'Variant Name', sortable: true },
        { key: 'description', label: 'Description', sortable: true },
        { key: 'action', label: 'Action', sortable: false },
      ],
      actionList: [
        {
          title: 'Edit Variant',
          onClick: (row) => this.handleEdit(row.item),
          icon: 'ArchiveIcon',
        },
        {
          title: 'Delete',
          onClick: (row) => this.handleDelete(row.item),
          icon: 'Trash2Icon',
        },
      ],
      mutasi: {
        status: false,
        mode: 'add',
      },
      params: {
        page: 1,
        per_page: 10,
        sort: 'updated_at',
        order: 'desc',
        search: '',
      },
    }
  },
  computed: {
    datas() {
      return this.$store.get('variantAdmin/datas') || []
    },
    pagination() {
      return this.$store.get('variantAdmin/pagination') || {}
    },
    loading() {
      return this.$store.get('variantAdmin/loading')
    },
    error() {
      return this.$store.get('variantAdmin/error')
    },
    show_alert() {
      return this.$store.get('variantAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('variantAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('variantAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('variantAdmin/alert_status')
    },
    sorting() {
      return { sort: this.params.sort, order: this.params.order }
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('variantAdmin/show_alert', false)
      }
    },
    error: {
      handler(newVal) {
        if (!_.isEmpty(newVal)) {
          this.$refs.mutationVariant.setErrors(newVal)
        }
      },
      immediate: true,
    },
    'params.per_page': function () {
      this.load()
    },
    'params.page': function () {
      this.load()
    },
    sorting() {
      this.load()
    },
    'params.search': function () {
      this.handleSearch()
    },
  },
  mounted() {
    this.load()
  },

  methods: {
    async load() {
      await this.$store.dispatch('variantAdmin/load', this.params)
    },
    sortChanged(e) {
      const sort = e?.sortBy
      const order = e?.sortDesc ? 'desc' : 'asc'

      this.params = { ...this.params, sort, order }
    },
    handlePageChange(value) {
      this.params.page = value
    },
    handleSearch: _.debounce(function () {
      this.load()
    }, 500),
    handleAdd() {
      this.mutasi.status = true
      this.mutasi.mode = 'add'
      this.form = {
        id: null,
        name: '',
        description: '',
      }
    },
    handleEdit(item) {
      this.mutasi.status = true
      this.mutasi.mode = 'edit'
      this.form = {
        id: item.id,
        name: item.name,
        description: item.description,
      }
    },
    validationForm(event) {
      event.preventDefault()
      this.$refs.mutationVariant.validate().then((success) => {
        if (success) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      let res = false

      if (this.mutasi.mode === 'edit') {
        // EDIT Variant
        res = await this.$store.dispatch('variantAdmin/update', this.form)
      } else {
        res = await this.$store.dispatch('variantAdmin/create', this.form)
      }

      if (res) {
        // Do something when success
        this.mutasi.status = false
        this.load()
        this.$swal({
          title: 'Success',
          text:
            this.mutasi.mode === 'edit'
              ? 'Variant successfully updated'
              : 'Variant successfully created',
          icon: 'success',
          customClass: {
            confirmButton: 'btn btn-primary',
          },
          buttonsStyling: false,
        })
      }

      this.setLoading(false)
    },
    handleDelete(item) {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete this variant ${item.name}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.onDelete(item.id)
        }
      })
    },
    async onDelete(id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('variantAdmin/delete', id)

      if (res) {
        this.load()
        this.$swal({
          icon: 'success',
          title: 'Deleted!',
          text: 'The variant has been deleted.',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
      this.setLoading(false)
    },
  },
}
</script>