<template>
  <b-card-code no-body no-header>
    <b-card-body>
      <b-row class="d-flex align-items-end">
        <b-col cols="6" sm="4">
          <b-form-group label="Select Variant" label-for="name" class="mb-0">
            <v-select
              v-model="product_variant"
              label="name"
              :options="optionVariants"
              :filtering="false"
              @search="onSearch"
            >
              <template slot="option" slot-scope="option">
                <div class="d-flex flex-column">
                  <span>{{ option.name }}</span>
                  <span v-if="option.description">
                    {{ option.description }}
                  </span>
                </div>
              </template>
            </v-select>
          </b-form-group>
        </b-col>
        <b-col cols="6" sm="4">
          <b-button
            variant="primary"
            :disabled="!product_variant"
            @click="handleAddVariants"
          >
            <feather-icon icon="PlusIcon" /> Add Variant
          </b-button>
        </b-col>
      </b-row>

      <validation-observer ref="mutationVariantItems">
        <b-form class="mt-2"  @submit.prevent="handleSubmit">
          <b-row>
            <!-- Product Name -->
            <b-col cols="12">
              <app-collapse accordion type="border">
                <collapse-variant
                  v-for="(variant, index) in form"
                  :key="variant.variant_id"
                  :title="variant.variant_name"
                  :data="variant"
                  @add:item="handleAddItem($event, index)"
                  @delete:item="handleRemoveItem($event, index)"
                  @delete:variant="handleRemoveVariants(index)"
                ></collapse-variant>
              </app-collapse>
            </b-col>

            <b-col cols="12">
              <div
                class="d-flex justify-content-end justify-content-sm-start mt-2"
              >
                <b-button
                  variant="secondary"
                  type="submit"
                >
                  Submit
                </b-button>
              </div>
            </b-col>
          </b-row>
        </b-form>
      </validation-observer>
    </b-card-body>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import AppCollapse from '@core/components/app-collapse/AppCollapse.vue'
import { ValidationObserver } from 'vee-validate'
import FeatherIcon from '@core/components/feather-icon/FeatherIcon.vue'
import { required, numeric } from '@validations'
import vSelect from 'vue-select'
import _ from 'lodash'
import CollapseVariant from '@core/components/variant-items/CollapseVariant.vue'

const initItem = {
  variant_item_name: '',
  extra_price: null,
  image: null,
  color: null,
}
const initData = {
  variant_id: null,
  variant_name: '',
  items: [initItem],
}

export default {
  components: {
    BCardCode,
    ValidationObserver,
    FeatherIcon,
    vSelect,
    AppCollapse,
    CollapseVariant,
  },

  data() {
    return {
      required,
      numeric,
      product_variant: null,
      form: [],
      delete: [],
    }
  },
  computed: {
    product_id() {
      return this.$route.params.id
    },
    optionVariants() {
      const ids = this.form.map((item) => item.variant_id)
      return this.$store
        .get('variantAdmin/datas')
        .filter((variants) => !ids.includes(variants.id))
    },
    show_alert() {
      return this.$store.get('productAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('productAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('productAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('productAdmin/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
      }
      this.$store.set('productAdmin/show_alert', false)
    },
  },
  mounted() {
    this.getVariants()
    this.getDefaultVariantItems()
  },
  methods: {
    getVariants(params) {
      return this.$store.dispatch('variantAdmin/load', params)
    },
    async getDefaultVariantItems() {
      this.setLoading(true)
      const res = await this.$store.dispatch('productAdmin/getVariantItem', {
        id: this.product_id,
      })

      if (res) {
        this.form = res.reduce((result, current) => {
          const indexHasVariant = result.findIndex(
            (item) => item.variant_id === current?.product_variant_id
          )

          if (indexHasVariant > -1) {
            result[indexHasVariant].items.push({
              id: current?.id,
              variant_item_name: current?.name,
              extra_price: +current?.extra_price,
              image: current?.photo_url,
              color: current?.color,
            })
          } else {
            result.push({
              id: current?.id,
              variant_id: current?.product_variant_id,
              variant_name: current?.product_variant?.name,
              items: [
                {
                  id: current?.id,
                  variant_item_name: current?.name,
                  extra_price: +current?.extra_price,
                  image: current?.photo_url,
                  color: current?.color,
                },
              ],
            })
          }

          return result
        }, [])
      }
      this.setLoading(false)
    },
    onSearch(search, loading) {
      loading(true)
      this.searchVariants(search, loading)
    },
    searchVariants: _.debounce(function (value, loading) {
      this.getVariants({ search: value }).finally(() => loading(false))
    }, 500),
    handleAddVariants() {
      const newData = JSON.parse(JSON.stringify(initData))
      this.form.push({
        ...newData,
        variant_id: this.product_variant.id,
        variant_name: this.product_variant.name,
      })
      this.product_variant = null
    },
    handleRemoveVariants(index) {
      if (this.form[index]?.id) {
        // DELETE OBJECT
        this.delete.push(
          ...(this.form[index].items.map((variant) => variant.id) || [])
        )

        this.form.splice(index, 1)
      } else {
        // Literally delete the object
        this.form.splice(index, 1)
      }
    },
    handleAddItem(__, indexParent) {
      this.form[indexParent].items.push(JSON.parse(JSON.stringify(initItem)))
    },
    handleRemoveItem(variantItem, indexParent) {
      const { item, index: indexItem } = variantItem
      if (item?.id) {
        // DELETE OBJECT
        const indexDelete = this.form[indexParent].items.findIndex(
          (variant_item) => variant_item.id === item.id
        )
        this.delete.push(item.id)
        this.form[indexParent].items.splice(indexDelete, 1)
      } else {
        // Literally delete the object
        this.form[indexParent].items.splice(indexItem, 1)
      }
    },
    handleSubmit() {
      this.$refs.mutationVariantItems.validate().then((success) => {
        if (success) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      const dataSubmit = this.form.reduce(
        (result, current) => {
          const dataNoId = current.items.filter((item) => !item?.id)
          const dataId = current.items.filter((item) => !!item?.id)
          if (dataNoId.length) {
            result.new.push(
              ...dataNoId.map((item) => ({
                ...item,
                variant_id: current.variant_id,
              }))
            )
          }

          if (dataId.length) {
            const editData = dataId.filter((item) => !item?.delete)

            if (editData.length) {
              result.edit.push(
                ...editData.map((item) => ({
                  ...item,
                  variant_id: current.variant_id,
                }))
              )
            }
          }

          return result
        },
        {
          new: [],
          edit: [],
        }
      )

      const formData = new FormData()

      dataSubmit.new.forEach((variant, index) => {
        formData.append(`new[${index}][name]`, variant.variant_item_name)
        formData.append(`new[${index}][extra_price]`, variant.extra_price)
        formData.append(`new[${index}][product_variant_id]`, variant.variant_id)
        formData.append(`new[${index}][color]`, variant.color)
        formData.append(`new[${index}][product_id]`, this.product_id)

        if (variant.image && typeof variant.image === 'object') {
          formData.append(`new[${index}][photo_url]`, variant.image)
        }
      })

      dataSubmit.edit.forEach((variant, index) => {
        formData.append(`edit[${index}][id]`, variant?.id)
        formData.append(`edit[${index}][name]`, variant.variant_item_name)
        formData.append(`edit[${index}][extra_price]`, variant.extra_price)
        formData.append(`edit[${index}][color]`, variant.color)
        formData.append(
          `edit[${index}][product_variant_id]`,
          variant.variant_id
        )
        formData.append(`edit[${index}][product_id]`, this.product_id)
        formData.append(`edit[${index}][photo_url]`, variant.image)
      })

      this.delete.forEach((variant) => {
        formData.append(`delete[]`, variant)
      })

      const res = await this.$store.dispatch('productAdmin/createVariantItem', {
        productId: this.product_id,
        data: formData,
      })

      if (res) {
        this.$swal({
          title: 'Success',
          text: 'Variants successfully edited',
          icon: 'success',
          customClass: {
            confirmButton: 'btn btn-primary',
          },
          buttonsStyling: false,
        }).then((result) => {
          if (result.value) {
            this.$router.push('/admin/product/list')
          }
        })
      }

      this.setLoading(false)
    },
  },
}
</script>
