<template>
  <b-card>
    <!-- form -->
    <validation-observer ref="passwordForm" #default="{ invalid }">
      <b-form @submit.prevent="validationForm">
        <b-row>
          <!-- old password -->
          <b-col md="6">
            <b-form-group label="Old Password" label-for="account-old-password">
              <validation-provider
                #default="{ errors }"
                name="Old Password"
                vid="current_password"
                rules="required|min:6|password"
              >
                <b-input-group
                  class="input-group-merge"
                  :class="errors.length > 0 ? 'is-invalid' : null"
                >
                  <b-form-input
                    id="account-old-password"
                    ref="old_password"
                    v-model="passwordValueOld"
                    name="old-password"
                    :state="errors.length > 0 ? false : null"
                    :type="passwordFieldTypeOld"
                    placeholder="Old Password"
                  />
                  <b-input-group-append is-text>
                    <feather-icon
                      :icon="passwordToggleIconOld"
                      class="cursor-pointer"
                      @click="togglePasswordOld"
                    />
                  </b-input-group-append>
                </b-input-group>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <!--/ old password -->
        </b-row>
        <b-row>
          <!-- new password -->
          <b-col md="6">
            <b-form-group label-for="account-new-password" label="New Password">
              <validation-provider
                #default="{ errors }"
                name="New Password"
                vid="new_password"
                rules="required|min:6|password"
              >
                <b-input-group
                  class="input-group-merge"
                  :class="errors.length > 0 ? 'is-invalid' : null"
                >
                  <b-form-input
                    id="account-new-password"
                    v-model="newPasswordValue"
                    :type="passwordFieldTypeNew"
                    :state="errors.length > 0 ? false : null"
                    name="new-password"
                    placeholder="New Password"
                  />
                  <b-input-group-append is-text>
                    <feather-icon
                      :icon="passwordToggleIconNew"
                      class="cursor-pointer"
                      @click="togglePasswordNew"
                    />
                  </b-input-group-append>
                </b-input-group>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <!--/ new password -->

          <!-- retype password -->
          <b-col md="6">
            <b-form-group
              label-for="account-retype-new-password"
              label="Retype New Password"
            >
              <validation-provider
                #default="{ errors }"
                name="Confirm New Password"
                rules="required|confirmed:new_password|min:6|password"
                vid="confirm_new_password"
              >
                <b-input-group
                  class="input-group-merge"
                  :class="errors.length > 0 ? 'is-invalid' : null"
                >
                  <b-form-input
                    id="account-retype-new-password"
                    v-model="RetypePassword"
                    :state="errors.length > 0 ? false : null"
                    :type="passwordFieldTypeRetype"
                    name="retype-password"
                    placeholder="Confirm Ne Password"
                  />
                  <b-input-group-append is-text>
                    <feather-icon
                      :icon="passwordToggleIconRetype"
                      class="cursor-pointer"
                      @click="togglePasswordRetype"
                    />
                  </b-input-group-append>
                </b-input-group>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <!--/ retype password -->

          <!-- buttons -->
          <b-col cols="12">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              class="mt-1 mr-1"
              type="submit"
              :disabled="invalid"
            >
              Save changes
            </b-button>
          </b-col>
          <!--/ buttons -->
        </b-row>
      </b-form>
    </validation-observer>
  </b-card>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, password } from '@validations'

import Ripple from 'vue-ripple-directive'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      required,
      password,
      passwordValueOld: '',
      newPasswordValue: '',
      RetypePassword: '',
      passwordFieldTypeOld: 'password',
      passwordFieldTypeNew: 'password',
      passwordFieldTypeRetype: 'password',
    }
  },
  computed: {
    passwordToggleIconOld() {
      return this.passwordFieldTypeOld === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    passwordToggleIconNew() {
      return this.passwordFieldTypeNew === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    passwordToggleIconRetype() {
      return this.passwordFieldTypeRetype === 'password'
        ? 'EyeIcon'
        : 'EyeOffIcon'
    },
    error() {
      return this.$store.get('profileCustomer/error')
    },
    show_alert() {
      return this.$store.get('profileCustomer/show_alert')
    },
    alert_message() {
      return this.$store.get('profileCustomer/alert_message')
    },
    alert_title() {
      return this.$store.get('profileCustomer/alert_title')
    },
    alert_status() {
      return this.$store.get('profileCustomer/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('profileCustomer/show_alert', false)
      }
    },
    error: {
      handler(newVal) {
        if(newVal?.new_password || newVal?.current_password || newVal?.confirm_new_password) {
          this.$refs.passwordForm.setErrors(newVal)
        }
      },
      immediate: true,
    },
  },
  methods: {
    togglePasswordOld() {
      this.passwordFieldTypeOld =
        this.passwordFieldTypeOld === 'password' ? 'text' : 'password'
    },
    togglePasswordNew() {
      this.passwordFieldTypeNew =
        this.passwordFieldTypeNew === 'password' ? 'text' : 'password'
    },
    togglePasswordRetype() {
      this.passwordFieldTypeRetype =
        this.passwordFieldTypeRetype === 'password' ? 'text' : 'password'
    },
    validationForm() {
      this.$refs.passwordForm.validate().then((success) => {
        if (success) {
          this.changePassword()
        }
      })
    },
    async changePassword() {
      this.setLoading(true)
      const res = await this.$store.dispatch('profileCustomer/changePassword', {
        current_password: this.passwordValueOld,
        new_password: this.newPasswordValue,
        confirm_new_password: this.RetypePassword,
      })
      if (res) {
        this.$swal({
          title: this.alert_title,
          text: this.alert_message,
          icon: 'success',
          customClass: {
            confirmButton: 'btn btn-primary',
          },
          buttonsStyling: false,
        }).then((result) => {
          if (result.value) {
            window.location.reload()
          }
        })
      }
      this.setLoading(false)
    },
  },
}
</script>
