<template>
  <b-card>
    <!-- media -->
    <b-media no-body>
      <b-media-aside @click="$refs.refInputEl.$el.click()">
        <b-avatar size="80" :src="avatar" variant="secondary cursor-pointer">
        </b-avatar>
        <!--/ avatar -->
      </b-media-aside>

      <b-media-body class="mt-75 ml-75">
        <!-- upload button -->
        <b-button
          v-ripple.400="'rgba(255, 255, 255, 0.15)'"
          variant="primary"
          size="sm"
          type="button"
          class="mb-75 mr-75"
          @click="$refs.refInputEl.$el.click()"
        >
          Upload
        </b-button>
        <b-form-file
          ref="refInputEl"
          v-model="profileFile"
          accept=".jpg, .png,"
          :hidden="true"
          plain
          @input="changePhoto"
        />
        <!--/ upload button -->

        <!-- reset -->
        <b-button
          v-ripple.400="'rgba(186, 191, 199, 0.15)'"
          variant="outline-secondary"
          size="sm"
          type="button"
          class="mb-75 mr-75"
          @click="confirmClearPhoto"
        >
          Clear
        </b-button>
        <!--/ reset -->
        <b-card-text>Allowed JPG or PNG. Max size of 1 MB</b-card-text>
      </b-media-body>
    </b-media>
    <!--/ media -->

    <!-- form -->
    <validation-observer ref="profileForm" #default="{ invalid }">
      <b-form class="mt-2" @submit.prevent="validationForm">
        <b-row>
          <b-col sm="6">
            <b-form-group label="First Name" label-for="first_name">
              <validation-provider
                #default="{ errors }"
                name="First Name"
                rules="required"
              >
                <b-form-input
                  v-model="user.first_name"
                  :state="errors.length > 0 ? false : null"
                  placeholder="First Name"
                  name="first_name"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col sm="6">
            <b-form-group label="Last Name" label-for="last_name">
              <b-form-input
                v-model="user.last_name"
                name="last_name"
                placeholder="Last Name"
              />
            </b-form-group>
          </b-col>
          <b-col sm="6">
            <validation-provider
              #default="{ errors }"
              name="Email"
              rules="required|email"
            >
              <b-form-group
                label="E-mail"
                :state="errors.length > 0 ? false : null"
                label-for="account-e-mail"
              >
                <b-form-input
                  v-model="user.email"
                  name="email"
                  placeholder="Email"
                />
              </b-form-group>
              <small class="text-danger">{{ errors[0] }}</small>
            </validation-provider>
          </b-col>
          <b-col sm="6">
            <b-form-group label-for="phone" label="Phone">
              <cleave
                id="phone"
                v-model="user.phone"
                class="form-control"
                :options="optionPhone"
                placeholder="Phone number"
              />
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              class="mt-2 mr-1"
              type="submit"
              :disabled="invalid"
            >
              Save changes
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-card>
</template>

<script>
import Cleave from 'vue-cleave-component'
import 'cleave.js/dist/addons/cleave-phone.id'

import Ripple from 'vue-ripple-directive'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import { ref } from '@vue/composition-api'

import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'

export default {
  components: {
    Cleave,
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      required,
      optionPhone: {
        phone: true,
        phoneRegionCode: 'id',
      },
      user: {
        id: null,
        first_name: '',
        last_name: '',
        email: '',
        phone: '',
      },
      profileFile: null,
    }
  },
  computed: {
    avatar() {
      return this.formatImage(this.userData.profile_photo_url, 'avatars')
    },
    error() {
      return this.$store.get('profileCustomer/error')
    },
    show_alert() {
      return this.$store.get('profileCustomer/show_alert')
    },
    alert_message() {
      return this.$store.get('profileCustomer/alert_message')
    },
    alert_title() {
      return this.$store.get('profileCustomer/alert_title')
    },
    alert_status() {
      return this.$store.get('profileCustomer/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('profileCustomer/show_alert', false)
      }
    },
    userData: {
      handler(newVal) {
        if (newVal?.id) {
          this.user = {
            id: newVal.id,
            first_name: newVal.first_name,
            last_name: newVal.last_name,
            email: newVal.email,
            phone: newVal.phone,
          }
        }
      },
      immediate: true,
    },
    error: {
      handler(newVal) {
        if (newVal?.first_name || newVal?.email) {
          this.$refs.profileForm.setErrors(newVal)
        }
      },
      immediate: true,
    },
  },
  methods: {
    validationForm() {
      this.$refs.profileForm.validate().then((success) => {
        if (success) {
          this.saveProfile()
        }
      })
    },
    async changePhoto(file) {
      if (file) {
        this.setLoading(true)
        const formData = new FormData()
        formData.append('photo', file)
        const res = await this.$store.dispatch(
          'profileCustomer/updatePhoto',
          formData
        )
        if (res) {
          this.$swal({
            title: this.alert_title,
            text: this.alert_message,
            icon: 'success',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
            buttonsStyling: false,
          }).then((result) => {
            if (result.value) {
              window.location.reload()
            }
          })
        }
        this.setLoading(false)
      }
    },
    confirmClearPhoto() {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete this photo?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.clearPhoto()
        }
      })
    },
    async clearPhoto() {
      this.setLoading(true)

      const res = await this.$store.dispatch('profileCustomer/deletePhoto')
      if (res) {
        this.$swal({
          title: this.alert_title,
          text: this.alert_message,
          icon: 'success',
          customClass: {
            confirmButton: 'btn btn-primary',
          },
          buttonsStyling: false,
        }).then((result) => {
          if (result.value) {
            window.location.reload()
          }
        })
      }
      this.setLoading(false)
    },
    async saveProfile() {
      this.setLoading(true)
      const res = await this.$store.dispatch(
        'profileCustomer/updateProfile',
        this.user
      )
      if (res) {
        this.$swal({
          title: this.alert_title,
          text: this.alert_message,
          icon: 'success',
          customClass: {
            confirmButton: 'btn btn-primary',
          },
          buttonsStyling: false,
        }).then((result) => {
          if (result.value) {
            window.location.reload()
          }
        })
      }
      this.setLoading(false)
    },
  },
  setup() {
    const refInputEl = ref(null)
    const previewEl = ref(null)

    const { inputImageRenderer } = useInputImageRenderer(refInputEl, previewEl)

    return {
      refInputEl,
      previewEl,
      inputImageRenderer,
    }
  },
}
</script>
