<template>
  <div>
    <mutasi-address
      v-if="mutasi.status"
      ref="mutasiAddress"
      :mode="mutasi.mode"
      @submit:success="handleSuccess"
      @back="handleBack"
    ></mutasi-address>
    <b-card v-else>
      <div
        v-if="datas.length < 3"
        class="d-flex justify-content-end mb-1"
        @click="mutasi.status = true"
      >
        <b-button>Add New Address</b-button>
      </div>
      <b-card
        v-for="(address, index) in datas"
        :key="`address-${address.id}`"
        :border-variant="!!address.default ? 'success' : 'secondary'"
        :bg-variant="!!address.default ? 'light-success' : 'transparent'"
      >
        <b-row>
          <b-col cols="12" class="mb-1">
            <h4>{{ address.label }}</h4>
            <h5>{{ address.name }}</h5>
            <p class="mb-0 text-dark">{{ address.contact }}</p>
            <p class="mb-0 text-dark">{{ address.address }}</p>
            <p v-if="!!address.note" class="mb-0 text-dark font-weight-light">
              {{ address.note }}
            </p>
          </b-col>
          <b-col cols="6">
            <b-badge v-if="!!address.default" variant="success">
              <feather-icon icon="CheckIcon" class="mr-25" />
              <span>Default</span>
            </b-badge>
            <b-button
              v-else
              size="sm"
              variant="outline-success"
              @click="updateDefault(address)"
            >
              Jadikan alamat utama
            </b-button>
          </b-col>
          <b-col cols="6" class="d-flex justify-content-end">
            <div>
              <b-button
                size="sm"
                class="btn-icon"
                variant="flat-secondary"
                @click="handleEdit(address)"
              >
                <feather-icon icon="EditIcon" />
              </b-button>
              <b-button
                size="sm"
                class="btn-icon"
                variant="flat-secondary"
                @click="handleDelete(address)"
              >
                <feather-icon icon="Trash2Icon" />
              </b-button>
            </div>
          </b-col>
        </b-row>
      </b-card>
    </b-card>
  </div>
</template>

<script>
import MutasiAddress from '@core/components/MutasiAddress.vue'
import Ripple from 'vue-ripple-directive'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'

export default {
  directives: {
    Ripple,
  },
  components: { MutasiAddress },
  props: {
    informationData: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      mutasi: {
        status: false,
        mode: 'add',
      },
      map: null,
    }
  },
  computed: {
    datas() {
      return this.$store.get('addressCustomer/datas')
    },
    error() {
      return this.$store.get('addressCustomer/error')
    },
    show_alert() {
      return this.$store.get('addressCustomer/show_alert')
    },
    alert_message() {
      return this.$store.get('addressCustomer/alert_message')
    },
    alert_title() {
      return this.$store.get('addressCustomer/alert_title')
    },
    alert_status() {
      return this.$store.get('addressCustomer/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('addressCustomer/show_alert', false)
      }
    },
  },
  mounted() {
    this.load()
    this.loadConfigAddress()
    // this.initMap()
  },
  methods: {
    async load() {
      this.setLoading(true)
      await this.$store.dispatch('addressCustomer/load')
      this.setLoading(false)
    },
    // initMap() {
    //   this.map = new google.maps.Map(document.getElementById('map'), {
    //     center: { lat: 0, lng: 0 },
    //     zoom: 5,
    //     maxZoom: 20,
    //     minZoom: 3,
    //   })
    // },
    async loadConfigAddress() {
      const maxDistance = await this.$store.dispatch('configCustomer/load', {
        search: 'config_delivery_max_distance',
        per_page: 1,
      })
      const latitudeShop = await this.$store.dispatch('configCustomer/load', {
        search: 'config_latitude_shop',
        per_page: 1,
      })
      const longitudeShop = await this.$store.dispatch('configCustomer/load', {
        search: 'config_longitude_shop',
        per_page: 1,
      })

      this.$store.set('addressCustomer/max_distance', maxDistance[0])
      this.$store.set('addressCustomer/shop_lat', latitudeShop[0])
      this.$store.set('addressCustomer/shop_long', longitudeShop[0])
    },
    async updateDefault(item) {
      this.setLoading(true)
      const res = await this.$store.dispatch(
        'addressCustomer/updateDefault',
        item.id
      )

      if (res) {
        this.load()
      }
      this.setLoading(false)
    },
    handleEdit(item) {
      this.mutasi.status = true
      this.mutasi.mode = 'edit'
      this.$nextTick(() => {
        this.$refs.mutasiAddress.setEditForm(item)
      })
    },
    handleBack() {
      this.mutasi.status = false
    },
    handleSuccess() {
      this.mutasi.status = false
      this.load()
    },
    handleDelete(item) {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete address ${item.label}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.onDelete(item.id)
        }
      })
    },
    async onDelete(addressId) {
      this.setLoading(true)
      const res = await this.$store.dispatch(
        'addressCustomer/delete',
        addressId
      )

      if (res) {
        this.load()
        this.$swal({
          icon: 'success',
          title: 'Deleted!',
          text: 'The address has been deleted.',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
      this.setLoading(false)
    },
  },
}
</script>
