<template>
  <b-container class="my-2" style="max-width: 1140px">
    <h3 class="mb-1">Profile</h3>
    <b-tabs
      v-model="tab"
      vertical
      content-class="col-12 col-md-9 mt-1 mt-md-0"
      pills
      nav-wrapper-class="col-md-3 col-12"
      nav-class="nav-left"
    >
      <!-- general tab -->
      <b-tab>
        <!-- title -->
        <template #title>
          <feather-icon icon="UserIcon" size="18" class="mr-50" />
          <span class="font-weight-bold">General</span>
        </template>

        <account-setting-general
          v-if="options.general"
          :general-data="options.general"
        />
      </b-tab>
      <!--/ general tab -->

      <!-- change password tab -->
      <b-tab>
        <!-- title -->
        <template #title>
          <feather-icon icon="LockIcon" size="18" class="mr-50" />
          <span class="font-weight-bold">Change Password</span>
        </template>

        <account-setting-password />
      </b-tab>
      <!--/ change password tab -->

      <!-- info -->
      <b-tab>
        <!-- title -->
        <template #title>
          <feather-icon icon="MapPinIcon" size="18" class="mr-50" />
          <span class="font-weight-bold">Address Information</span>
        </template>

        <account-setting-address
          v-if="options.info"
          :information-data="options.info"
        />
      </b-tab>
    </b-tabs>
  </b-container>
</template>

<script>
import AccountSettingGeneral from './AccountSettingGeneral.vue'
import AccountSettingPassword from './AccountSettingPassword.vue'
import AccountSettingAddress from './AccountSettingAddress.vue'

export default {
  components: {
    AccountSettingGeneral,
    AccountSettingPassword,
    AccountSettingAddress,
  },
  data() {
    return {
      tab: +this.$route.query?.tab || 0,
      options: {
        general: {
          avatar: require('@/assets/images/portrait/small/avatar-s-11.jpg'),
          username: 'johndoe',
          fullName: 'John Doe',
          email: 'granger007@hogward.com',
          phone: 6562542568,
        },
        info: {
          bio: '',
          dob: null,
          country: 'USA',
          website: '',
          phone: 6562542568,
        },
      },
    }
  },
  watch: {
    tab(newVal) {
      this.$router.push({ name: this.$route.name, query: { tab: newVal } })
    },
  },
}
</script>
