<template>
  <b-card-code no-body>
    <b-card-body>
      <b-row>
        <b-col cols="12" class="d-flex justify-content-end">
          <b-button variant="secondary" @click="handleAdd">
            <feather-icon icon="PlusIcon" />
            <span class="ml-25 align-middle">Add New</span>
          </b-button>
        </b-col>
      </b-row>
    </b-card-body>

    <b-table
      hover
      responsive
      :current-page="params.page"
      per-page="0"
      :items="datas"
      :fields="fields"
      :busy="loading"
      show-empty
      @sort-changed="sortChanged"
    >
      <template #table-busy>
        <div class="text-center my-2">
          <b-spinner small type="grow"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template #cell(photo_url)="data">
        <b-img-lazy
          :src="formatImage(data.value, 'banner')"
          :alt="data.value"
          style="border-radius: 8px; object-fit: cover"
          width="200"
          height="100"
        ></b-img-lazy>
      </template>
      <template #cell(active)="data">
        <b-form-checkbox
          :checked="!!data.value"
          class="custom-control-success"
          name="check-button"
          switch
          @change="handleActive($event, data.item.id)"
        />
      </template>
      <template #cell(action)="data">
        <action-list :actions="actionList" :item="data"></action-list>
      </template>
    </b-table>

    <b-card-body class="d-flex justify-content-between flex-wrap pt-0">
      <!-- page length -->
      <b-form-group
        label="Per Page"
        label-cols="6"
        label-align="left"
        label-size="sm"
        label-for="sortBySelect"
        class="text-nowrap mb-md-0 mr-1"
      >
        <b-form-select
          id="perPageSelect"
          v-model="params.per_page"
          size="sm"
          inline
          :options="pageOptions"
        />
      </b-form-group>

      <!-- pagination -->
      <div>
        <b-pagination
          v-model="params.page"
          :total-rows="pagination.total"
          :per-page="params.per_page"
          first-number
          last-number
          prev-class="prev-item"
          next-class="next-item"
          class="mb-0"
          @change="handlePageChange"
        >
          <template #prev-text>
            <feather-icon icon="ChevronLeftIcon" size="18" />
          </template>
          <template #next-text>
            <feather-icon icon="ChevronRightIcon" size="18" />
          </template>
        </b-pagination>
      </div>
    </b-card-body>

    <b-modal
      id="mutasi-banner"
      v-model="mutasi.status"
      centered
      :title="`${mutasi.mode === 'add' ? 'Create' : 'Edit'} Banner`"
      no-close-on-backdrop
      cancel-variant="flat-danger"
      ok-variant="secondary"
      ok-title="Submit"
      cancel-title="Cancel"
      @ok="validationForm"
    >
      <b-card-text>
        <validation-observer ref="mutationBanner">
          <b-form @submit.stop.prevent="validationForm">
            <b-form-group
              label="Banner Image"
              label-for="photo_url"
              description="Please upload size 1480 × 660"
            >
              <drag-image
                :is-error="imgRules.error"
                :default-file="formatImage(form.photo_url, 'banner')"
                @change="form.photo_url = $event"
              ></drag-image>
            </b-form-group>
            <b-form-group label="View Order" label-for="order">
              <validation-provider
                #default="{ errors }"
                vid="order"
                name="View Order"
                rules="required|numeric"
              >
                <b-form-input
                  id="order"
                  v-model="form.order"
                  :state="errors.length > 0 ? false : null"
                  placeholder="View Order"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
            <b-form-group label="Target Url" label-for="target_url">
              <validation-provider
                #default="{ errors }"
                vid="target_url"
                name="Target Url"
                rules="url"
              >
                <b-form-input
                  id="target_url"
                  v-model="form.target_url"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Target Url"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-form>
        </validation-observer>
      </b-card-text>
    </b-modal>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import ActionList from '@core/components/ActionList.vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'
import DragImage from '@core/components/DragImage.vue'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BCardCode,
    ActionList,
    DragImage,
  },
  data() {
    return {
      required,
      imgRules: {
        error: false,
        message: 'The Cover Pre Order field is required',
      },
      pageOptions: [10, 25, 100],
      form: {
        id: null,
        photo_url: null,
        order: null,
        target_url: null,
      },
      fields: [
        { key: 'order', label: 'View Order', sortable: true },
        { key: 'photo_url', label: 'Banner Image', sortable: false },
        { key: 'target_url', label: 'Target Url', sortable: false },
        { key: 'active', label: 'Active', sortable: true },
        { key: 'action', label: 'Action', sortable: false },
      ],
      actionList: [
        {
          title: 'Edit Banner',
          onClick: (row) => this.handleEdit(row.item),
          icon: 'ArchiveIcon',
        },
        {
          title: 'Delete',
          onClick: (row) => this.handleDelete(row.item),
          icon: 'Trash2Icon',
        },
      ],
      mutasi: {
        status: false,
        mode: 'add',
      },
      params: {
        page: 1,
        per_page: 10,
        sort: 'order',
        order: 'asc',
        search: '',
      },
    }
  },
  computed: {
    datas() {
      return this.$store.get('bannerAdmin/datas') || []
    },
    pagination() {
      return this.$store.get('bannerAdmin/pagination') || {}
    },
    loading() {
      return this.$store.get('bannerAdmin/loading')
    },
    error() {
      return this.$store.get('bannerAdmin/error')
    },
    show_alert() {
      return this.$store.get('bannerAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('bannerAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('bannerAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('bannerAdmin/alert_status')
    },
    sorting() {
      return { sort: this.params.sort, order: this.params.order }
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('bannerAdmin/show_alert', false)
      }
    },
    'params.per_page': function () {
      this.load()
    },
    'params.page': function () {
      this.load()
    },
    sorting() {
      this.load()
    },
    error: {
      handler(newVal) {
        if (newVal?.order || newVal?.photo_url) {
          this.$refs.mutationBanner.setErrors(newVal)
        }
      },
      immediate: true,
    },
    'form.photo_url': {
      handler(newVal) {
        if (newVal) {
          this.imgRules.error = false
        }
      },
      immedite: true,
    },
  },
  mounted() {
    this.load()
  },

  methods: {
    async load() {
      await this.$store.dispatch('bannerAdmin/load', this.params)
    },
    sortChanged(e) {
      const sort = e?.sortBy
      const order = e?.sortDesc ? 'desc' : 'asc'

      this.params = { ...this.params, sort, order }
    },
    handlePageChange(value) {
      this.params.page = value
    },
    handleAdd() {
      this.mutasi.status = true
      this.mutasi.mode = 'add'
      this.form = {
        id: null,
        photo_url: '',
        target_url: '',
        order: null,
      }
    },
    handleEdit(item) {
      this.mutasi.status = true
      this.mutasi.mode = 'edit'
      this.form = {
        id: item.id,
        order: item.order,
        photo_url: item.photo_url,
        target_url: item.target_url,
      }
    },
    validationForm(bvModalEvt) {
      // eslint-disable-next-line no-unused-expressions
      bvModalEvt?.preventDefault()
      this.$refs.mutationBanner.validate().then((success) => {
        if (!this.form.photo_url) {
          this.imgRules.error = true
          return
        }

        if (success && this.form.photo_url) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      this.$refs.mutationBanner.setErrors({})
      let res = false

      const isEdit = this.mutasi.mode === 'edit'

      const formData = new FormData()
      formData.append('order', this.form.order)
      formData.append('target_url', this.form.target_url)

      if (typeof this.form.photo_url === 'object') {
        formData.append('photo_url', this.form.photo_url)
      }

      if (isEdit) {
        // EDIT Banner
        res = await this.$store.dispatch('bannerAdmin/update', {
          id: this.form.id,
          data: formData,
        })
      } else {
        res = await this.$store.dispatch('bannerAdmin/create', formData)
      }

      if (res) {
        // Do something when success
        this.mutasi.status = false
        this.load()
        this.$swal({
          title: 'Success',
          text: isEdit
            ? 'Banner successfully updated'
            : 'Banner successfully created',
          icon: 'success',
          customClass: {
            confirmButton: 'btn btn-primary',
          },
          buttonsStyling: false,
        })
      }
      this.setLoading(false)
    },
    handleDelete(item) {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete this banner ${item.photo_url}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.onDelete(item.id)
        }
      })
    },
    async onDelete(id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('bannerAdmin/delete', id)

      if (res) {
        this.load()
        this.$swal({
          icon: 'success',
          title: 'Deleted!',
          text: 'The banner has been deleted.',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
      this.setLoading(false)
    },
    async handleActive(checked, id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('bannerAdmin/active', {
        id,
        active: checked ? 1 : 0,
      })

      if (res) {
        this.load()
      }

      this.setLoading(false)
    },
  },
}
</script>