<template>
  <b-row>
    <b-col cols="12" md="8">
      <b-card-code>
        <b-card-body>
          <validation-observer ref="configForm">
            <b-form @submit.prevent="handleSubmit">
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Setting email penerima notif pembayaran dari user & ajuan komplain."
                label="Email Receiver"
                label-for="email_receiver"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Email Receiver"
                  rules="required|email"
                >
                  <b-form-input
                    id="email_receiver"
                    v-model="form.config_email_receiver"
                    :state="errors.length > 0 ? false : null"
                  ></b-form-input>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Tolong isi dengan kode negara seperti 62, digunakan untuk menampilkan nomor wa seperti di email reset password."
                label="WA Number"
                label-for="wa_number"
              >
                <validation-provider
                  #default="{ errors }"
                  name="WA Number"
                  rules="required"
                  vid="wa_number"
                >
                  <cleave
                    id="wa_number"
                    v-model="form.config_no_wa"
                    :class="['form-control', { 'is-invalid': !!errors.length }]"
                    :options="optionPhone"
                    placeholder="62896 xxx xxx xxxx"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Harga perkilometer untuk kurir."
                label="Delivery Fee"
                label-for="delivery-fee"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Delivery Fee"
                  rules="required|numeric|min-value:500"
                >
                  <b-input-group
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-input-group-prepend is-text> Rp </b-input-group-prepend>
                    <cleave
                      id="price"
                      v-model="form.config_delivery_fee_kilometer"
                      :class="[
                        'form-control',
                        { 'is-invalid': !!errors.length },
                      ]"
                      :raw="true"
                      :options="optionNumber"
                      placeholder="ex: 10.000"
                    />
                    <b-input-group-append is-text> /KM </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Jarak maksimal untuk pengiriman."
                label="Max Delivery Distance"
                label-for="delivery-distance"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Delivery Distance"
                  rules="required|numeric"
                >
                  <b-input-group
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="delivery-distance"
                      v-model="form.config_delivery_max_distance"
                      :state="errors.length > 0 ? false : null"
                    ></b-form-input>
                    <b-input-group-append is-text> KM </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Titik lokasi toko berdasarkan latitude & longitude."
                label="Shop Point"
                label-for="config_latitude_shop"
              >
                <b-row>
                  <b-col cols="12" md="5">
                    <validation-provider
                      #default="{ errors }"
                      name="Latitude"
                      rules="required|between:-90,90"
                    >
                      <b-form-input
                        id="config_latitude_shop"
                        v-model="form.config_latitude_shop"
                        :state="errors.length > 0 ? false : null"
                      ></b-form-input>
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-col>
                  <b-col cols="12" md="5">
                    <validation-provider
                      #default="{ errors }"
                      name="Longitude"
                      rules="required|between:-180,180"
                    >
                      <b-form-input
                        id="config_longitude_shop"
                        v-model="form.config_longitude_shop"
                        :state="errors.length > 0 ? false : null"
                      ></b-form-input>
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-col>
                  <b-col cols="12" md="2">
                    <b-button
                      v-b-tooltip
                      title="Get my location"
                      type="button"
                      block
                      variant="outline-primary"
                      class="btn-icon"
                      @click="getLocation"
                    >
                      <feather-icon icon="MapPinIcon" />
                    </b-button>
                  </b-col>
                </b-row>
              </b-form-group>
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Batas waktu pengambilan oleh customer."
                label="Max Pickup Time"
                label-for="config_pickup_max_time_start"
              >
                <b-row>
                  <b-col cols="12" md="6">
                    <validation-provider
                      #default="{ errors }"
                      name="Pickup Start Time"
                      rules="required"
                    >
                      <b-form-timepicker
                        v-model="form.config_pickup_max_time_start"
                        locale="id-ID"
                        placeholder="Start: 10:00"
                        :state="errors.length > 0 ? false : null"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-col>
                  <b-col cols="12" md="6">
                    <validation-provider
                      #default="{ errors }"
                      name="Pickup End Time"
                      rules="required"
                    >
                      <b-form-timepicker
                        v-model="form.config_pickup_max_time_end"
                        locale="id-ID"
                        placeholder="End: 16:00"
                        :state="errors.length > 0 ? false : null"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-col>
                </b-row>
              </b-form-group>
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Batas waktu pengiriman dari kurir."
                label="Max Delivery Time"
                label-for="config_delivery_max_time_start"
              >
                <b-row>
                  <b-col cols="12" md="6">
                    <validation-provider
                      #default="{ errors }"
                      name="Delivery Start Time"
                      rules="required"
                    >
                      <b-form-timepicker
                        v-model="form.config_delivery_max_time_start"
                        locale="id-ID"
                        placeholder="Start: 10:00"
                        :state="errors.length > 0 ? false : null"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-col>
                  <b-col cols="12" md="6">
                    <validation-provider
                      #default="{ errors }"
                      name="Delivery End Time"
                      rules="required"
                    >
                      <b-form-timepicker
                        v-model="form.config_delivery_max_time_end"
                        locale="id-ID"
                        placeholder="End: 16:00"
                        :state="errors.length > 0 ? false : null"
                      />
                      <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                  </b-col>
                </b-row>
              </b-form-group>
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Logo dengan base warna cerah."
                label="Logo Light"
                label-for="logo_light"
              >
                <drag-image
                  ref="logo_light"
                  :default-file="formatImage(form.config_logo_light, 'config')"
                  @change="form.config_logo_light = $event"
                ></drag-image>
              </b-form-group>
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Logo dengan base warna gelap."
                label="Logo Dark"
                label-for="logo_dark"
              >
                <drag-image
                  ref="logo_dark"
                  :default-file="formatImage(form.config_logo_dark, 'config')"
                  @change="form.config_logo_dark = $event"
                ></drag-image>
              </b-form-group>
              <b-form-group
                label-cols="12"
                label-cols-sm="4"
                description="Logo icon."
                label="Logo Icon"
                label-for="logo_icon"
              >
                <drag-image
                  ref="logo_icon"
                  :default-file="formatImage(form.config_logo_icon, 'config')"
                  @change="form.config_logo_icon = $event"
                ></drag-image>
              </b-form-group>
              <b-row>
                <b-col offset-sm="4">
                  <b-button type="submit" class="ml-n50">
                    <template>Save</template>
                  </b-button>
                  <b-button
                    type="button"
                    class="ml-50"
                    variant="flat-danger"
                    @click="handleReset"
                  >
                    <template>Reset</template>
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
          </validation-observer>
        </b-card-body>
      </b-card-code>
    </b-col>
  </b-row>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, numeric, minValue, email } from '@validations'
import DragImage from '@core/components/DragImage.vue'
import Cleave from 'vue-cleave-component'
import 'cleave.js/dist/addons/cleave-phone.id'

export default {
  components: {
    BCardCode,
    ValidationProvider,
    ValidationObserver,
    DragImage,
    Cleave,
  },
  data() {
    return {
      optionPhone: {
        phone: true,
        phoneRegionCode: 'id',
      },
      email,
      required,
      numeric,
      minValue,
      form: {
        config_email_receiver: null,
        config_no_wa: '',
        config_delivery_fee_kilometer: null,
        config_delivery_max_distance: 0,
        config_latitude_shop: 0.0,
        config_longitude_shop: 0.0,
        config_pickup_max_time_start: null,
        config_pickup_max_time_end: null,
        config_delivery_max_time_start: null,
        config_delivery_max_time_end: null,
        config_logo_light: null,
        config_logo_dark: null,
        config_logo_icon: null,
      },
    }
  },
  computed: {
    show_alert() {
      return this.$store.get('configAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('configAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('configAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('configAdmin/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('configAdmin/show_alert', false)
      }
    },
  },
  created() {
    this.load()
  },
  methods: {
    async load() {
      this.setLoading(true)
      const res = await this.$store.dispatch('configAdmin/load', {
        search: 'config_',
        per_page: 100000,
      })

      if (res) {
        this.form = res.reduce(
          (result, current) => {
            // eslint-disable-next-line no-param-reassign
            result[current.meta_key] = current.meta_value
            return result
          },
          {
            config_email_receiver: null,
            config_no_wa: null,
            config_delivery_fee_kilometer: 0,
            config_delivery_max_distance: 0,
            config_latitude_shop: 0.0,
            config_longitude_shop: 0.0,
            config_pickup_max_time_start: null,
            config_pickup_max_time_end: null,
            config_delivery_max_time_start: null,
            config_delivery_max_time_end: null,
            config_logo_light: null,
            config_logo_dark: null,
            config_logo_icon: null,
          }
        )
      }
      this.setLoading(false)
    },
    handleReset() {
      this.load()
      this.$refs.configForm.reset()
      this.lightRules.error = false
      this.darkRules.error = false
      this.iconRules.error = false
    },
    handleSubmit() {
      this.$refs.configForm.validate().then((success) => {
        if (success) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      const formData = new FormData()

      const keys = Object.keys(this.form)

      keys.forEach((key, index) => {
        if (this.form[key] !== null && this.form[key] !== undefined) {
          formData.append(`meta_data[${index}][meta_key]`, key)
          formData.append(`meta_data[${index}][meta_value]`, this.form[key])
        }
      })
      const res = await this.$store.dispatch('configAdmin/updateBulk', formData)

      if (res) {
        this.load()
      }
      this.setLoading(false)
    },
    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.setPosition)
      }
    },
    setPosition(position) {
      this.form.config_latitude_shop = position.coords.latitude
      this.form.config_longitude_shop = position.coords.longitude
    },
  },
}
</script>

<style>
</style>