<template>
  <b-row>
    <b-col cols="12" md="6">
      <app-collapse accordion type="margin">
        <app-collapse-item
          v-for="menu in form"
          :key="menu.key"
          :title="menu.data.title || menu.key"
        >
          <template #header-right>
            <span
              :class="[
                'font-weight-bold',
                { 'text-success': +menu.data.active },
              ]"
            >
              {{ +menu.data.active ? 'Active' : 'Non Active' }}
            </span>
          </template>
          <menu-form :default-form="menu" @submit:success="load"></menu-form>
        </app-collapse-item>
      </app-collapse>
    </b-col>
  </b-row>
</template>

<script>
import AppCollapse from '@core/components/app-collapse/AppCollapse.vue'
import AppCollapseItem from '@core/components/app-collapse/AppCollapseItem.vue'
import { required } from '@validations'
import MenuForm from '@core/components/MenuForm.vue'

export default {
  components: {
    AppCollapse,
    AppCollapseItem,
    MenuForm,
  },
  data() {
    return {
      required,
      form: [],
    }
  },
  computed: {
    datas() {
      const data = this.$store.get('configAdmin/datas') || []
      return data.reduce((result, current) => {
        const menuNumber = current.meta_key.split('_')[0]
        const menuType = current.meta_key.split('_')[1]

        const indexMenu = result.findIndex((menu) => menu.key === menuNumber)
        if (indexMenu > -1) {
          // eslint-disable-next-line no-param-reassign
          result[indexMenu].data = {
            ...result[indexMenu].data,
            [menuType]: current.meta_value,
          }
        } else {
          result.push({
            key: menuNumber,
            data: { [menuType]: current.meta_value },
          })
        }
        return result
      }, [])
    },
    show_alert() {
      return this.$store.get('configAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('configAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('configAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('configAdmin/alert_status')
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('configAdmin/show_alert', false)
      }
    },
    datas: {
      handler(newVal) {
        this.form = JSON.parse(JSON.stringify(newVal))
      },
      immediate: true,
    },
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      this.setLoading(true)
      await this.$store.dispatch('configAdmin/load', {
        search: 'menu-',
        per_page: 1000,
        sort: 'meta_key',
        order: 'asc'
      })
      this.setLoading(false)
    },
  },
}
</script>

<style>
</style>