<template>
  <b-card-code no-body>
    <b-card-body>
      <b-row>
        <b-col cols="12" md="6" order="2" order-sm="1">
          <b-form-group
            label="Search"
            label-align-sm="left"
            label-cols-sm="2"
            class="mb-0"
          >
            <b-form-input
              id="searchPayment"
              v-model="params.search"
              type="search"
              placeholder="Type to Search"
            />
          </b-form-group>
        </b-col>
        <b-col
          cols="12"
          md="6"
          order="1"
          order-sm="2"
          class="d-flex justify-content-end"
        >
          <b-button page="secondary" @click="handleAdd">
            <feather-icon icon="PlusIcon" />
            <span class="ml-25 align-middle">Add New</span>
          </b-button>
        </b-col>
      </b-row>
      </b-row>
    </b-card-body>

    <b-table
      hover
      responsive
      :current-page="params.page"
      per-page="0"
      :items="datas"
      :fields="fields"
      :busy="loading"
      show-empty
      @sort-changed="sortChanged"
    >
      <template #table-busy>
        <div class="text-center my-2">
          <b-spinner small type="grow"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template #cell(photo_url)="data">
        <b-img-lazy
          :src="formatImage(data.value, 'payment')"
          :alt="data.value"
          style="border-radius: 8px; object-fit: cover"
          width="200"
          height="100"
        ></b-img-lazy>
      </template>
      <template #cell(active)="data">
        <b-form-checkbox
          :checked="!!data.value"
          class="custom-control-success"
          name="check-button"
          switch
          @change="handleActive($event, data.item.id)"
        />
      </template>
      <template #cell(action)="data">
        <action-list :actions="actionList" :item="data"></action-list>
      </template>
    </b-table>

    <b-card-body class="d-flex justify-content-between flex-wrap pt-0">
      <!-- page length -->
      <b-form-group
        label="Per Page"
        label-cols="6"
        label-align="left"
        label-size="sm"
        label-for="sortBySelect"
        class="text-nowrap mb-md-0 mr-1"
      >
        <b-form-select
          id="perPageSelect"
          v-model="params.per_page"
          size="sm"
          inline
          :options="pageOptions"
        />
      </b-form-group>

      <!-- pagination -->
      <div>
        <b-pagination
          v-model="params.page"
          :total-rows="pagination.total"
          :per-page="params.per_page"
          first-number
          last-number
          prev-class="prev-item"
          next-class="next-item"
          class="mb-0"
          @change="handlePageChange"
        >
          <template #prev-text>
            <feather-icon icon="ChevronLeftIcon" size="18" />
          </template>
          <template #next-text>
            <feather-icon icon="ChevronRightIcon" size="18" />
          </template>
        </b-pagination>
      </div>
    </b-card-body>

    <b-modal
      id="mutasi-payment"
      v-model="mutasi.status"
      centered
      :title="`${mutasi.mode === 'add' ? 'Create' : 'Edit'} Payment`"
      no-close-on-backdrop
      cancel-variant="flat-danger"
      ok-variant="secondary"
      ok-title="Submit"
      cancel-title="Cancel"
      @ok="validationForm"
    >
      <b-card-text>
        <validation-observer ref="mutationPayment">
          <b-form @submit.stop.prevent="validationForm">
            <b-form-group label="Payment Image" label-for="photo_url">
              <drag-image
                :is-error="imgRules.error"
                :default-file="formatImage(form.photo_url, 'payment')"
                @change="form.photo_url = $event"
              ></drag-image>
            </b-form-group>
            <b-form-group label="Bank Name" label-for="bank_name">
              <validation-provider
                #default="{ errors }"
                vid="bank_name"
                name="Bank Name"
                rules="required"
              >
                <b-form-input
                  id="bank_name"
                  v-model="form.bank_name"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Bank Name"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
            <b-form-group label="Bank Number" label-for="bank_no">
              <validation-provider
                #default="{ errors }"
                vid="bank_no"
                name="Bank Number"
                rules="required"
              >
                <b-form-input
                  id="bank_no"
                  v-model="form.bank_no"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Bank Number"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
            <b-form-group label="Atas Nama" label-for="atas_nama">
              <validation-provider
                #default="{ errors }"
                vid="atas_nama"
                name="Atas Nama"
                rules="required"
              >
                <b-form-input
                  id="atas_nama"
                  v-model="form.atas_nama"
                  :state="errors.length > 0 ? false : null"
                  placeholder="Bank Name"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-form>
        </validation-observer>
      </b-card-text>
    </b-modal>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import ActionList from '@core/components/ActionList.vue'
import _ from 'lodash'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'
import DragImage from '@core/components/DragImage.vue'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BCardCode,
    ActionList,
    DragImage,
  },
  data() {
    return {
      required,
      imgRules: {
        error: false,
        message: 'The Cover Pre Order field is required',
      },
      pageOptions: [10, 25, 100],
      form: {
        id: null,
        photo_url: null,
        bank_name: null,
        atas_nama: null,
        bank_no: null,
      },
      fields: [
        { key: 'photo_url', label: 'Image', sortable: false },
        { key: 'bank_name', label: 'Bank Name', sortable: true },
        { key: 'bank_no', label: 'Bank No', sortable: true },
        { key: 'atas_nama', label: 'Atas Nama', sortable: true },
        { key: 'active', label: 'Active', sortable: true },
        { key: 'action', label: 'Action', sortable: false },
      ],
      actionList: [
        {
          title: 'Edit',
          onClick: (row) => this.handleEdit(row.item),
          icon: 'ArchiveIcon',
        },
        {
          title: 'Delete',
          onClick: (row) => this.handleDelete(row.item),
          icon: 'Trash2Icon',
        },
      ],
      mutasi: {
        status: false,
        mode: 'add',
      },
      params: {
        page: 1,
        per_page: 10,
        sort: 'updated_at',
        order: 'desc',
        search: '',
      },
    }
  },
  computed: {
    datas() {
      return this.$store.get('paymentAdmin/datas') || []
    },
    pagination() {
      return this.$store.get('paymentAdmin/pagination') || {}
    },
    loading() {
      return this.$store.get('paymentAdmin/loading')
    },
    error() {
      return this.$store.get('paymentAdmin/error')
    },
    show_alert() {
      return this.$store.get('paymentAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('paymentAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('paymentAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('paymentAdmin/alert_status')
    },
    sorting() {
      return { sort: this.params.sort, order: this.params.order }
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('paymentAdmin/show_alert', false)
      }
    },
    'params.per_page': function () {
      this.load()
    },
    'params.page': function () {
      this.load()
    },
    sorting() {
      this.load()
    },
    'params.search': function () {
      this.handleSearch()
    },
    error: {
      handler(newVal) {
        if(!_.isEmpty(newVal)) {
          this.$refs.mutationPayment.setErrors(newVal)
        }
      },
      immediate: true,
    },
    'form.photo_url': {
      handler(newVal) {
        if (newVal) {
          this.imgRules.error = false
        }
      },
      immedite: true,
    },
  },
  mounted() {
    this.load()
  },

  methods: {
    async load() {
      await this.$store.dispatch('paymentAdmin/load', this.params)
    },
    sortChanged(e) {
      const sort = e?.sortBy
      const order = e?.sortDesc ? 'desc' : 'asc'

      this.params = { ...this.params, sort, order }
    },
    handlePageChange(value) {
      this.params.page = value
    },
    handleSearch: _.debounce(function () {
      this.load()
    }, 500),
    handleAdd() {
      this.mutasi.status = true
      this.mutasi.mode = 'add'
      this.form = {
        id: null,
        photo_url: '',
        bank_name: null,
        atas_nama: null,
        bank_no: null,
      }
    },
    handleEdit(item) {
      this.mutasi.status = true
      this.mutasi.mode = 'edit'
      this.form = {
        id: item.id,
        bank_name: item.bank_name,
        atas_nama: item.atas_nama,
        bank_no: item.bank_no,
        photo_url: item.photo_url,
      }
    },
    validationForm(bvModalEvt) {
      // eslint-disable-next-line no-unused-expressions
      bvModalEvt?.preventDefault()
      this.$refs.mutationPayment.validate().then((success) => {
        if (!this.form.photo_url) {
          this.imgRules.error = true
          return
        }

        if (success && this.form.photo_url) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      this.$refs.mutationPayment.setErrors({})
      let res = false

      const isEdit = this.mutasi.mode === 'edit'

      const formData = new FormData()
      formData.append('bank_name', this.form.bank_name)
      formData.append('bank_no', this.form.bank_no)
      formData.append('atas_nama', this.form.atas_nama)

      if (typeof this.form.photo_url === 'object') {
        formData.append('photo_url', this.form.photo_url)
      }

      if (isEdit) {
        // EDIT Payment
        res = await this.$store.dispatch('paymentAdmin/update', {
          id: this.form.id,
          data: formData,
        })
      } else {
        res = await this.$store.dispatch('paymentAdmin/create', formData)
      }

      if (res) {
        // Do something when success
        this.mutasi.status = false
        this.load()
        this.$swal({
          title: 'Success',
          text: isEdit
            ? 'Payment successfully updated'
            : 'Payment successfully created',
          icon: 'success',
          customClass: {
            confirmButton: 'btn btn-primary',
          },
          buttonsStyling: false,
        })
      }
      this.setLoading(false)
    },
    handleDelete(item) {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete this methods ${item.bank_name}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.onDelete(item.id)
        }
      })
    },
    async onDelete(id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('paymentAdmin/delete', id)

      if (res) {
        this.load()
        this.$swal({
          icon: 'success',
          title: 'Deleted!',
          text: 'The payment method has been deleted.',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
      this.setLoading(false)
    },
    async handleActive(checked, id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('paymentAdmin/active', {
        id,
        active: checked ? 1 : 0,
      })

      if (res) {
        this.load()
      }

      this.setLoading(false)
    },
  },
}
</script>