<template>
  <ul>
    <vertical-nav-menu-landing
      v-for="(item, index) in items"
      :key="`menu-${index}`"
      :item="item"
    ></vertical-nav-menu-landing>
  </ul>
</template>

<script>
import VerticalNavMenuLanding from '../vertical-nav-menu-link/VerticalNavMenuLanding.vue'

export default {
  components: {
    VerticalNavMenuLanding,
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
}
</script>
