<template>
  <b-card-code no-body no-header>
    <b-card-body>
      <b-row>
        <b-col cols="12" md="6" order="2" order-sm="1">
          <b-form-group
            label="Search"
            label-align-sm="left"
            label-cols-sm="2"
            class="mb-0"
          >
            <b-form-input
              id="searchProduct"
              v-model="params.search"
              type="search"
              placeholder="Type to Search"
            />
          </b-form-group>
        </b-col>
        <b-col
          cols="12"
          md="6"
          order="1"
          order-sm="2"
          class="d-flex justify-content-end"
        >
          <b-button
            variant="secondary"
            @click="$router.push('/admin/product/create')"
          >
            <feather-icon icon="PlusIcon" />
            <span class="ml-25 align-middle">Add New</span>
          </b-button>
        </b-col>
      </b-row>
    </b-card-body>
    <b-table
      hover
      responsive
      :current-page="params.page"
      per-page="0"
      :items="datas"
      :fields="fields"
      :busy="loading"
      show-empty
      @sort-changed="sortChanged"
    >
      <template #table-busy>
        <div class="text-center my-2">
          <b-spinner small type="grow"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template #cell(photo_url)="data">
        <b-img-lazy
          :src="formatImage(data.value)"
          :alt="data.item.name"
          style="border-radius: 8px; object-fit: cover"
          width="100"
          height="100"
        ></b-img-lazy>
      </template>
      <template #cell(price)="data">
        {{ formatRupiah(data.value) }}
      </template>
      <template #cell(action)="data">
        <action-list :actions="actionList" :item="data"></action-list>
      </template>
    </b-table>

    <b-card-body class="d-flex justify-content-between flex-wrap pt-0">
      <!-- page length -->
      <b-form-group
        label="Per Page"
        label-cols="6"
        label-align="left"
        label-size="sm"
        label-for="sortBySelect"
        class="text-nowrap mb-md-0 mr-1"
      >
        <b-form-select
          id="perPageSelect"
          v-model="params.per_page"
          size="sm"
          inline
          :options="pageOptions"
        />
      </b-form-group>

      <!-- pagination -->
      <div>
        <b-pagination
          v-model="params.page"
          :total-rows="pagination.total"
          :per-page="params.per_page"
          first-number
          last-number
          prev-class="prev-item"
          next-class="next-item"
          class="mb-0"
          @change="handlePageChange"
        >
          <template #prev-text>
            <feather-icon icon="ChevronLeftIcon" size="18" />
          </template>
          <template #next-text>
            <feather-icon icon="ChevronRightIcon" size="18" />
          </template>
        </b-pagination>
      </div>
    </b-card-body>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import ActionList from '@core/components/ActionList.vue'
import _ from 'lodash'

export default {
  components: {
    BCardCode,
    ActionList,
  },
  data() {
    return {
      pageOptions: [10, 25, 100],
      fields: [
        {
          key: 'photo_url',
          label: 'Photo',
        },
        { key: 'name', label: 'Product Name', sortable: true },
        { key: 'price', label: 'Price (Rp)', sortable: true },
        { key: 'action', label: 'Action', sortable: false },
      ],
      actionList: [
        {
          title: 'Edit Product',
          onClick: (row) =>
            this.$router.push(`/admin/product/edit/${row.item.id}`),
          icon: 'EditIcon',
        },
        {
          title: 'Edit Variants',
          onClick: (row) =>
            this.$router.push(`/admin/product/${row.item.id}/variant/edit`),
          icon: 'ArchiveIcon',
        },
        {
          title: 'Delete',
          onClick: (row) => this.handleDelete(row.item),
          icon: 'Trash2Icon',
        },
      ],
      params: {
        page: 1,
        per_page: 10,
        sort: 'updated_at',
        order: 'desc',
        search: '',
      },
    }
  },
  computed: {
    datas() {
      return this.$store.get('productAdmin/datas') || []
    },
    pagination() {
      return this.$store.get('productAdmin/pagination') || {}
    },
    loading() {
      return this.$store.get('productAdmin/loading')
    },
    show_alert() {
      return this.$store.get('productAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('productAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('productAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('productAdmin/alert_status')
    },
    sorting() {
      return { sort: this.params.sort, order: this.params.order }
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('productAdmin/show_alert', false)
      }
    },
    'params.per_page': function () {
      this.load()
    },
    'params.page': function () {
      this.load()
    },
    sorting() {
      this.load()
    },
    'params.search': function () {
      this.handleSearch()
    },
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      await this.$store.dispatch('productAdmin/load', this.params)
    },
    sortChanged(e) {
      const sort = e?.sortBy
      const order = e?.sortDesc ? 'desc' : 'asc'

      this.params = { ...this.params, sort, order }
    },
    handlePageChange(value) {
      this.params.page = value
    },
    handleSearch: _.debounce(function () {
      this.load()
    }, 500),
    handleDelete(item) {
      this.$swal({
        title: 'Confirmation',
        text: `Are you sure to delete this product ${item.name}?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
          confirmButton: 'btn btn-danger',
          cancelButton: 'btn btn-flat-secondary ml-1',
        },
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.onDelete(item.id)
        }
      })
    },
    async onDelete(id) {
      this.setLoading(true)
      const res = await this.$store.dispatch('productAdmin/delete', id)

      if (res) {
        this.load()
        this.$swal({
          icon: 'success',
          title: 'Deleted!',
          text: 'The product has been deleted.',
          customClass: {
            confirmButton: 'btn btn-success',
          },
        })
      }
      this.setLoading(false)
    },
  },
}
</script>