<template>
  <b-card-code no-body no-header>
    <b-card-body>
      <validation-observer ref="mutationProduct">
        <b-form @submit.prevent="validationForm">
          <b-row>
            <!-- Product Name -->
            <b-col cols="12" sm="6">
              <b-form-group label="Product Name" label-for="name">
                <validation-provider
                  #default="{ errors }"
                  name="Product Name"
                  rules="required"
                  vid="name"
                >
                  <b-form-input
                    id="name"
                    v-model="form.name"
                    :state="errors.length > 0 ? false : null"
                    placeholder="Product Name"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <!-- Price -->
            <b-col cols="12" sm="6">
              <b-form-group label="Price" label-for="price">
                <validation-provider
                  #default="{ errors }"
                  name="Price"
                  rules="required"
                  vid="price"
                >
                  <b-input-group>
                    <b-input-group-prepend is-text>Rp</b-input-group-prepend>
                    <cleave
                      id="price"
                      v-model="form.price"
                      :class="[
                        'form-control',
                        { 'is-invalid': !!errors.length },
                      ]"
                      :raw="true"
                      :options="optionNumber"
                      placeholder="ex: 10.000"
                    />
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <!-- Product Description -->
            <b-col cols="12">
              <b-form-group label="Description" label-for="description">
                <validation-provider
                  #default="{ errors }"
                  name="Product Description"
                  vid="description"
                >
                  <rich-editor
                    :value="form.description"
                    @change:value="form.description = $event"
                  ></rich-editor>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col cols="12" sm="4">
              <b-form-group label="Photo Product" label-for="photo">
                <drag-image
                  ref="photo"
                  style="min-width: 200px"
                  :default-file="img"
                  :is-error="imgRules.error"
                  @change="form.photo_url = $event"
                ></drag-image>
                <small v-if="imgRules.error" class="text-danger">{{
                  imgRules.message
                }}</small>
              </b-form-group>
            </b-col>

            <!-- Submit button -->
            <b-col cols="12">
              <div class="d-flex justify-content-end justify-content-sm-start">
                <b-button variant="secondary" type="submit"> Submit </b-button>
              </div>
            </b-col>
          </b-row>
        </b-form>
      </validation-observer>
    </b-card-body>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, numeric } from '@validations'
import Cleave from 'vue-cleave-component'
import DragImage from '@core/components/DragImage.vue'
import RichEditor from '@core/components/RichEditor.vue'
import _ from 'lodash'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BCardCode,
    Cleave,
    RichEditor,
    DragImage,
  },
  data() {
    return {
      required,
      numeric,
      imgRules: {
        error: false,
        message: 'The Photo Product field is required',
      },
      form: {
        name: '',
        photo_url: null,
        price: null,
        description: '',
      },
    }
  },
  computed: {
    product_id() {
      return this.$route.params.id
    },
    error() {
      return this.$store.get('productAdmin/error')
    },
    show_alert() {
      return this.$store.get('productAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('productAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('productAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('productAdmin/alert_status')
    },
    img() {
      return typeof this.form.photo_url === 'string'
        ? this.formatImage(this.form.photo_url)
        : null
    },
  },
  watch: {
    'form.photo_url': {
      handler(newVal) {
        if (newVal) {
          this.imgRules.error = false
        }
      },
      immedite: true,
    },
    show_alert(val) {
      if (val) {
        if (this.alert_status === 'success') {
          this.$swal({
            title: this.alert_title,
            text: this.alert_message,
            icon: 'success',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
            buttonsStyling: false,
          }).then((result) => {
            if (result.value) {
              this.$router.push('/admin/product/list')
            }
          })
        } else {
          this.$bvToast.toast(this.alert_message, {
            title: this.alert_title,
            variant: this.alert_status,
            solid: true,
          })
        }
        this.$store.set('productAdmin/show_alert', false)
      }
    },
    error: {
      handler(newVal) {
        if (!_.isEmpty(newVal)) {
          this.$refs.mutationProduct.setErrors(newVal)
        }
      },
      immediate: true,
    },
  },
  mounted() {
    if (this.product_id) {
      this.getById()
    }
  },
  methods: {
    async getById() {
      this.setLoading(true)
      const res = await this.$store.dispatch(
        'productAdmin/loadById',
        this.product_id
      )

      if (res) {
        this.form = JSON.parse(JSON.stringify(res))
      }
      this.setLoading(false)
    },
    validationForm() {
      this.$refs.mutationProduct.validate().then((success) => {
        if (!this.form.photo_url) {
          this.imgRules.error = true
          return
        }

        if (success && this.form.photo_url) {
          this.onSubmit()
        }
      })
    },
    async onSubmit() {
      this.setLoading(true)
      const formData = new FormData()
      formData.append('name', this.form.name)
      formData.append('price', +this.form.price)

      if (typeof this.form.photo_url === 'object') {
        formData.append('photo_url', this.form.photo_url)
      }

      if (this.form.description) {
        formData.append('description', this.form.description)
      }

      let res = false

      if (this.product_id) {
        // EDIT PRODUCT
        res = await this.$store.dispatch('productAdmin/update', {
          id: this.product_id,
          data: formData,
        })
      } else {
        res = await this.$store.dispatch('productAdmin/create', formData)
      }

      if (res) {
        // Do something when success
      }

      this.setLoading(false)
    },
  },
}
</script>

<style>
</style>