<template>
  <div>
    <div
      ref="googleMap"
      class="google-map"
      style="height: 600px; position: relative"
    ></div>
    <template v-if="Boolean(google) && Boolean(map)">
      <slot :google="google" :map="map" />
    </template>
  </div>
</template>

<script>
import { Loader } from '@googlemaps/js-api-loader'

export default {
  props: {
    mapConfig: { type: Object, default: () => ({}) },
  },
  data() {
    return {
      google: null,
      map: null,
    }
  },
  watch: {
    mapConfig: {
      handler(newVal) {
        if (this.map) {
          this.map.panTo(newVal.center)
        }
      },
      immediate: true,
      deep: true,
    },
  },
  mounted() {
    this.initApi()
  },
  methods: {
    async initApi() {
      const googleMapApi = new Loader({
        apiKey: process.env.MIX_API_KEY_GOOGLE,
        version: 'weekly',
      })
      this.google = await googleMapApi.load()
      this.initializeMap()
    },
    initializeMap() {
      const mapContainer = this.$refs.googleMap
      this.map = new this.google.maps.Map(mapContainer, this.mapConfig)

      this.map.addListener('click', (mouseEvent) => {
        this.$emit('click', mouseEvent.latLng.toJSON())
      })
    },
  },
}
</script>