<template>
  <div></div>
</template>
<script>
export default {
  props: {
    google: {
      type: Object,
      required: true,
    },
    map: {
      type: Object,
      required: true,
    },
    marker: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      markerPos: null,
    }
  },
  watch: {
    marker: {
      handler(newVal) {
        const position = {
          lat: +newVal.position.lat,
          lng: +newVal.position.lng,
        }
        if (this.markerPos) {
          this.markerPos.setPosition(position)
        } else {
          this.markerPos = new this.google.maps.Marker({
            position,
            marker: newVal,
            map: this.map,
          })
        }
      },
      immediate: true,
      deep: true,
    },
  },

  mounted() {
    // eslint-disable-next-line no-new
  },
}
</script>