<template>
  <p class="clearfix mb-0">
    <span class="float-md-left d-block d-md-inline-block mt-25">
      COPYRIGHT © {{ new Date().getFullYear() }}
      <b-link class="ml-25" href="https://mooncena.com" target="_blank">
        mooncena
      </b-link>
      <span class="d-none d-sm-inline-block"
        >, Developed by<b-link class="ml-25" href="https://digirupa.id" target="_blank">
          Digirupa
        </b-link>
      </span>
    </span>

    <span class="float-md-right d-none d-md-block">
      make your dream cake come true
    </span>
  </p>
</template>

<script>
import { BLink } from 'bootstrap-vue'

export default {
  components: {
    BLink,
  },
}
</script>
