// Base Styles
@import 'base/bootstrap';
@import 'base/bootstrap-extended';
@import 'base/colors';
@import 'base/components';

// Template Themes
@import 'base/themes/dark-layout.scss';
@import 'base/themes/semi-dark-layout.scss';

// BSV
$b-table-sort-icon-bg-not-sorted: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='26px' viewBox='0 0 14 26' version='1.1'%3E%3Ctitle%3Earrows%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Artboard' transform='translate(-257.000000, -561.000000)' stroke='%23C6C4D0' stroke-width='2'%3E%3Cg id='arrows' transform='translate(258.000000, 562.000000)'%3E%3Cg id='chevron-down' transform='translate(0.000000, 18.000000)'%3E%3Cpolyline id='Path' points='0 0 6 6 12 0'/%3E%3C/g%3E%3Cg id='chevron-up'%3E%3Cpolyline id='Path' points='12 6 6 0 0 6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$b-table-sort-icon-bg-ascending: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='26px' viewBox='0 0 14 26' version='1.1'%3E%3Ctitle%3Eactive-up%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Artboard' transform='translate(-197.000000, -561.000000)' stroke-width='2'%3E%3Cg id='active-up' transform='translate(198.000000, 562.000000)'%3E%3Cg id='chevron-down' transform='translate(0.000000, 18.000000)' stroke='%23C6C4D0'%3E%3Cpolyline id='Path' points='0 0 6 6 12 0'/%3E%3C/g%3E%3Cg id='chevron-up' stroke='%235E5873'%3E%3Cpolyline id='Path' points='12 6 6 0 0 6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$b-table-sort-icon-bg-descending: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='26px' viewBox='0 0 14 26' version='1.1'%3E%3Ctitle%3Eactive-down%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Artboard' transform='translate(-227.000000, -561.000000)' stroke-width='2'%3E%3Cg id='active-down' transform='translate(228.000000, 562.000000)'%3E%3Cg id='chevron-down' transform='translate(0.000000, 18.000000)' stroke='%235E5873'%3E%3Cpolyline id='Path' points='0 0 6 6 12 0'/%3E%3C/g%3E%3Cg id='chevron-up' stroke='%23C6C4D0'%3E%3Cpolyline id='Path' points='12 6 6 0 0 6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

$b-table-sort-icon-bg-dark-not-sorted: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='26px' viewBox='0 0 14 26' version='1.1'%3E%3Ctitle%3Earrow-dark%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Artboard' transform='translate(-259.000000, -621.000000)' stroke='%23747A88' stroke-width='2'%3E%3Cg id='arrow-dark' transform='translate(260.000000, 622.000000)'%3E%3Cg id='chevron-down' transform='translate(0.000000, 18.000000)'%3E%3Cpolyline id='Path' points='0 0 6 6 12 0'/%3E%3C/g%3E%3Cg id='chevron-up'%3E%3Cpolyline id='Path' points='12 6 6 0 0 6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$b-table-sort-icon-bg-dark-ascending: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='26px' viewBox='0 0 14 26' version='1.1'%3E%3Ctitle%3Eactive-up-dark%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Artboard' transform='translate(-199.000000, -621.000000)' stroke-width='2'%3E%3Cg id='active-up-dark' transform='translate(200.000000, 622.000000)'%3E%3Cg id='chevron-down' transform='translate(0.000000, 18.000000)' stroke='%23747A88'%3E%3Cpolyline id='Path' points='0 0 6 6 12 0'/%3E%3C/g%3E%3Cg id='chevron-up' stroke='%23B4B7BC'%3E%3Cpolyline id='Path' points='12 6 6 0 0 6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$b-table-sort-icon-bg-dark-descending: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='26px' viewBox='0 0 14 26' version='1.1'%3E%3Ctitle%3Eactive-dow-dark%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Artboard' transform='translate(-229.000000, -621.000000)' stroke-width='2'%3E%3Cg id='active-dow-dark' transform='translate(230.000000, 622.000000)'%3E%3Cg id='chevron-down' transform='translate(0.000000, 18.000000)' stroke='%23B4B7BC'%3E%3Cpolyline id='Path' points='0 0 6 6 12 0'/%3E%3C/g%3E%3Cg id='chevron-up' stroke='%23747A88'%3E%3Cpolyline id='Path' points='12 6 6 0 0 6'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
@import '~bootstrap-vue/src/index.scss';

// Vue Specific
@import 'vue/index';

.semi-dark-layout {
    /************ Main Menu **************/

    // main menu
    .main-menu {
        background-color: $primary;
        .shadow-bottom {
            background: linear-gradient(
                180deg,
                $primary 44%,
                rgba($primary, 0.51) 73%,
                rgba($primary, 0)
            );
        }
        &:not(.expanded) {
            .navigation {
                .sidebar-group-active {
                    a {
                        background-color: $theme-dark-body-bg;
                    }
                }
            }
        }
        .navigation {
            > li {
                &.active {
                    z-index: 1;
                    > a {
                        background: linear-gradient(
                            118deg,
                            rgba($white, 1),
                            rgba($white, 0.7)
                        );
                        box-shadow: 0 0 10px 1px rgba($white, 0.7);
                        color: $primary;
                    }
                }
            }
            .active {
                background: linear-gradient(
                    118deg,
                    rgba($primary, 1),
                    rgba($primary, 0.7)
                );
            }
        }
        .navbar-header {
            .navbar-brand {
                .brand-logo img {
                    max-width: 170px;
                }
            }
        }
        &.menu-dark {
            a {
                &.nav-link {
                    color: $white;
                }
            }

            .navigation {
                &.vertical-nav-horizontal {
                    > li {
                        > a {
                            margin: 0;
                            box-shadow: unset;
                        }
                    }
                }

                > li.open:not(.menu-item-closing) > a {
                    background-color: $dark-primary;
                    color: $white;
                }

                > li.sidebar-group-active > a {
                    background-color: $dark-primary;
                    color: $white;
                }

                > li {
                    ul {
                        .active {
                            background: linear-gradient(
                                118deg,
                                rgba($white, 1),
                                rgba($white, 0.7)
                            );
                            box-shadow: 0 0 10px 1px rgba($white, 0.7);
                            border-radius: 4px;
                            z-index: 1;
                            > a {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }

    .horizontal-layout {
        .main-menu-content {
            padding: 0 2rem;
        }
    }

    // main menu content
    .main-menu-content {
        .navigation-main {
            background-color: $primary;
            .navigation-header {
                color: $theme-dark-text-muted-color;
            }
            .nav-item {
                a {
                    color: $white;
                }
                &.open {
                    a {
                        background-color: $theme-dark-body-bg;
                    }
                }
                a:after,
                a {
                    color: $white;
                }
                .menu-content {
                    background-color: $primary;
                    .active {
                        .menu-item {
                            color: $primary;
                        }
                    }
                    li:not(.active) {
                        a {
                            background-color: $primary;
                        }
                    }
                }
            }
            .active {
                .has-sub {
                    .menu-title,
                    i {
                        color: $white;
                    }
                }

                .menu-title,
                i {
                    color: $primary;
                }
            }
            .sidebar-group-active {
                a {
                    background: $primary;
                    border-radius: 4px;
                }
                .menu-content {
                    background-color: $primary;
                    .active {
                        z-index: 1;
                        a {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    // menu collapsed active item color
    .menu-collapsed {
        .main-menu:not(.expanded) {
            .navigation-main {
                li.active {
                    > a {
                        background: $white !important;
                        color: $primary !important;
                    }
                }
            }
        }
    }
}

.navbar-light {
    background: $primary;

    &.navbar-horizontal {
        background: $primary;
    }

    .navbar-nav {
        .active {
            &.nav-link {
                background-color: rgba($black, 0.03);
            }
        }

        .disabled {
            &.nav-link {
                color: $nav-link-disabled-color;
            }
        }
    }
}

.horizontal-layout {
    &.horizontal-menu {
        .header-navbar {
            background: $primary !important;
            &.navbar-brand-center {
                .navbar-header {
                    position: unset;
                    left: unset;
                    .navbar-brand {
                        .brand-logo img {
                            max-width: 170px;
                        }
                    }
                }
            }

            .navbar-container {
                ul.navbar-nav {
                    li.nav-item {
                        > a.nav-link,
                        button {
                            color: $white;
                        }
                    }
                }
            }

            &.navbar-horizontal {
                ul#main-menu-navigation > li {
                    padding-top: 0;
                    padding-bottom: 0;
                    &:hover {
                        > a {
                            background: $dark-primary;
                        }
                    }
                    &.active {
                        > a {
                            background: linear-gradient(
                                118deg,
                                rgba($white, 1),
                                rgba($white, 0.7)
                            );
                            box-shadow: 0px 0px 6px 1px rgba($white, 0.6);
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
    // navbar floating
    &.navbar-floating.blank-page {
        .app-content {
            padding-top: #{$navbar-height} !important;
        }
    }

    .header-navbar {
        .navbar-container {
            ul.navbar-nav {
                li.nav-item {
                    > a.nav-link,
                    button {
                        color: $white;
                    }
                }
            }
        }
    }
}

.brand-logo img {
    max-width: 250px;
}

@include media-breakpoint-down(lg) {
    .horizontal-layout {
        .header-navbar.navbar-container {
            background: $primary;
        }
    }
}
