<template>
  <li class="nav-item">
    <b-button variant="flat-secondary" class="btn-icon rounded-circle" @click="$router.push({name: 'cart'})">
      <feather-icon
        :badge="0"
        icon="ShoppingCartIcon"
        size="21"
      />
    </b-button>
  </li>
</template>

<script>
import {
  BNavItemDropdown,
  BBadge,
  BMedia,
  BLink,
  BImg,
  BFormSpinbutton,
  BButton,
} from 'bootstrap-vue'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Ripple from 'vue-ripple-directive'

export default {
  components: {
    BNavItemDropdown,
    BBadge,
    BMedia,
    BLink,
    BImg,
    BFormSpinbutton,
    VuePerfectScrollbar,
    BButton,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      items: [],
      perfectScrollbarSettings: {
        maxScrollbarLength: 60,
        wheelPropagation: false,
      },
    }
  },
  computed: {
    totalAmount() {
      let total = 0
      this.items.forEach((i) => {
        total += i.price
      })
      return total
    },
  },
  methods: {
    fetchItems() {
      this.$store
        .dispatch('app-ecommerce/fetchCartProducts')
        .then((response) => {
          this.items = response.data.products
        })
    },
    removeItemFromCart(productId) {
      this.$store
        .dispatch('app-ecommerce/removeProductFromCart', { productId })
        .then(() => {
          const itemIndex = this.items.findIndex((p) => p.id === productId)
          this.items.splice(itemIndex, 1)

          // Update count in cart items state
          this.$store.commit(
            'app-ecommerce/UPDATE_CART_ITEMS_COUNT',
            this.items.length
          )
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.dropdown-cart {
  .media {
    .media-aside {
      align-items: center;
    }
  }
}
</style>
