<template>
  <li class="nav-item nav-search">
    <!-- Icon -->

    <a
      href="javascript:void(0)"
      class="nav-link nav-link-search"
      @click="showSearchBar = true"
    >
      <b-button variant="flat-secondary" class="btn-icon rounded-circle">
        <feather-icon icon="SearchIcon" size="21" />
      </b-button>
    </a>

    <!-- Input -->
    <div class="search-input" :class="{ open: showSearchBar }">
      <div class="search-input-icon">
        <feather-icon icon="SearchIcon" />
      </div>

      <b-form @submit.prevent="handleSearch">
        <b-form-input
          v-if="showSearchBar"
          v-model="searchQuery"
          placeholder="Explore Mooncena..."
          autofocus
          autocomplete="off"
          @keyup.esc="
            showSearchBar = false
            resetsearchQuery()
          "
          @blur.stop="
            showSearchBar = false
            resetsearchQuery()
          "
        />
      </b-form>
      <div
        class="search-input-close"
        @click="
          showSearchBar = false
          resetsearchQuery()
        "
      >
        <feather-icon icon="XIcon" />
      </div>
    </div>
  </li>
</template>

<script>
export default {
  data() {
    return {
      searchQuery: '',
      showSearchBar: false,
    }
  },
  methods: {
    handleSearch() {
      this.$router.push({ name: 'home', query: { search: this.searchQuery } })
    },
    resetsearchQuery() {
      this.searchQuery = ""
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~@core/scss/base/bootstrap-extended/include';
@import '~@core/scss/base/components/variables-dark';

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}

/* .app-auto-suggest {
  position: relative;
}

.auto-suggest-suggestions-list {
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  border-radius: 6px;
  position: absolute;
  top: calc(100% + 1rem);
  background-color: white;
  width: 100%;
} */

.suggestion-group-title {
  font-weight: 500;
  padding: 0.75rem 1rem 0.25rem;
}

.suggestion-group-suggestion {
  padding: 0.75rem 1rem;
}

.suggestion-current-selected {
  background-color: $body-bg;

  .dark-layout & {
    background-color: $theme-dark-body-bg;
  }
}
</style>
