<template>
  <b-nav-item-dropdown
    right
    toggle-class="d-flex align-items-center dropdown-user-link"
    class="dropdown-user"
  >
    <template #button-content>
      <div class="d-sm-flex d-none user-nav">
        <p class="user-name font-weight-bolder mb-0">
          {{ userData.first_name }}
        </p>
      </div>
      <b-avatar size="40" :src="avatar" variant="secondary"> </b-avatar>
    </template>
    <b-dropdown-item
      v-if="isAdmin"
      :to="{ name: isAdminPage ? 'home' : 'dashboard' }"
      link-class="d-flex align-items-center"
    >
      <feather-icon size="16" icon="HomeIcon" class="mr-50" />
      <span>{{isAdminPage ? "Landing" : "Dashboard"}}</span>
    </b-dropdown-item>
    <b-dropdown-item
      :to="{ name: 'profile' }"
      link-class="d-flex align-items-center"
    >
      <feather-icon size="16" icon="UserIcon" class="mr-50" />
      <span>Profile</span>
    </b-dropdown-item>
    <b-dropdown-item
      :to="{ name: 'order-history' }"
      link-class="d-flex align-items-center"
    >
      <feather-icon size="16" icon="ShoppingBagIcon" class="mr-50" />
      <span>Order History</span>
    </b-dropdown-item>
    <b-dropdown-divider />
    <b-dropdown-item link-class="d-flex align-items-center" @click="logout">
      <feather-icon size="16" icon="LogOutIcon" class="mr-50" />
      <span>Logout</span>
    </b-dropdown-item></b-nav-item-dropdown
  >
</template>

<script>
import {
  BNavItemDropdown,
  BDropdownItem,
  BDropdownDivider,
  BAvatar,
} from 'bootstrap-vue'
import { avatarText } from '@core/utils/filter'
import useJwt from '@/auth/jwt/useJwt'

export default {
  components: {
    BNavItemDropdown,
    BDropdownItem,
    BDropdownDivider,
    BAvatar,
  },
  data() {
    return {
      avatarText,
    }
  },
  computed: {
    avatar() {
      return this.formatImage(this.userData.profile_photo_url, 'avatars')
    },
  },
  methods: {
    async logout() {
      try {
        const resp = await useJwt.logout()

        if (resp.data.success) {
          localStorage.removeItem(useJwt.jwtConfig.storageTokenKeyName)

          if (this.userData?.role === 'admin') {
            this.$router.push({ name: 'dashboard.login' })
          } else {
            this.$router.push({ name: 'login' })
          }
          this.$store.set('user/userData', {})
        }
      } catch (error) {
        console.error(error)
      }
    },
  },
}
</script>
