<template>
  <order-detail-component></order-detail-component>
</template>

<script>
import OrderDetailComponent from '@core/components/OrderDetailComponent.vue'

export default {
  components: { OrderDetailComponent },
}
</script>

<style>
</style>
