<template>
  <b-card no-body>
    <b-card-body>
      <b-row>
        <b-col cols="12" md="3">
          <b-form-group label="Order Number" class="mb-1">
            <b-form-input
              id="search"
              v-model="params.search"
              type="search"
              placeholder="Type to search order number"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12" md="3">
          <b-form-group label="Customer" class="mb-1">
            <b-form-input
              id="search_customer"
              v-model="params.customer"
              type="search"
              placeholder="Type to search customer"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12" md="3">
          <b-form-group label="Order For" class="mb-1 mb-sm-0">
            <flat-pickr
              v-model="params.order_date"
              class="form-control"
              placeholder="Order date"
              clearable
            />
          </b-form-group>
        </b-col>
        <!-- <b-col cols="12" md="3">
          <b-form-group label="Order End Date" class="mb-1 mb-sm-0">
            <flat-pickr
              v-model="params.order_date_end"
              class="form-control"
              :config="config.end"
              placeholder="End date"
            />
          </b-form-group>
        </b-col> -->
        <b-col cols="12" md="3">
          <b-form-group label="Delivery Type" class="mb-1 mb-sm-0">
            <v-select
              v-model="params.delivery_type"
              label="title"
              :reduce="(type) => type.value"
              :options="optionDeliveryType"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12" md="3">
          <b-form-group label="Status" class="mb-1 mb-sm-0">
            <v-select
              v-model="params.status"
              label="title"
              :reduce="(status) => status.value"
              :options="optionStatus"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12" md="3">
          <b-form-group label="Created Start Date" class="mb-1 mb-sm-0">
            <flat-pickr
              v-model="params.created_date_start"
              class="form-control"
              placeholder="Start date"
              clearable
              :config="config.start"
              @on-change="onStartChange"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12" md="3">
          <b-form-group label="Created End Date" class="mb-1 mb-sm-0">
            <flat-pickr
              v-model="params.created_date_end"
              class="form-control"
              :config="config.end"
              placeholder="End date"
            />
          </b-form-group>
        </b-col>
      </b-row>
    </b-card-body>

    <b-table
      hover
      responsive
      :current-page="params.page"
      per-page="0"
      :items="datas"
      :fields="fields"
      :busy="loading"
      show-empty
      class="position-relative"
      @sort-changed="sortChanged"
    >
      <template #table-colgroup="scope">
        <col
          v-for="field in scope.fields"
          :key="field.key"
          :style="{
            'min-width':
              field.key === 'order_detail'
                ? '250px'
                : field.key === 'gift_card'
                ? '300px'
                : '150px',
          }"
        />
      </template>
      <template #table-busy>
        <div class="text-center my-2">
          <b-spinner small type="grow"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
      <template #cell(first_name)="data">
        {{ data.item.user_detail.first_name }}
        {{ data.item.user_detail.last_name }}
      </template>
      <template #cell(phone)="data">
        {{ data.value || '-' }}
      </template>
      <template #cell(order_date)="data">
        {{ data.value | formatDateTime }}
      </template>
      <template #cell(order_detail)="data">
        <template v-if="data.item.order_item && data.item.order_item.length">
          <div
            v-for="item in data.item.order_item"
            :key="`product-${data.item.id}-${item.id}`"
          >
            <p class="mb-0">
              <span class="text-muted">Product </span>
              {{ item.product_name }}
            </p>
            <small><span class="text-muted">Qty </span> {{ item.qty }}</small>
            <div class="pl-1">
              <p
                v-for="variant in item.order_item_variants"
                :key="`variant-${data.item.id}-${item.id}-${variant.id}`"
                class="mb-0"
              >
                - <span class="text-muted">{{ variant.variant_name }}:</span>
                {{ variant.variant_item_name }}
              </p>
            </div>
          </div>
        </template>
      </template>
      <template #cell(gift_card)="data">
        <template v-if="data.item.order_item && data.item.order_item.length">
          <div
            v-for="item in data.item.order_item"
            :key="`product-${data.item.id}-${item.id}`"
          >
            <p class="mb-0">
              <span class="text-muted">Product </span>
              {{ item.product_name }}
            </p>
            <div v-if="item.order_item_meta.length" class="pl-1">
              <p
                v-for="meta in item.order_item_meta"
                :key="`meta-${data.item.id}-${item.id}-${meta.id}`"
                class="mb-0"
              >
                {{ meta.meta_value }}
              </p>
            </div>
            <span v-else class="font-italic text-muted">— No gift card</span>
          </div>
        </template>
        <span v-else>-</span>
      </template>
      <template #cell(created_at)="data">
        {{ data.value | formatDate }}
      </template>
      <template #cell(status)="data">
        <p class="mb-50">
          {{ data.item.delivery_type | formatDelivery }}
        </p>
        <b-badge :variant="data.value | getColorStatus" class="text-capitalize">
          {{ data.value | formatStatus }}
        </b-badge>
      </template>
      <template #cell(total_price)="data">
        {{ formatRupiah(data.value) }}
      </template>
      <template #cell(action)="data">
        <b-button
          v-b-tooltip.hover
          title="View Detail"
          variant="flat-primary"
          class="btn-icon"
          @click="handleView(data)"
        >
          <feather-icon icon="EyeIcon" />
        </b-button>
        <b-button
          v-b-tooltip.hover
          title="View Decoration"
          variant="flat-primary"
          class="btn-icon"
          @click="data.toggleDetails"
        >
          <feather-icon icon="CameraIcon" />
        </b-button>
      </template>

      <template #row-details="row">
        <b-card>
          <div v-for="item in row.item.order_item" :key="`photo-${item.id}`">
            <p class="mb-50">
              <span class="text-muted">Product </span>
              {{ item.product_name }}
            </p>
            <div class="d-flex">
              <div
                v-for="(img, index) in item.custom_photo"
                :key="`custom-lazy-${img.id}`"
                class="mr-1 cursor-pointer"
                @click="
                  handleShowImage(
                    formatImage(
                      img.meta_value,
                      `orders/${row.item.order_number.replace(
                        '#',
                        ''
                      )}/${item.product_name.split(' ').join('-')}_${item.id}`
                    )
                  )
                "
              >
                <b-img-lazy
                  :src="
                    formatImage(
                      img.meta_value,
                      `orders/${row.item.order_number.replace(
                        '#',
                        ''
                      )}/${item.product_name.split(' ').join('-')}_${item.id}`
                    )
                  "
                  class="rounded"
                  style="object-fit: cover; height: 60px"
                  width="60"
                  height="60"
                ></b-img-lazy>
              </div>
            </div>
          </div>
        </b-card>
      </template>
    </b-table>

    <b-modal v-model="imageShow" size="lg" class="text-center" hide-footer>
      <b-img :src="imageSelected" style="width: 100%"></b-img>
    </b-modal>

    <b-card-body class="d-flex justify-content-between flex-wrap pt-0">
      <!-- page length -->
      <b-form-group
        label="Per Page"
        label-cols="6"
        label-align="left"
        label-size="sm"
        label-for="sortBySelect"
        class="text-nowrap mb-md-0 mr-1"
      >
        <b-form-select
          id="perPageSelect"
          v-model="params.per_page"
          size="sm"
          inline
          :options="pageOptions"
        />
      </b-form-group>

      <!-- pagination -->
      <div>
        <b-pagination
          v-model="params.page"
          :total-rows="pagination.total"
          :per-page="params.per_page"
          first-number
          last-number
          prev-class="prev-item"
          next-class="next-item"
          class="mb-0"
          @change="handlePageChange"
        >
          <template #prev-text>
            <feather-icon icon="ChevronLeftIcon" size="18" />
          </template>
          <template #next-text>
            <feather-icon icon="ChevronRightIcon" size="18" />
          </template>
        </b-pagination>
      </div>
    </b-card-body>
  </b-card>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'

export default {
  components: { flatPickr, vSelect },
  filters: {
    formatStatus(status = '') {
      return (status || '').replaceAll('_', ' ')
    },
    getColorStatus(status) {
      switch (status) {
        case 'waiting_payment':
          return 'light-warning'
        case 'waiting_confirmation':
          return 'warning'
        case 'process':
          return 'light-info'
        case 'ready_pickup':
          return 'info'
        case 'delivery':
          return 'info'
        case 'done':
          return 'success'
        case 'reject':
          return 'danger'

        default:
          return 'primary'
      }
    },
    formatDelivery(type = '') {
      switch (type) {
        case 'pickup':
          return 'Self Pickup'
        case 'ojek':
          return 'Ojek Online'

        default:
          return 'Delivery Courier'
      }
    },
    formatDate(date) {
      return moment(date).format('DD MMM YYYY')
    },
    formatDateTime(date) {
      return moment(date).format('DD MMM YYYY HH:mm')
    },
  },
  data() {
    return {
      imageShow: false,
      imageSelected: null,
      pageOptions: [10, 25, 100],
      fields: [
        {
          key: 'order_number',
          label: '#',
          sortable: true,
        },
        { key: 'first_name', label: 'Customer', sortable: true },
        { key: 'phone', label: 'Phone Number', sortable: true },
        { key: 'order_date', label: 'Order For', sortable: true },
        { key: 'order_detail', label: 'Order Detail', sortable: false },
        { key: 'gift_card', label: 'Gift Card', sortable: false },
        { key: 'total_price', label: 'Price (Rp)', sortable: true },
        { key: 'status', label: 'Status', sortable: true },
        { key: 'created_at', label: 'Created Date', sortable: true },
        { key: 'action', label: 'Action', sortable: false, _showDetails: true },
      ],
      params: {
        page: 1,
        per_page: 10,
        sort: 'updated_at',
        order: 'desc',
        search: '',
        customer: '',
        delivery_type: '',
        status: '',
        order_date: '',
        created_date_start: '',
        created_date_end: '',
      },
      config: {
        start: { disableMobile: 'true' },
        end: { disableMobile: 'true', minDate: null },
      },
    }
  },
  computed: {
    datas() {
      return this.$store.get('orderAdmin/datas') || []
    },
    pagination() {
      return this.$store.get('orderAdmin/pagination') || {}
    },
    loading() {
      return this.$store.get('orderAdmin/loading')
    },
    show_alert() {
      return this.$store.get('orderAdmin/show_alert')
    },
    alert_message() {
      return this.$store.get('orderAdmin/alert_message')
    },
    alert_title() {
      return this.$store.get('orderAdmin/alert_title')
    },
    alert_status() {
      return this.$store.get('orderAdmin/alert_status')
    },
    sorting() {
      return { sort: this.params.sort, order: this.params.order }
    },
    // filter_date_order() {
    //   return {
    //     start: this.params.order_date_start,
    //     end: this.params.order_date_end,
    //   }
    // },
    filter_date_created() {
      return {
        start: this.params.created_date_start,
        end: this.params.created_date_end,
      }
    },
    optionStatus() {
      return [
        {
          title: 'All',
          value: '',
        },
        {
          title: 'Waiting Payment',
          value: 'waiting_payment',
        },
        {
          title: 'Waiting Confirmation',
          value: 'waiting_confirmation',
        },
        {
          title: 'Process',
          value: 'process',
        },
        {
          title: 'Ready Pickup',
          value: 'ready_pickup',
        },
        {
          title: 'Delivery',
          value: 'delivery',
        },
        {
          title: 'Done',
          value: 'done',
        },
        {
          title: 'Reject',
          value: 'reject',
        },
      ]
    },
    optionDeliveryType() {
      return [
        {
          title: 'All',
          value: '',
        },
        {
          title: 'Delivery Courier',
          value: 'delivery',
        },
        {
          title: 'Self Pickup',
          value: 'self_pickup',
        },
        {
          title: 'Ojek Online',
          value: 'ojek',
        },
      ]
    },
  },
  watch: {
    show_alert(val) {
      if (val) {
        this.$bvToast.toast(this.alert_message, {
          title: this.alert_title,
          variant: this.alert_status,
          solid: true,
        })
        this.$store.set('pageAdmin/show_alert', false)
      }
    },
    'params.per_page': function () {
      this.load()
    },
    'params.page': function () {
      this.load()
    },
    'params.status': function () {
      this.params.page = 1
      this.load()
    },
    'params.delivery_type': function () {
      this.params.page = 1
      this.load()
    },
    sorting() {
      this.params.page = 1
      this.load()
    },
    'params.search': function () {
      this.params.page = 1
      this.handleSearch()
    },
    'params.customer': function () {
      this.params.page = 1
      this.handleSearch()
    },
    'params.order_date': {
      handler(newVal) {
        if (newVal) {
          this.params.page = 1
          this.load()
        }
      },
      deep: true,
    },
    filter_date_created: {
      handler(newVal) {
        if (newVal.start && newVal.end) {
          this.params.page = 1
          this.load()
        }

        if (!newVal.start && !newVal.end) {
          this.params.page = 1
          this.load()
        }
      },
      deep: true,
    },
  },
  created() {
    this.load()
  },
  methods: {
    async load() {
      await this.$store.dispatch('orderAdmin/load', this.params)
    },
    sortChanged(e) {
      const sort = e?.sortBy
      const order = e?.sortDesc ? 'desc' : 'asc'

      this.params = { ...this.params, sort, order }
    },
    handlePageChange(value) {
      this.params.page = value
    },
    handleSearch: _.debounce(function () {
      this.load()
    }, 500),
    handleView(row) {
      this.$router.push({
        name: 'dashboard.order.detail',
        params: { orderNumber: row.item.order_number },
      })
    },
    onStartChange(__, dateStr) {
      this.config.end.minDate = dateStr
    },
    handleShowImage(image) {
      this.imageSelected = image
      this.imageShow = true
    },
  },
}
</script>