<template>
  <ul
    id="main-menu-navigation"
    class="nav navbar-nav"
  >
    <horizontal-nav-menu-header-link
      v-for="(item, index) in items"
      :key="`menu-header-${index}`"
      :item="item"
    ></horizontal-nav-menu-header-link>
  </ul>
</template>

<script>
import HorizontalNavMenuHeaderLink from '../horizontal-nav-menu-header-link/HorizontalNavMenuHeaderLink.vue'

export default {
  components: {
    HorizontalNavMenuHeaderLink,
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
}
</script>
