//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #90accc;
$secondary: #536779;

$dark-primary: #6d92bc;

