<template>
  <div
    class="
      navbar-container
      header-navbar
      navbar-horizontal
      d-flex
      content
      align-items-center
    "
  >
    <app-navbar-horizontal-layout-brand />
    <horizontal-nav-menu class="d-xl-block d-none" />
    <!-- Nav Menu Toggler -->
    <ul class="nav navbar-nav d-xl-none">
      <li class="nav-item">
        <b-link class="nav-link" @click="toggleVerticalMenuActive">
          <feather-icon icon="MenuIcon" size="21" />
        </b-link>
      </li>
    </ul>

    <!-- Right Col -->
    <b-navbar-nav class="nav align-items-center ml-auto">
      <search-bar />
      <cart-dropdown />
      <user-dropdown v-if="isLoggedIn"/>
      <li v-else class="nav-item">
        <div>
          <b-link :to="{ name: 'login' }">
            <b-button variant="flat-secondary">Login</b-button>
          </b-link>
          <b-link :to="{ name: 'register' }">
            <b-button variant="gradient-secondary">Register</b-button>
          </b-link>
        </div>
      </li>
    </b-navbar-nav>
  </div>
</template>

<script>
import { BLink, BNavbarNav } from 'bootstrap-vue'
import AppNavbarHorizontalLayoutBrand from '@core/layouts/components/app-navbar/AppNavbarHorizontalLayoutBrand.vue'
import SearchBar from './components/SearchBar.vue'
import CartDropdown from './components/CartDropdown.vue'
import UserDropdown from './components/UserDropdown.vue'
import HorizontalNavMenu from '../../layout-horizontal/components/horizontal-nav-menu/HorizontalNavMenu.vue'

export default {
  components: {
    BLink,

    // Navbar Components
    BNavbarNav,
    SearchBar,
    CartDropdown,
    AppNavbarHorizontalLayoutBrand,
    UserDropdown,
    HorizontalNavMenu,
  },
  props: {
    toggleVerticalMenuActive: {
      type: Function,
      default: () => {},
    },
  },
}
</script>
